<?php
$this->headTitle('Bewertunge');
//echo $this->printrTextarea($this->shopBasketEntityRating);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Bewertung zu: <strong><?php echo '' ?></strong>
    <a href="<?php echo $this->url('shop_admin_basket_ratingadmin_ratings') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Bewertungen') ?>
    </a>
</div>



