<?php
$this->headTitle('Bewertungen');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/article-ratings-admin.js?v=0.0.1'));
//echo $this->printrTextarea($this->shopBasketEntityRating);
?>
<h2><?php echo $this->translate('Bewertungen', 'bitkornshop') ?></h2>
<?php if (!empty($this->ratings)) : ?>
    <table class="w3-table w3-table-all">
        <thead>
            <tr class="w3-grey bk-nowrap">
                <th>erstellt</th>
                <th style="width: 20%;">Produkt</th>
                <th><i class="fas fa-shopping-basket"></i> ?</th>
                <th>Wertung</th>
                <th>Anmerkung</th>
                <th><i class="fas fa-eye"></i>?</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->ratings as $rating) : ?>
                <tr>
                    <td><?php echo date('d.m.Y H:i:s', $rating['shop_article_rating_time_create']) ?></td>
                    <td>
                        <a href="<?php echo $this->url('shop_admin_article_articleadmin_editarticle', ['article_id' => $rating['shop_article_id']]) ?>">
                        <?php echo $this->shorterText($rating['shop_article_name'], 50) ?>
                        </a>
                    </td>
                    <td class="w3-center">
                        <?php if (isset($rating['shop_basket_unique'])) : ?>
                            <a href="<?php echo $this->url('shop_admin_basket_basketadmin_basket', ['basket_unique' => $rating['shop_basket_unique']]) ?>">
                                <i class="fas fa-shopping-basket"></i>
                            </a>
                        <?php endif; ?>
                    </td>
                    <td><?php echo $this->barRating($rating['shop_article_rating_value']) ?></td>
                    <td><?php echo $rating['shop_article_rating_text'] ?></td>
                    <td class="w3-center">
                        <?php if ($rating['shop_article_rating_published'] == 1) : ?>
                            <button class="rating-switch w3-button w3-green" value="0"
                                    data-ratingid="<?php echo $rating['shop_article_rating_id'] ?>">
                                <i class="fas fa-check"></i>
                            </button>
                        <?php else: ?>
                            <button class="rating-switch w3-button w3-red" value="1"
                                    data-ratingid="<?php echo $rating['shop_article_rating_id'] ?>">
                                <i class="fas fa-check"></i>
                            </button>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <p>Es liegen noch keine Bewertungen vor.</p>
<?php endif; ?>
