<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        a, a:visited {
            color: black;
        }

        table {
            border-spacing: 0;
            border-collapse: separate;
        }

        .right-align {
            text-align: right;
        }

        .padding-horizontal-4 {
            padding: 0 4px;
        }

        #arround {
            width: 800px;
            padding: 8px;
            border: 2px solid #7d7d7f;
        }

        .logo {
            padding: 6px;
        }

        hr.hr-dottet {
            border: none;
            border-top: 1px dotted #7d7d7f;
        }

        .logo-text {
            font-size: 28px;
            color: #7E1650;
        }

        .text-bold {
            font-weight: bold;
        }

        .text-small-10 {
            font-size: 10px;
        }

        table.basket-summary {
            width: 90%;
        }

        table.basket-summary thead {
            background-color: #999999;
        }

        table.basket-summary tbody {
            background-color: #cccccc;
        }

        table.basket-summary th, table.basket-summary td {
            padding: 2px;
            border: 1px solid #333333;
        }

        .underlined {
            text-decoration: underline;
        }

        .payment-info {
            padding: 4px;
            border: 1px solid #999999;
            background-color: #cccccc;
        }
    </style>
</head>
<body>
<div id="arround">
    <table>
        <tr>
            <td><img src="" alt="Logo" class="logo" style="height: 100px"></td>
            <td><p class="logo-text">More than a name in General Aviation</p></td>
        </tr>
    </table>
    <hr class="hr-dottet">
    <p>
        Sehr geehrte/r <?php echo $this->customerName ?>,
        <br>
        <br>
        bitte bewerten Sie die bei uns gekauften Produkte.
        <br>
        <a href="<?php echo $this->shopUrl ?>/basket-rating/<?php echo $this->shopBasketUnique ?>"><?php echo $this->shopName ?></a>
        <br>
        <br>
        Wir bedanken uns für Ihren Einkauf.
        <br>
        <br>
        Viele Gr&uuml;&szlig;e
        <br>
        <br>
        Ihr Gomolzig-Team
    </p>
    <hr class="hr-dottet">
    <br>
    <p>
        <?php echo $this->impressumHtml ?>
    </p>
    <br>
    <br>
    <br>
    <p class="text-small-10">
        Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat sind
        oder diese E-Mail irrtümlich erhalten haben, informieren Sie bitte sofort den Absender und vernichten Sie diese Mail. Das
        unerlaubte Kopieren sowie die unbefugte Weitergabe dieser E-Mail ist nicht gestattet.
        <br>
        <br>
        This e-mail may contain confidential and/or privileged information. If you are not the intended recipirnt (or have received the
        e-mail in error) please notify the sender immediately and destroy this e-mail. Any unauthorized copying. Disclosure or
        distribution of the material in this e-mail is strictly forbidden.
    </p>
</div>
</body>
</html>
