<?php if ($this->simple) : ?>
    <div class="w3-row w3-small address-display">
        <div class="w3-col l6 m6">
            <h5>Rechnungs-Adresse</h5>
            <?php if (!empty($this->invoiceCompanyName)) : ?>
                <?php echo $this->invoiceCompanyName ?>
                <br>
            <?php endif; ?>
            <?php echo $this->invoiceName ?>
            <br>
            <?php echo $this->invoiceStreet ?>
            <br>
            <?php echo $this->invoiceCity ?>
            <br>
            <?php echo $this->invoiceCountry ?>
            <?php if ($this->type == 'basket') : ?>
                <br>
                <?php echo $this->invoiceEmail ?>
            <?php endif; ?>
            <br>
            <?php echo $this->invoiceTel ?>
        </div>
        <div class="w3-col l6 m6">
            <h5>Versand-Adresse</h5>
            <?php if (isset($this->shippingName)) : ?>
                <?php if (!empty($this->shippingCompanyName)) : ?>
                    <?php echo $this->shippingCompanyName ?>
                    <br>
                    <?php if (!empty($this->shippingCompanyDepartment)) : ?>
                        <?php echo $this->shippingCompanyDepartment ?>
                        <br>
                    <?php endif; ?>
                <?php endif; ?>
                <?php echo $this->shippingName ?>
                <br>
                <?php echo $this->shippingStreet ?>
                <br>
                <?php echo $this->shippingCity ?>
                <br>
                <?php echo $this->shippingCountry ?>
                <?php if ($this->type == 'basket') : ?>
                    <br>
                    <?php echo $this->shippingEmail ?>
                <?php endif; ?>
                <br>
                <?php echo $this->shippingTel ?>
            <?php else: ?>
                <strong>Versand-Adresse ist gleich Rechnungs-Adresse.</strong>
            <?php endif; ?>
        </div>
    </div>
<?php else : ?>
    <div class="w3-row w3-small address-display">
        <div class="w3-col l6 m6 w3-border">
            <table class="w3-table">
                <thead>
                    <tr>
                        <th style="width: 20%;"></th>
                        <th>Rechnungs-Adresse</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (!empty($this->invoiceCompanyName)) : ?>
                        <tr>
                            <td>Firma</td>
                            <td><?php echo $this->invoiceCompanyName ?></td>
                        </tr>
                    <?php endif; ?>
                    <tr>
                        <td>Name</td>
                        <td><?php echo $this->invoiceName ?></td>
                    </tr>
                    <tr>
                        <td>Stra&szlig;e</td>
                        <td><?php echo $this->invoiceStreet ?></td>
                    </tr>
                    <tr>
                        <td>Ort</td>
                        <td><?php echo $this->invoiceCity ?></td>
                    </tr>
                    <tr>
                        <td>Land</td>
                        <td><?php echo $this->invoiceCountry ?></td>
                    </tr>
                    <?php if ($this->type == 'basket') : ?>
                        <tr>
                            <td>Email</td>
                            <td><?php echo $this->invoiceEmail ?></td>
                        </tr>
                    <?php endif; ?>
                    <tr>
                        <td>Telefon</td>
                        <td><?php echo $this->invoiceTel ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w3-col l6 m6 w3-border">
            <?php if (isset($this->shipping)) : ?>
                <table class="w3-table">
                    <thead>
                        <tr>
                            <th style="width: 20%;"></th>
                            <th>Versand-Adresse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if (!empty($this->shippingCompanyName)) : ?>
                            <tr>
                                <td>Firma</td>
                                <td><?php echo $this->shippingCompanyName ?></td>
                            </tr>
                            <?php if (!empty($this->shippingCompanyDepartment)) : ?>
                                <tr>
                                    <td>Abteilung</td>
                                    <td><?php echo $this->shippingCompanyDepartment ?></td>
                                </tr>
                            <?php endif; ?>
                        <?php endif; ?>
                        <tr>
                            <td>Name</td>
                            <td><?php echo $this->shippingName ?></td>
                        </tr>
                        <tr>
                            <td>Stra&szlig;e</td>
                            <td><?php echo $this->shippingStreet ?></td>
                        </tr>
                        <tr>
                            <td>Ort</td>
                            <td><?php echo $this->shippingCity ?></td>
                        </tr>
                        <tr>
                            <td>Land</td>
                            <td><?php echo $this->shippingCountry ?></td>
                        </tr>
                        <?php if ($this->type == 'basket') : ?>
                            <tr>
                                <td>Email</td>
                                <td><?php echo $this->shippingEmail ?></td>
                            </tr>
                        <?php endif; ?>
                        <tr>
                            <td>Telefon</td>
                            <td><?php echo $this->shippingTel ?></td>
                        </tr>
                    </tbody>
                </table>
            <?php else: ?>
                <div class="w3-panel">
                    <strong>Versand-Adresse ist gleich Rechnungs-Adresse.</strong>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif;