<?php ?>
<div class="footer-wrapper">
    <div class="w3-row footer-inlinecontent footerbox-outer">

        <div class="w3-col l3 m6 footerbox">
            <br>
            <h3 class="bk-orange-text">Kontakt</h3>
            <p>
                <strong class="">
                    <a href="/mailto">
                        <img src="/img/email.svg" alt="Email">
                    </a>
                </strong>
            </p>
        </div>

        <div class="w3-col l3 m6 footerbox bk-orange-text">
            <h3 class="">Service</h3>
            <p>
                <a href="/versandkosten">Versand und Zahlungsbedingungen</a>
                <br>
                <a href="/widerrufsrecht">Widerrufsrecht</a>
                <br>
                <a href="/widerrufsformular">Widerrufsformular</a>
                <br>
                <a href="/rueckgabe">R&uuml;ckgabe</a>
                <br>
                <a href="/streitbeilegungsplattform">Online-Schlichtungsstelle</a>
            </p>
        </div>

        <div class="w3-col l3 m6 footerbox">
            <h3 class="bk-orange-text">Information</h3>
            <p>
                <a href="/about">&Uuml;ber uns</a>
                <br>
                <a href="/contact">Kontakt</a>
                <br>
                <a href="/agb">AGB</a>
                <br>
                <a href="/datenschutz">Datenschutz</a>
                <br>
                <a href="/impressum">Impressum</a>
            </p>
        </div>

        <div class="w3-col l3 m6 footerbox">
            <h3 class="bk-orange-text">Fans und Follower</h3>
            <p>
                <a href="https://facebook.com/foo" target="_blank">foo</a>
                <br>
                <a href="https://twitter.com/bar" target="_blank">bar</a>
            </p>
        </div>
    </div>
</div>
