<?php
//echo $this->printrTextarea($this->textarea);
if (!empty($this->shopArticleCategoryDashedList)) :
    ?>
    <select name="<?php echo $this->selectName ?>" class="<?php echo $this->selectClass ?>">
        <?php if ($this->withEmptyValue) : ?>
            <option value="0">--- Kategorie wählen ---</option>
        <?php endif; ?>
        <?php foreach ($this->shopArticleCategoryDashedList as $key => $shopArticleCategoryDashed) : ?>
            <option value="<?php echo $key ?>" <?php echo ($this->categoryIdCurrent == $key) ? 'selected' : '' ?>>
                <?php echo $shopArticleCategoryDashed['name'] ?>
            </option>
        <?php endforeach; ?>
    </select>
<?php endif; ?>