<?php if ($this->articleStock > 0) : ?>
    Menge&nbsp;&nbsp;&nbsp;
    <input type="number" value="1" size="3" name="shop_article_amount_<?php echo $this->articleId ?>" style="width: 40px;" class="w3-large">
    <br><br>
    <button class="add-to-basket w3-button bk-success"
            id="add-to-basket"
            data-articleid="<?php echo $this->articleId ?>">
        in den Warenkorb
    </button>
<?php else : ?>
    <strong>Dieser Artikel ist zur Zeit nicht verfügbar.</strong>
<?php endif; ?>
