<?php
//echo $this->printrTextarea($this->basketEntityRatings);
?>
<?php if (!empty($this->ratings)) : ?>
    <!--<div class="">-->
        <?php foreach ($this->ratings as $rating) : ?>
            <div class="w3-panel w3-leftbar w3-serif">
                <p>
                    <span class="w3-small"><?php echo strftime('%c', $rating['shop_article_rating_time_create']) ?></span>
                    <br>
                    <span class="w3-large"><?php echo $rating['shop_article_rating_text'] ?></span>
                </p>
                <?php echo $this->barRating($rating['shop_article_rating_value']) ?>
            </div>
        <?php endforeach; ?>
    <!--</div>-->
<?php else: ?>
    <p>F&uuml;r dieses Produkt gibt es noch keine Bewertungen.</p>
<?php endif; ?>
