<script>
    FontAwesomeConfig = { searchPseudoElements: true };
</script>
<?php
$this->headLink()->appendStylesheet($this->basePath('/js/jquery-bar-rating/themes/fontawesome-plane.css?v=0.0.1'));
$this->inlineScript()->appendFile($this->basePath('/js/jquery-bar-rating/jquery.barrating.min.js'));
if ($this->readOnly) {
    $selectClass = 'bar-rating-read-only';
    $this->inlineScript()->appendFile($this->basePath('/js/app/bar-rating-read-only.js?v=0.0.1'));
} else {
    $selectClass = 'bar-rating';
    $this->inlineScript()->appendFile($this->basePath('/js/app/bar-rating.js'));
}
?>
<div class="bar-rating-div">
    <select class="<?php echo $selectClass ?>" name="<?php echo $this->selectName ?>">
        <option value="1" <?php echo ($this->currentValue == 1) ? 'selected' : '' ?>>1</option>
        <option value="2" <?php echo ($this->currentValue == 2) ? 'selected' : '' ?>>2</option>
        <option value="3" <?php echo ($this->currentValue == 3) ? 'selected' : '' ?>>3</option>
        <option value="4" <?php echo ($this->currentValue == 4) ? 'selected' : '' ?>>4</option>
        <option value="5" <?php echo ($this->currentValue == 5) ? 'selected' : '' ?>>5</option>
    </select>
</div>
