<?php
$this->headTitle($this->translate('Shop-Basket', 'bitkornshop'));
//echo $this->printrtextarea($this->xshopBasketEntity);
/*
 * CSS class: content-wrapper-shop
 */
?>
<div class="">
    <h3>Ihr Warenkorb</h3>
    <?php if (!empty($this->shopBasketData)) : ?>
        <div class="w3-row w3-padding-8">
            <div class="w3-col l8 w3-border">
                <form action="" method="post">
                    <ul class="w3-ul">
                        <?php
                        $showButtonSave = false;
                        foreach ($this->shopBasketData as $basketItem) :
                            if (empty($basketItem['shop_article_param2d_item_id'])) {
                                $showButtonSave = true;
                            }
                            ?>

                            <li>
                                <div class="w3-row w3-border w3-sand">
                                    <div class="w3-col l1 m2 s4">
                                        <?php if (!empty($this->imagesArticleIdAssoc[$basketItem['shop_article_id']])) : ?>
                                            <?php $titleCompl = $this->imageEntity->getImageTitle($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id']) . ' | ' . $this->imageEntity->getImageDesc($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id']) ?>
                                            <a href="<?php
                                            echo $this->imageSrc($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id'], ['sixteenToNine' => 120],
                                                $this->imageEntity)
                                            ?>" class="gallery-link"
                                               data-titlesrc="<?php echo $titleCompl ?>">
                                                <img src="<?php
                                                echo $this->imageSrc($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id'], ['magicTwoSquare' => 64],
                                                    $this->imageEntity)
                                                ?>"
                                                     alt="<?php echo $this->imageEntity->getImageTitle($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id']) ?>"
                                                     class=""
                                                     data-titlesrc="<?php echo $titleCompl ?>">
                                            </a>
                                        <?php else : ?>
                                            <img src="<?php echo $this->imageEmptySrc(['magicTwoSquare' => 64]) ?>" alt="no image" title="no image" class="w3-image">
                                        <?php endif; ?>
                                    </div>
                                    <div class="w3-col l3 m10 s8">
                                        <div>
                                            <a href="<?php
                                            echo $this->shopArticleTypeUrl($basketItem['shop_article_type'], $basketItem['shop_article_type_delivery'], $basketItem['shop_article_sefurl']);
                                            ?>">
                                                <?php echo $basketItem['shop_article_name'] ?>
                                                <br>
                                                Art.-Nr.: <?php echo $basketItem['shop_article_sku'] ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="w3-col l6">
                                        <div>
                                            <?php echo $this->articleDescVariable($basketItem) ?>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="w3-col l2 w3-right-align w3-padding bk-nowrap">
                                        <?php if (empty($basketItem['shop_basket_item_lengthcut_options'])) : ?>
                                            <input type="number" size="5" style="width: 50px;"
                                                   name="basket_item[<?php echo $basketItem['shop_basket_item_id'] ?>]"
                                                   value="<?php echo $basketItem['shop_article_amount'] ?>">
                                            x
                                            <?php echo number_format($basketItem['shop_article_price'], 2, ',', '.') ?> &euro;
                                            <br>
                                        <?php endif; ?>
                                        <strong> <?php echo number_format($basketItem['shop_article_price_total'], 2, ',', '.') ?> &euro;</strong>

                                        <p class="w3-right-align">
                                            <button type="button" class="w3-button w3-small bk-warn basketitem-delete"
                                                    data-basketitemid="<?= $basketItem['shop_basket_item_id'] ?>"
                                                    data-articlename="<?= $basketItem['shop_article_name'] ?>"
                                            >
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        <?php endforeach; ?>
                        <?php if ($showButtonSave): ?>
                            <li>
                                <button type="submit" name="basket_edit" value="1" class="w3-button w3-small w3-right bk-success">
                                    <?= $this->translate('Änderungen speichern', 'bitkornshop') ?>
                                </button>
                            </li>
                        <?php endif; ?>
                    </ul>
                </form>
            </div>

            <div class="w3-col l4 w3-right">
                <div class="w3-row">
                    <div class="w3-col l1 w3-hide-medium w3-hide-small">
                        &nbsp;
                    </div>
                    <div class="w3-col l11">
                        <ul class="w3-ul w3-border">
                            <li>
                                <div>Artikel
                                    <span class="w3-right w3-margin-right">
                                        <?php echo $this->numberI18n($this->articleAmountSum) ?>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div>Warenwert
                                    <span class="w3-right w3-margin-right">
                                        <?php echo $this->numberI18n($this->articlePriceTotalSum) ?> &euro;
                                    </span>
                                </div>
                            </li>

                            <?php if (!empty($this->basketDiscountValue) && !empty($this->basketDiscountHash)) : ?>
                                <li class="bk-grey-light">
                                    <div>Rabatt (<?php echo $this->basketDiscountHash ?>)
                                        <span class="w3-right w3-margin-right">
                                            <?php echo $this->numberI18n($this->basketDiscountValue) ?> &euro;
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div>neuer Warenwert
                                        <span class="w3-right w3-margin-right">
                                            <?php echo $this->numberI18n($this->articlePriceTotalSumEnd) ?> &euro;
                                        </span>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <li>
                                <div>Versandkosten
                                    <span class="w3-right w3-margin-right">
                                        <?php echo $this->numberI18n($this->articleShippingCostsComputed) ?> &euro;
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div>Enthaltene Umsatzsteuer
                                    <span class="w3-right w3-margin-right">
                                        <?php echo $this->numberI18n($this->basketTaxTotalSumEnd) ?> &euro;
                                    </span>
                                </div>
                            </li>
                            <li class="w3-xtiny w3-border-top"></li>
                            <li>
                                <div>Gesamtkosten
                                    <strong class="w3-right w3-margin-right">
                                        <?php
                                        echo $this->numberI18n($this->articlePriceTotalSumEnd + $this->articleShippingCostsComputed)
                                        ?> &euro;
                                    </strong>
                                </div>
                            </li>
                        </ul>

                        <?php if ($this->basketDiscountEnabled) : ?>
                            <div class="w3-row">
                                <div class="w3-col">
                                    <form action="" method="post" class="w3-form">
                                        <input type="text" name="shop_basket_discount_hash" class="w3-padding-medium" placeholder="Rabatt-Code ?">
                                        <input type="submit" value="Rabatt-Code anwenden" class="w3-button bk-success w3-small w3-right">
                                    </form>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="w3-row">
            <div class="w3-col">
                <a href="<?php echo $this->url('shop_frontend_basket_chooseaddress') ?>" class="w3-button bk-success">
                    <?php echo $this->translate('Zur Kasse', 'bitkornshop') ?>
                </a>
            </div>
        </div>
    <?php else: ?>
        <h2><?php echo $this->translate('Ihr Warenkorb ist leer.', 'bitkornshop') ?></h2>
    <?php endif; ?>
    <br>
</div>
