<?php
$this->headTitle($this->translate('Einkauf-Status', 'bitkornshop'));
/**
 * check if too old
 * 2592000  30 days
 */
if ($this->toOld) : ?>
    <p><br><strong>nothing to show</strong></p>
<?php else: ?>
    <div class="">
        <?php echo $this->shopBasketOverview($this->shopBasketUnique, false) ?>
        <hr class="hr-bold">
        <?php echo $this->addressDisplay(['userUuid' => $this->userUuid, 'basketunique' => $this->shopBasketUnique]) ?>
        <hr class="hr-bold">
        <div class="w3-row w3-padding">
            <div class="w3-col l4 m4">
                <?php if (!empty($this->shopDocumentInvoice)) : ?>
                    <a href="<?php
                    echo $this->url('shop_common_basketuniquepdf_streaminvoice', ['basket_unique' => $this->shopBasketUnique])
                    ?>"
                       target="_blank"><i class="fas fa-file-pdf-o"></i> PDF Rechnung</a>
                <?php endif; ?>
            </div>
            <div class="w3-col l4 m4">
                <?php if (!empty($this->shopDocumentOrder)) : ?>
                    <a href="<?php
                    echo $this->url('shop_common_basketuniquepdf_streamorder', ['basket_unique' => $this->shopBasketUnique])
                    ?>"
                       target="_blank"><i class="fas fa-file-pdf-o"></i> PDF Bestellung</a>
                <?php endif; ?>
            </div>
        </div>
        <hr class="hr-bold">
    </div>
<?php endif; ?>
