<?php
$this->headTitle($this->translate('Einkauf bewerten', 'bitkornshop'));
?>
<h3>Ihre Warenkorbbewertung</h3>
<p>
    Helfen Sie anderen bei der Kaufentscheidung,
    <br>
    indem Sie von Ihren positiven oder negativen Erfahrungen mit den von Ihnen gekauften Produkten berichten!
</p>
<ul class="w3-ul">
    <?php foreach ($this->shopBasket as $basketItem) : ?>

        <li class="w3-border">
            <div class="w3-row">
                <div class="w3-col l1 m2 s4">
                    <img src="<?php echo $this->shopArticlePreviewImage($basketItem['shop_article_id']) ?>" alt="">
                </div>
                <div class="w3-col l3 m6 s8">
                    <p>
                        <a href="<?= $this->shopArticleTypeUrl($basketItem['shop_article_type'], $basketItem['shop_article_type_delivery'], $this->shopArticleSefurl($basketItem['shop_article_id'])) ?>">
                            <?php echo $basketItem['shop_article_name'] ?>
                        </a>
                        <br>
                        <?php echo $basketItem['shop_article_sku'] ?>
                    </p>
                </div>
                <div class="w3-col l2 m4">
                    <p>
                        <?php
                        echo $this->shopArticleOptionsFromJson($basketItem['shop_basket_item_article_options'], $basketItem['shop_article_id'])
                        ?>

                    </p>
                </div>
                <p class="w3-hide-large">&nbsp;</p>
                <form method="post">
                    <input type="hidden" name="basket_item_id" value="<?php echo $basketItem['shop_basket_item_id'] ?>">
                    <div class="w3-col l2 m4 w3-center">
                        <br>
                        <?php if (!empty($basketItem['shop_article_rating_value'])) : ?>
                            <?php echo $this->barRating($basketItem['shop_article_rating_value']) ?>
                        <?php else: ?>
                            <?php echo $this->barRating(0, false, 'shop_article_rating_value') ?>
                        <?php endif; ?>
                    </div>
                    <div class="w3-col <?php echo (empty($basketItem['shop_article_rating_value'])) ? 'l2 m8' : 'l4' ?>">
                        <?php if (empty($basketItem['shop_article_rating_value'])) : ?>
                            <textarea name="shop_article_rating_text" class="w3-input" placeholder="Ihre Anmerkung"></textarea>
                        <?php else: ?>
                            Ihre Anmerkung:<br>
                            <div class="w3-small"><?php echo $basketItem['shop_article_rating_text'] ?></div>
                        <?php endif; ?>
                    </div>
                    <?php if (empty($basketItem['shop_article_rating_value'])) : ?>
                        <div class="w3-col l2 w3-center">
                            <button type="submit" class="w3-button w3-small w3-right bk-grey">
                                <?php echo $this->translate('Bewertung speichern', 'bitkornshop') ?>
                            </button>
                        </div>
                    <?php endif; ?>
                </form>
            </div>
        </li>
    <?php endforeach; ?>
</ul>