<?php
$this->headTitle($this->translate('Zahlungsmethode wählen', 'bitkornshop'));
?>
<div class="">
    <?php echo $this->shopBasketOverview($this->basketunique) ?>
    <hr>
    <?php echo $this->addressDisplay(['basketunique' => $this->basketunique, 'userUuid' => $this->userUuid]) ?>
    <hr>
    <div class="w3-card w3-padding">
        <div class="w3-container">
            <strong>Aktuelle Versandart</strong>
            <br>
            <?php echo $this->shippingProvider->getBrand() ?>
            <span>&nbsp;</span>
            <td><?php echo $this->shippingProvider->getBrandText() ?></td>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col l6">
            </div>
        </div>
    </div>
    <hr>
    <h4>Alles OK?</h4>
    <p>...dann weiter zur Kasse mit Ihrer bevorzugten Bezahlmethode.</p>
    <?php echo $this->paymentBrandPrepay() ?>
    <br>
    <?php echo $this->paypalSmartButtons() ?>
</div>
