<?php
$this->headTitle($this->translate('Versandart wählen', 'bitkornshop'));
?>
<div class="">
    <?php echo $this->shopBasketOverview($this->basketunique) ?>
    <hr>
    <?php echo $this->addressDisplay(['basketunique' => $this->basketunique, 'userUuid' => $this->userUuid]) ?>
    <hr>
    <?php if (!$this->shippingProvider) : ?>
        <h3>Bitte wählen Sie eine Versandart</h3>
        <form method="post" action="">
            <table>
                <tbody>
                <?php foreach ($this->shippingProviders as $key => $shippingProvider) : ?>
                    <tr>
                        <td>
                            <button type="submit" name="shipping_provider" value="<?php echo $key ?>" class="w3-btn-clear w3-block w3-padding">
                                <?php echo $shippingProvider->getBrand() ?>
                            </button>
                        </td>
                        <td>
                            <button type="submit" name="shipping_provider" value="<?php echo $key ?>" class="w3-btn-clear w3-block w3-padding">
                                <?php echo $shippingProvider->getBrandText() ?>
                            </button>
                        </td>
                        <td class="w3-right-align w3-padding">
                            <strong><?php echo $this->numberFormatService->format($shippingProvider->getShippingCostsRating()) ?> &euro;</strong>
                        </td>
                        <td>
                            <button type="submit" name="shipping_provider" value="<?php echo $key ?>" class="w3-button bk-grey-light">
                                auswählen
                            </button>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </form>
    <?php else : ?>
        <br>
        <div class="w3-card">
            <div class="w3-container">
                <h3>Aktuelle Versandart</h3>
            </div>
            <div class="w3-container w3-padding">
                <table>
                    <tbody>
                    <tr>
                        <td class="" style="width: 100px">
                            <form method="post" action="">
                                <button type="submit" name="shipping_provider_delete" value="1" class="w3-button bk-warn" title="löschen und andere Versandart wählen">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <?php echo $this->shippingProvider->getBrand() ?>
                        </td>
                        <td><?php echo $this->shippingProvider->getBrandText() ?></td>
                        <td class="w3-right-align w3-padding">
                            <strong><?php echo $this->numberFormatService->format($this->shippingProvider->getShippingCostsRating()) ?> &euro;</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>
        <form method="post" action="">
            <button type="submit" class="w3-button bk-grey" name="further_to_payment" value="1">Weiter zu den Bezahlmethoden</button>
        </form>
        </p>
    <?php endif; ?>
</div>
