<?php
$this->inlineScript()->appendFile($this->basePath('/js/app/choose-address.js'));
?>
<?php if (!$this->isUser) : ?>
    <h3 class="">
        <?php if (!$this->buyWithoutAccount) : ?>
            <?php echo $this->translate('Ich bin ein neuer Kunde', 'bitkornshop') ?>
        <?php else: ?>
            <?php echo $this->translate('Als Gast bestellen', 'bitkornshop') ?>
        <?php endif; ?>
    </h3>
    <?php if ($this->isPrivateInvoice) : ?>
        <div class="w3-row">
            <div class="w3-col l6">
                <h4><?php echo $this->translate('Rechnungsadresse', 'bitkornshop') ?></h4>
                <?php $this->shopBasketAddressFormInvoicePrivate->prepare() ?>
                <?php echo $this->form()->openTag($this->shopBasketAddressFormInvoicePrivate) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_id')) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_unique')) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('form_name')) ?>
                <div class="w3-row bk-form-row">
                    <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_customer_type')) ?>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l4 m4">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_salut')) ?>
                    </div>
                    <div class="w3-col l8 m8">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_degree')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_name1')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_name2')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l9 m9 s9">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_street')) ?>
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_street_no')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l3 m3 s4">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_zip')) ?>
                    </div>
                    <div class="w3-col l9 m9 s8">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_city')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('country_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_additional')) ?>
                    </div>
                </div>
                <br>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_email')) ?>
                    </div>
                </div>
                <?php if (!$this->buyWithoutAccount && isset($this->userRegisterForm) && !$this->existPasswd) : ?>
                    <?php $this->userRegisterForm->prepare() ?>
                    <div class="w3-row bk-form-row">
                        <div class="w3-col">
                            <?php echo $this->formRow($this->userRegisterForm->get('passwd')) ?>
                        </div>
                    </div>
                    <div class="w3-row bk-form-row">
                        <div class="w3-col">
                            <?php echo $this->formRow($this->userRegisterForm->get('passwd2')) ?>
                        </div>
                    </div>
                <?php endif; ?>
                <br>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_birthday')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_tel')) ?>
                    </div>
                </div>
                <p class="w3-right-align">
                    <?php echo $this->formSubmit($this->shopBasketAddressFormInvoicePrivate->get('submit')) ?>
                    <?php echo $this->form()->closeTag() ?>
                </p>
                <?php if ($this->basketAddressCount == 1 && !$this->showVariantShippingAddress) : ?>
                    <p>
                        <label class="cursor-pointer">
                            <input type="checkbox" name="variant_shipping_address" class="w3-check variant-shipping-address-check" value="1"> Abweichende Lieferadresse
                        </label>
                    </p>
                <?php endif; ?>
            </div>
        </div>
    <?php else: ?>
        <div class="w3-row">
            <div class="w3-col l6">
                <h4><?php echo $this->translate('Rechnungsadresse', 'bitkornshop') ?></h4>
                <?php $this->shopBasketAddressFormInvoiceEnterprise->prepare() ?>
                <?php echo $this->form()->openTag($this->shopBasketAddressFormInvoiceEnterprise) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_id')) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_unique')) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('form_name')) ?>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_customer_type')) ?>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l4 m4">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_salut')) ?>
                    </div>
                    <div class="w3-col l8 m8">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_degree')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_name1')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_name2')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_company_name')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_company_department')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l9 m9 s9">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_street')) ?>
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_street_no')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l3 m3 s4">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_zip')) ?>
                    </div>
                    <div class="w3-col l9 m9 s8">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_city')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('country_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_additional')) ?>
                    </div>
                </div>
                <br>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_email')) ?>
                    </div>
                </div>
                <?php if (!$this->buyWithoutAccount && isset($this->userRegisterForm) && !$this->existPasswd) : ?>
                    <br>
                    <?php $this->userRegisterForm->prepare() ?>
                    <div class="w3-row bk-form-row">
                        <div class="w3-col">
                            <?php echo $this->formRow($this->userRegisterForm->get('passwd')) ?>
                        </div>
                    </div>
                    <div class="w3-row bk-form-row">
                        <div class="w3-col">
                            <?php echo $this->formRow($this->userRegisterForm->get('passwd2')) ?>
                        </div>
                    </div>
                <?php endif; ?>
                <br>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_tax_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_tel')) ?>
                    </div>
                </div>
                <p class="w3-right-align">
                    <?php echo $this->formSubmit($this->shopBasketAddressFormInvoiceEnterprise->get('submit')) ?>
                    <?php echo $this->form()->closeTag() ?>
                </p>
                <?php if ($this->basketAddressCount == 1 && !$this->showVariantShippingAddress) : ?>
                    <p>
                        <label class="cursor-pointer">
                            <input type="checkbox" name="variant_shipping_address" class="w3-check variant-shipping-address-check" value="1"> Abweichende Lieferadresse
                        </label>
                    </p>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>


    <?php if ($this->isPrivateShipment) : ?>
        <div class="w3-row <?php echo ($this->basketAddressCount < 2 && !$this->showVariantShippingAddress) ? 'w3-hide' : '' ?> variant-shipping-address-div">
            <div class="w3-col l6">
                <h4><?php echo $this->translate('Abweichende Lieferadresse', 'bitkornshop') ?></h4>
                <?php $this->shopBasketAddressFormShipmentPrivate->prepare() ?>
                <?php echo $this->form()->openTag($this->shopBasketAddressFormShipmentPrivate) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_id')) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_unique')) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('form_name')) ?>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_customer_type')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_name1')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_name2')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l9 m9 s9">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_street')) ?>
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_street_no')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l3 m3 s4">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_zip')) ?>
                    </div>
                    <div class="w3-col l9 m9 s8">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_city')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('country_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_additional')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_email')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_tel')) ?>
                    </div>
                </div>
                <p class="w3-right-align">
                    <?php echo $this->formSubmit($this->shopBasketAddressFormShipmentPrivate->get('submit')) ?>
                    &nbsp;
                    <?php echo $this->formSubmit($this->shopBasketAddressFormShipmentPrivate->get('submit_delete')) ?>
                    <?php echo $this->form()->closeTag() ?>
                </p>
            </div>
        </div>
    <?php else : ?>
        <div class="w3-row <?php echo ($this->basketAddressCount < 2 && !$this->showVariantShippingAddress) ? 'w3-hide' : '' ?> variant-shipping-address-div">
            <div class="w3-col l6">
                <h4><?php echo $this->translate('Abweichende Lieferadresse', 'bitkornshop') ?></h4>
                <?php $this->shopBasketAddressFormShipmentEnterprise->prepare() ?>
                <?php echo $this->form()->openTag($this->shopBasketAddressFormShipmentEnterprise) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_id')) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_unique')) ?>
                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('form_name')) ?>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_customer_type')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_name1')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_name2')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_company_name')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_company_department')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l9 m9 s9">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_street')) ?>
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_street_no')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l3 m3 s4">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_zip')) ?>
                    </div>
                    <div class="w3-col l9 m9 s8">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_city')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('country_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_additional')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_email')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_tel')) ?>
                    </div>
                </div>
                <p class="w3-right-align">
                    <?php echo $this->formSubmit($this->shopBasketAddressFormShipmentEnterprise->get('submit')) ?>
                    &nbsp;
                    <?php echo $this->formSubmit($this->shopBasketAddressFormShipmentEnterprise->get('submit_delete')) ?>
                    <?php echo $this->form()->closeTag() ?>
                </p>
            </div>
        </div>
    <?php endif; ?>

    <div class="w3-row">
        <div class="w3-col l6">
            <?php if ($this->buyWithoutAccountEnabled == 1) : ?>
                <br>
                <?php if (!$this->buyWithoutAccount) : ?>
                    <a href="?asg=1" class="w3-button bk-info"><?= $this->translate('Ich möchte als Gast bestellen', 'bitkornshop') ?> </a>
                <?php else: ?>
                    <a href="?asg=0" class="w3-button bk-info"><?= $this->translate('Ich möchte ein Kundenkonto anlegen', 'bitkornshop') ?></a>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>

<?php else: // end no user ...begin user  ?>

    <h3 class=""><?php echo $this->translate('Ihre Adresse/n', 'bitkornshop') ?></h3>

    <?php if ($this->isPrivateInvoice) : ?>
        <div class="w3-row">
            <div class="w3-col l6">
                <h4><?php echo $this->translate('Rechnungsadresse', 'bitkornshop') ?></h4>
                <?php $this->shopUserAddressFormInvoicePrivate->prepare() ?>
                <?php echo $this->form()->openTag($this->shopUserAddressFormInvoicePrivate) ?>
                <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_id')) ?>
                <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('user_uuid')) ?>
                <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('form_name')) ?>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_customer_type')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l4 m4">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_salut')) ?>
                    </div>
                    <div class="w3-col l8 m8">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_degree')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_name1')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_name2')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l9 m9 s9">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_street')) ?>
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_street_no')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l3 m3 s4">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_zip')) ?>
                    </div>
                    <div class="w3-col l9 m9 s8">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_city')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('country_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_additional')) ?>
                    </div>
                </div>
                <br>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_birthday')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoicePrivate->get('shop_user_address_tel')) ?>
                    </div>
                </div>
                <p class="w3-right-align">
                    <?php echo $this->formSubmit($this->shopUserAddressFormInvoicePrivate->get('submit')) ?>
                    <?php echo $this->form()->closeTag() ?>
                </p>

                <div class="w3-large">
                    Ihre Emailadresse: <strong><?php echo $this->userEmail ?></strong>
                </div>

                <?php if ($this->userAddressCount == 1 && !$this->showVariantShippingAddress) : ?>
                    <p>
                        <label class="cursor-pointer">
                            <input type="checkbox" name="variant_shipping_address" class="w3-check variant-shipping-address-check" value="1"> Abweichende Lieferadresse
                        </label>
                    </p>
                <?php endif; ?>
            </div>
        </div>

    <?php else: ?>
        <div class="w3-row">
            <div class="w3-col l6">
                <h4><?php echo $this->translate('Rechnungsadresse', 'bitkornshop') ?></h4>
                <?php $this->shopUserAddressFormInvoiceEnterprise->prepare() ?>
                <?php echo $this->form()->openTag($this->shopUserAddressFormInvoiceEnterprise) ?>
                <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_id')) ?>
                <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('user_uuid')) ?>
                <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('form_name')) ?>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_customer_type')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l4 m4">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_salut')) ?>
                    </div>
                    <div class="w3-col l8 m8">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_degree')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_name1')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_name2')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_company_name')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_company_department')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l9 m9 s9">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_street')) ?>
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_street_no')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l3 m3 s4">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_zip')) ?>
                    </div>
                    <div class="w3-col l9 m9 s8">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_city')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('country_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_additional')) ?>
                    </div>
                </div>
            </div>
            <div class="w3-col l6">
                <p>&nbsp;</p>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_tax_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormInvoiceEnterprise->get('shop_user_address_tel')) ?>
                    </div>
                </div>
                <p class="w3-right-align">
                    <?php echo $this->formSubmit($this->shopUserAddressFormInvoiceEnterprise->get('submit')) ?>
                    <?php echo $this->form()->closeTag() ?>
                </p>

                <div class="w3-large">
                    Ihre Emailadresse: <strong><?php echo $this->userEmail ?></strong>
                </div>

                <?php if ($this->userAddressCount == 1 && !$this->showVariantShippingAddress) : ?>
                    <p>
                        <label class="cursor-pointer">
                            <input type="checkbox" name="variant_shipping_address" class="w3-check variant-shipping-address-check" value="1"> Abweichende Lieferadresse
                        </label>
                    </p>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

    <?php if ($this->isPrivateShipment) : ?>
        <div class="w3-row <?php echo ($this->userAddressCount < 2 && !$this->showVariantShippingAddress) ? 'w3-hide' : '' ?> variant-shipping-address-div">
            <hr>
            <div class="w3-col l6">
                <h4><?php echo $this->translate('Abweichende Lieferadresse', 'bitkornshop') ?></h4>
                <?php $this->shopUserAddressFormShipmentPrivate->prepare() ?>
                <?php echo $this->form()->openTag($this->shopUserAddressFormShipmentPrivate) ?>
                <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_id')) ?>
                <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('user_uuid')) ?>
                <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('form_name')) ?>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_customer_type')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_name1')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_name2')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l9 m9 s9">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_street')) ?>
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_street_no')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l3 m3 s4">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_zip')) ?>
                    </div>
                    <div class="w3-col l9 m9 s8">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_city')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('country_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_additional')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentPrivate->get('shop_user_address_tel')) ?>
                    </div>
                </div>
                <p class="w3-right-align">
                    <?php echo $this->formSubmit($this->shopUserAddressFormShipmentPrivate->get('submit')) ?>
                    &nbsp;
                    <?php echo $this->formSubmit($this->shopUserAddressFormShipmentPrivate->get('submit_delete')) ?>
                    <?php echo $this->form()->closeTag() ?>
                </p>
            </div>
        </div>
    <?php else : ?>
        <div class="w3-row <?php echo ($this->userAddressCount < 2 && !$this->showVariantShippingAddress) ? 'w3-hide' : '' ?> variant-shipping-address-div">
            <div class="w3-col l6">
                <h4><?php echo $this->translate('Abweichende Lieferadresse', 'bitkornshop') ?></h4>
                <?php $this->shopUserAddressFormShipmentEnterprise->prepare() ?>
                <?php echo $this->form()->openTag($this->shopUserAddressFormShipmentEnterprise) ?>
                <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_id')) ?>
                <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('user_uuid')) ?>
                <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('form_name')) ?>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_customer_type')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_name1')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_name2')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_company_name')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_company_department')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l9 m9 s9">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_street')) ?>
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_street_no')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col l3 m3 s4">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_zip')) ?>
                    </div>
                    <div class="w3-col l9 m9 s8">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_city')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('country_id')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_additional')) ?>
                    </div>
                </div>
                <div class="w3-row bk-form-row">
                    <div class="w3-col">
                        <?php echo $this->formRow($this->shopUserAddressFormShipmentEnterprise->get('shop_user_address_tel')) ?>
                    </div>
                </div>

                <p class="w3-right-align">
                    <?php echo $this->formSubmit($this->shopUserAddressFormShipmentEnterprise->get('submit')) ?>
                    &nbsp;
                    <?php echo $this->formSubmit($this->shopUserAddressFormShipmentEnterprise->get('submit_delete')) ?>
                    <?php echo $this->form()->closeTag() ?>
                </p>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>

<?php if ($this->canFurther) : ?>
    <div class="w3-row">
        <div class="w3-col">
            <form action="" method="post">
                <input type="checkbox" name="data_protection_regulations" value="1" class="w3-check">
                Ich habe die <a href="<?php echo $this->url('shop_frontend_content_shopcontent_staticcontent', ['content_alias' => 'datenschutz']) ?>"
                                target="_blank">Datenschutzbestimmungen</a> gelesen und akzeptiert.
                <br>
                <br>
                <button type="submit" name="further_to_shippingmethod" value="1" class="w3-button bk-success">Weiter zu den Versandarten</button>
            </form>
        </div>
    </div>
<?php endif; ?>
<br>
