<?php
//echo $this->articles;
?>
<?php if (!empty($this->articles)) : ?>
    <form action="" method="post">
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Preis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->articles as $article) : ?>
                    <tr>
                        <td><?php echo $article['shop_article_name'] ?></td>
                        <td><?php echo $this->shorterText($article['shop_article_desc'], 50) ?></td>
                        <td><?php echo number_format($article['shop_article_price'], 2, ',', '.') ?></td>
                        <td>
                            <button type="submit" name="select_relation_article" value="<?php echo $article['shop_article_id'] ?>"
                                    class="w3-button w3-small bk-grey">select</button>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </form>
<?php endif; ?>
<br>