<?php
$this->headTitle('ArticleSizes admin');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/article-size-admin.js'));
//echo $this->printrTextarea($this->shopArticleSizeDefs);
//echo $this->printrTextarea($this->shopArticleSizeItems);
?>
<?php if (!empty($this->shopArticleSizeDefs)) : ?>
    <div class="w3-responsive">
        <p>Vorhandene Maßtabellen: Angaben in vollen cm.</p>
        <?php foreach ($this->shopArticleSizeDefs as $shopArticleSizeDef) : ?>

            <?php if ($shopArticleSizeDef['shop_article_size_item_count'] > 0) : ?>

                <hr class="hr-bold">
                <table class="w3-table w3-table-all">
                    <thead class="toggle-tbody cursor-pointer" data-sizedefid="<?php echo $shopArticleSizeDef['shop_article_size_def_id'] ?>">
                        <tr class="w3-grey">
                            <th title="<?php echo $shopArticleSizeDef['shop_article_size_def_desc'] ?>" colspan="3">
                                <?php echo $shopArticleSizeDef['shop_article_size_def_key'] ?> 
                                (Gruppe: <?php echo $shopArticleSizeDef['shop_article_size_group_name'] ?>)
                                &nbsp;|&nbsp;
                                <small><?php echo $shopArticleSizeDef['shop_article_size_def_name'] ?></small>
                                &nbsp;|&nbsp;
                                <small>Anzahl Ma&szlig;e:&nbsp;<?php echo $shopArticleSizeDef['shop_article_size_item_count'] ?></small>
                            </th>
                        </tr>
                        <?php if (!empty($this->shopArticleSizeItems) && !empty($this->shopArticleSizeItems[$shopArticleSizeDef['shop_article_size_def_id']])) : ?>
                            <tr class="w3-grey">
                                <th style="width: 60%;">Name</th>
                                <th style="width: 20%;">von</th>
                                <th style="width: 20%;">bis</th>
                            </tr>
                        <?php endif; ?>
                    </thead>
                    <tbody id="<?php echo $shopArticleSizeDef['shop_article_size_def_id'] ?>" style="display: none;">
                        <?php if (!empty($this->shopArticleSizeItems) && !empty($this->shopArticleSizeItems[$shopArticleSizeDef['shop_article_size_def_id']])) : ?>
                            <?php
                            foreach ($this->shopArticleSizeItems[$shopArticleSizeDef['shop_article_size_def_id']] as $shopArticleSizeItem) :
                                ?>
                                <tr>
                                    <td title="<?php echo $shopArticleSizeItem['shop_article_size_position_desc'] ?>">
                                        <?php echo $shopArticleSizeItem['shop_article_size_position_name'] ?>
                                    </td>
                                    <td class="cursor-pointer edit-inline"
                                        data-id="<?php echo $shopArticleSizeItem['shop_article_size_item_id'] ?>"
                                        data-oldvalue="<?php echo $shopArticleSizeItem['shop_article_size_item_from'] ?>"
                                        data-type="from">
                                            <?php echo $shopArticleSizeItem['shop_article_size_item_from'] ?>
                                    </td>
                                    <td class="cursor-pointer edit-inline"
                                        data-id="<?php echo $shopArticleSizeItem['shop_article_size_item_id'] ?>"
                                        data-oldvalue="<?php echo $shopArticleSizeItem['shop_article_size_item_to'] ?>"
                                        data-type="to">
                                            <?php echo $shopArticleSizeItem['shop_article_size_item_to'] ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </tbody>
                </table>

            <?php endif; ?>

        <?php endforeach; ?>
    </div>
<?php endif; ?>

