<?php
$this->headTitle('SizeGroups admin');
//echo $this->printrTextarea($this->textarea);
?>
<h2>Gr&ouml;&szlig;en-Gruppen</h2>
<?php if (!empty($this->shopArticleSizeGroups)) : ?>
    <table class="w3-table w3-table-all">
        <thead>
            <tr class="w3-grey">
                <th>Name</th>
                <th>Beschreibung</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->shopArticleSizeGroups as $shopArticleSizeGroup) : ?>
            <tr>
                <td>
                    <a href="<?php echo $this->url('shop_admin_article_articlesize_sizegroup', ['size_group_id' => $shopArticleSizeGroup['shop_article_size_group_id']]) ?>">
                        <?php echo $shopArticleSizeGroup['shop_article_size_group_name'] ?>
                    </a>
                </td>
                <td><?php echo $shopArticleSizeGroup['shop_article_size_group_desc'] ?></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
