<?php
$this->headTitle('SizeGroup admin');
//echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Aktuelle Gr&ouml;&szlig;en-Gruppe: <strong><?php echo $this->shopArticleSizeGroup['shop_article_size_group_name'] ?></strong>
    <a href="<?php echo $this->url('shop_admin_article_articlesize_sizegroups') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Alle Größen-Gruppen') ?>
    </a>
</div>
<?php if (!empty($this->shopArticleSizeGroup)) : ?>
    <?php echo $this->form($this->shopArticleSizeGroupForm) ?>
<?php endif; ?>
<?php if (isset($this->sizegroupimage)) : ?>
    <hr class="hr-bold">
    <h4>Aktuelles Gruppenbild</h4>
    <img src="<?php echo $this->sizegroupimage ?>" alt="Gruppenbild">
<?php endif; ?>
