<?php
$this->headTitle('add article');
//$this->inlineScript()->appendFile($this->basePath('js/spectrum/spectrum.js'));
//$this->headLink()->appendStylesheet($this->basePath('js/spectrum/spectrum.css'));
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <strong>neues Produkt anlegen</strong>
</div>
<div class="w3-small">
    <?php $this->shopArticleForm->prepare() ?>
    <?php echo $this->form()->openTag($this->shopArticleForm) ?>
    <?php echo $this->formRow($this->shopArticleForm->get('shop_article_id')) ?>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_sku')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_name')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php // echo $this->formRow($this->shopArticleForm->get('shop_article_sefurl')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php // echo $this->formRow($this->shopArticleForm->get('shop_article_hexcolor')) ?>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php // echo $this->formRow($this->shopArticleForm->get('shop_article_category_relation')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_class_id')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_type')) ?>
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_type_delivery')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_groupable')) ?>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_price')) ?>
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_tax')) ?>
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_price_net')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_weight')) ?>
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_shipping_costs_single')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_desc')) ?>
        </div>
    </div>
    <br>
    <div class="w3-row">
        <div class="w3-col l4 m4 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_meta_title')) ?>
        </div>
        <div class="w3-col l4 m4 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_meta_desc')) ?>
        </div>
        <div class="w3-col l4 m4 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_meta_keywords')) ?>
        </div>
    </div>
    <hr>
    <div class="w3-row">
        <div class="w3-col l2 m4 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_active')) ?>
        </div>
        <div class="w3-col l2 m4 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_active_in_categories')) ?>
        </div>
        <div class="w3-col l2 m4 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_active_in_search')) ?>
        </div>
        <div class="w3-col l2 m4 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_stock_using')) ?>
        </div>
        <div class="w3-col l2 m4 bk-padding-8">
            <?php echo $this->formRow($this->shopArticleForm->get('shop_article_feeable')) ?>
        </div>
    </div>
    <?php echo $this->formSubmit($this->shopArticleForm->get('submit')) ?>
    <?php echo $this->form()->closeTag() ?>
</div>
<p></p>

<script type="text/javascript">
    $('#wysiwyg').trumbowyg();
</script>
