<?php
$this->headTitle('Produkte');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/articles-admin.js?v=0.0.1'));
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <?php echo $this->translate('Produkte', 'bitkornshop') ?>
</div>

<div class="w3-row">
    <form method="post" action="" class="">
        <div class="w3-col l3 m3">
            <?php if (!empty($this->articleTypes)) : ?>
                <select name="article_type" class="w3-select" style="width: auto;">
                    <option value="">-- Artikel-Typ wählen --</option>
                    <?php foreach ($this->articleTypes as $articleType) : ?>
                        <?php $selected = ($articleType == $this->articleType) ? 'selected' : '' ?>
                        <option value="<?php echo $articleType ?>" <?php echo $selected ?>><?php echo $articleType ?></option>
                    <?php endforeach; ?>
                </select>
            <?php endif; ?>
        </div>
        <div class="w3-col l2 m2">
            &nbsp;
            <input type="submit" class="w3-button bk-grey" value="anzeigen">
        </div>
    </form>
</div>
<br>
<?php if (!empty($this->articles)) : ?>
    <div class="">
        <table class="w3-table w3-table-all">
            <thead>
            <tr class="w3-grey">
                <th style="width: 340px"><?php echo $this->translate('Name', 'bitkornshop') ?></th>
                <th style="width: 240px"><?php echo $this->translate('Typ', 'bitkornshop') ?></th>
                <th style="width: 240px">Typ II</th>
                <th style="width: 40px"><?php echo $this->translate('aktiv', 'bitkornshop') ?></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->articles as $article) : ?>
                <tr>
                    <td>
                        <?php echo $this->translate($article['shop_article_name'], 'bitkornshop') ?>
                        &nbsp;&nbsp;&nbsp;
                        <a href="<?php echo $this->url('shop_frontend_article_article', ['article_sefurl' => $article['shop_article_sefurl']]) ?>" target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </td>
                    <td>
                        <?php // echo $this->translate($article['shop_article_type'], 'bitkornshop') ?>
                        <?php if ($article['shop_article_type'] == 'config') : ?>
                            <a class="w3-button bk-grey-light" href="<?php
                            echo $this->url('shop_admin_article_articleoptionadmin_articleoptiondefs_articlerelation',
                                ['article_id' => $article['shop_article_id']])
                            ?>">options (<?php echo $article['count_optiondefs'] ?? 0 ?>)</a>
                        <?php elseif ($article['shop_article_type'] == 'param2d') : ?>
                            <?php if (isset($article['shop_article_param2d_id'])): ?>
                                <?= $article['shop_article_param2d_name'] ?>
                            <?php else: ?>
                                <div class="w3-dropdown-hover">
                                    <button class="w3-button bk-grey-light">
                                        Param-2D
                                    </button>
                                    <div class="w3-dropdown-content w3-bar-block w3-border w3-small">
                                        <?php foreach ($this->param2dIdAssoc as $param2dId => $param2dName) : ?>
                                            <a class="w3-bar-item w3-button param2dswitch" data-articleid="<?= $article['shop_article_id'] ?>"
                                               data-param2did="<?= $param2dId ?>"><?= $param2dName ?></a>
                                        <?php endforeach; ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                        <?php else : ?>
                            default
                        <?php endif; ?>
                    </td>
                    <td>
                        <?php if ($article['shop_article_type_delivery'] == 'lengthcut') : ?>
                            <div class="w3-dropdown-hover">
                                <button class="w3-button bk-grey-light">
                                    <i class="fas fa-cut"></i>
                                    <?php echo isset($article['shop_article_lengthcut_def_id']) ? $this->lengthcutDefIdAssoc[$article['shop_article_lengthcut_def_id']] : '' ?>
                                </button>
                                <div class="w3-dropdown-content w3-bar-block w3-border w3-small">
                                    <?php foreach ($this->lengthcutDefIdAssoc as $lengthcutDefId => $lengthcutDefName) : ?>
                                        <a class="w3-bar-item w3-button lengthdefswitch" data-articleid="<?= $article['shop_article_id'] ?>"
                                           data-lengthcutdefid="<?= $lengthcutDefId ?>"><?= $lengthcutDefName ?></a>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        <?php elseif ($article['shop_article_type_delivery'] == 'download') : ?>
                        <?php endif; ?>
                    </td>
                    <td><?php echo $article['shop_article_active'] ? 'yes' : 'no' ?></td>
                    <td class="w3-right-align">
                        <a class="w3-button bk-grey-light"
                           href="<?php echo $this->url('shop_admin_article_articleadmin_editarticle', ['article_id' => $article['shop_article_id']]) ?>"
                        ><i class="far fa-edit"></i> edit</a>

                        <?php if ($article['shop_article_stock_using'] == 1) : ?>
                            <a class="w3-button bk-grey-light"
                               href="<?php echo $this->url('shop_admin_article_articleadmin_articlestock', ['article_id' => $article['shop_article_id']]) ?>">
                                <i class="fas fa-warehouse"></i> Bestand:&nbsp;<?php echo number_format($article['sum_shop_article_stock_amount'], 2, ',', '.') ?>
                            </a>
                        <?php else : ?>
                            <?php echo $this->translate('Kein Lager', 'bitkornshop') ?>
                        <?php endif; ?>

                        <a class="w3-button bk-grey-light" href="<?php
                        echo $this->url('shop_admin_article_articleimageadmin_editarticleimages', ['article_id' => $article['shop_article_id']])
                        ?>"><i class="far fa-images"></i> Bilder:&nbsp;<?php echo $article['count_image'] ?></a>

                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else : ?>
    <p>Keine Artikel gefunden</p>
<?php endif; ?>

<!--<div class="w3-right-align">-->
<!--    <br>-->
<!--    <a href="--><?php // echo $this->url('shop_admin_article_articleadmin_addarticle') ?><!--" class="w3-button w3-green"><i class="fas fa-plus"></i></a>-->
<!--</div>-->
