<?php
$this->headTitle('article stock');
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <?php echo $this->shopArticle['shop_article_sku'] . ' | ' . $this->shopArticle['shop_article_name'] ?>
    <a href="<?php echo $this->url('shop_admin_article_articleadmin_articles') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Artikelliste') ?>
    </a>
</div>
<div class="w3-row">
    <div class="w3-col">
        <form method="post" action="">
            <?php if (!empty($this->shopArticleOptions)) : ?>
                <input type="hidden" name="article_option_select" value="1">
                <?php
                echo $this->shopArticleOptionsSelect($this->shopArticleOptions, false, $this->optionItemIdsSelected, 'w3-inline',
                    'w3-select-no-width')
                ?>
                <input type="submit" class="w3-button bk-grey-light" value="anzeigen">
            <?php elseif (!empty($this->shopArticleParam2dItemsIdAssoc)) : ?>
                <input type="hidden" name="article_param2d_select" value="1">
                <?= $this->articleParam2dsSelect($this->shopArticleParam2dItemsIdAssoc, $this->param2dItemIdSelected) ?>
                <input type="submit" class="w3-button bk-grey-light" value="anzeigen">
            <?php endif; ?>
        </form>
    </div>
</div>
<div class="w3-row">
    <div class="w3-col ">
        <p>
            <strong>Gesamtbestand:</strong>&nbsp;
            <?php if (!empty($this->shopArticleStockList) && !empty($this->shopArticleStock)) : ?>
                <?php echo number_format($this->shopArticleStock['shop_article_stock_amount_sum'], 2, ',', '.') ?>
            <?php else: ?>
                0
            <?php endif; ?>
            <br>
            <strong>Bestellt: </strong>
            <?php if ($this->allOptionsSelected) : ?>
                <?php echo number_format($this->sumOrderedAndPayed, 2, ',', '.') ?>
            <?php else: ?>
                <?php if (!empty($this->shopArticleOptions)) : ?>
                    &nbsp;<small>Funktioniert mit <strong>allen</strong> oder <strong>keinen</strong> gewählten Optionen.</small>
                <?php endif; ?>
            <?php endif; ?>

            <button onclick="document.getElementById('stock_form_modal').style.display = 'block'" class="w3-button bk-grey w3-right">add stock</button>
        </p>
    </div>
</div>

<div class="w3-row">
    <div class="w3-col">
        <table class="w3-table-all">
            <thead>
            <tr class="w3-grey">
                <th>Produkt-Optionen</th>
                <th>param2d</th>
                <th class="w3-right-align">Menge</th>
                <th class="w3-center">Zeit</th>
                <th>Typ</th>
                <th>Grund</th>
                <th>Lieferant</th>
                <th>Charge</th>
            </tr>
            </thead>
            <tbody>
            <?php if (!empty($this->shopArticleStockList) && !empty($this->shopArticleStock)) : ?>
                <?php foreach ($this->shopArticleStockList as $shopArticleStock) : ?>
                    <tr>
                        <td>
                            <?php
                            echo $this->shopArticleOptionsFromJson($shopArticleStock['shop_article_options'], $this->articleId)
                            ?>
                        </td>
                        <td><?php echo $this->articleParam2dItemDesc($shopArticleStock['shop_article_param2d_item_id']) ?></td>
                        <td class="w3-right-align"><?php echo number_format($shopArticleStock['shop_article_stock_amount'], 2, ',', '.') ?></td>
                        <td class="w3-center"><?php echo date('d.m.Y H:i:s', $shopArticleStock['shop_article_stock_time']) ?></td>
                        <td><?php echo $shopArticleStock['shop_article_stock_reason_type'] ?></td>
                        <td><?php echo $shopArticleStock['shop_article_stock_reason'] ?></td>
                        <td><?php echo $this->shopVendorIdAssoc[$shopArticleStock['shop_vendor_id']] ?></td>
                        <td><?php echo $shopArticleStock['shop_article_stock_batch'] ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <tr>
                    <td colspan="7">Keine Bestandsbuchungen gefunden.</td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>

<?php $modalDisplay = ($this->formValid === true) ? '' : ' style="display: block;"' ?>
<div id="stock_form_modal" class="w3-modal" <?php echo $modalDisplay ?>>
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('stock_form_modal').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>
            <br>
            <?php echo $this->displayMessage($this->articleStockMessage) ?>
            <?php $this->shopArticleStockForm->prepare() ?>
            <?php echo $this->form()->openTag($this->shopArticleStockForm) ?>
            <input type="hidden" name="article_stock" value="1">
            <?= $this->shopArticleOptionsSelect($this->shopArticleOptions, false, $this->optionItemIdsSelected, 'w3-inline', 'w3-select-no-width') ?>
            <?= $this->articleParam2dsSelect($this->shopArticleParam2dItemsIdAssoc) ?>
            <?php echo $this->formRow($this->shopArticleStockForm->get('shop_article_stock_id')) ?>
            <?php echo $this->formRow($this->shopArticleStockForm->get('shop_article_id')) ?>
            <?php echo $this->formRow($this->shopArticleStockForm->get('shop_article_stock_amount')) ?>
            <?php echo $this->formRow($this->shopArticleStockForm->get('shop_vendor_id')) ?>
            <?php echo $this->formRow($this->shopArticleStockForm->get('shop_article_stock_batch')) ?>
            <?php echo $this->formRow($this->shopArticleStockForm->get('shop_article_stock_reason_type')) ?>
            <?php echo $this->formRow($this->shopArticleStockForm->get('shop_article_stock_reason')) ?>
            <?php echo $this->formSubmit($this->shopArticleStockForm->get('submit')) ?>
            <?php echo $this->form()->closeTag() ?>
        </div>
    </div>
</div>