<?php
$this->headTitle('article group relation');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/article-group-admin.js'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Gruppen Artikel: <?php echo $this->articleData['shop_article_sku'] . ' ' . $this->articleData['shop_article_name'] . ' (' . $this->articleData['shop_article_id'] . ')' ?>
    <a href="<?php echo $this->url('shop_admin_article_articleadmin_articles') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Artikelliste') ?>
    </a>
</div>
<?php if (!empty($this->articleGroupRelationArticles)) : ?>
    <form action="" method="post">
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Preis</th>
                    <th>Anzahl</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->articleGroupRelationArticles as $article) : ?>
                    <tr>
                        <td><?php echo $article['shop_article_name'] ?></td>
                        <td><?php echo $this->shorterText($article['shop_article_desc'], 50) ?></td>
                        <td><?php echo number_format($article['shop_article_price'], 2, ',', '.') ?></td>
                        <td><input type="number" name="article_group_relation_amount_<?php echo $article['shop_article_group_relation_id'] ?>" 
                                   style="width: 80px;"
                                   value="<?php echo $article['shop_article_group_relation_amount'] ?>" 
                                   class="w3-input"></td>
                        <td>
                            <button type="submit" name="update_article_group_relation" value="<?php echo $article['shop_article_group_relation_id'] ?>"
                                    class="w3-button w3-small bk-grey">save</button>
                            <button type="submit" name="delete_article_group_relation" value="<?php echo $article['shop_article_group_relation_id'] ?>"
                                    class="w3-button w3-small bk-warn">delete</button>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </form>
<?php endif; ?>
<div class="w3-row w3-padding-16">
    <div class="w3-col">
        <button type="button" class="w3-button bk-grey" id="add_relation_article" data-articleid="<?php echo $this->articleData['shop_article_id'] ?>">Artikel der Gruppe hinzu f&uuml;gen</button>
    </div>
</div>

<div id="relation_article_modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('relation_article_modal').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>
            <div id="relation_article_modal_content"></div>
        </div>
    </div>
</div>