<?php
$this->headTitle('Produkt edit');
//$this->inlineScript()->appendFile($this->basePath('js/spectrum/spectrum.js'));
//$this->headLink()->appendStylesheet($this->basePath('js/spectrum/spectrum.css'));
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Produkt: <strong><?php echo $this->articleData['shop_article_name'] ?></strong>
    <a href="<?php echo $this->url('shop_admin_article_articleadmin_articles') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Artikelliste') ?>
    </a>
</div>
<div class="w3-small">
    <?php $this->shopArticleForm->prepare() ?>
    <?php echo $this->form()->openTag($this->shopArticleForm) ?>
    <?php echo $this->formRow($this->shopArticleForm->get('shop_article_id')) ?>
    <div class="w3-row">
        <div class="arcr-panel w3-padding-small">
            <div class="w3-padding-small">
                <header class="w3-container arcr-panel-header"> Basis Daten</header>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_sku')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_name')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_sefurl')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_category_relation')) ?>
            </div>
        </div>

        <div class="arcr-panel w3-padding-small">
            <div class="w3-padding-small">
                <header class="w3-container arcr-panel-header"> Gliederung</header>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_type')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_type_delivery')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_groupable')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_class_id')) ?>
            </div>
        </div>

        <div class="arcr-panel w3-padding-small">
            <div class="w3-padding-small">
                <header class="w3-container arcr-panel-header"> Preise</header>

                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_price')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_tax')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_price_net')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_weight')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_shipping_costs_single')) ?>
            </div>
        </div>

        <div class="arcr-panel w3-padding-small">
            <div class="w3-padding-small">
                <header class="w3-container arcr-panel-header"> Meta (SEO)</header>
                <div>
                    <?php echo $this->formRow($this->shopArticleForm->get('shop_article_hexcolor')) ?>
                </div>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_meta_title')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_meta_keywords')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_meta_desc')) ?>
            </div>
        </div>

        <div class="arcr-panel w3-padding-small">
            <div class="w3-padding-small">
                <header class="w3-container arcr-panel-header"> Sichtbarkeit</header>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_active')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_active_in_categories')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_active_in_search')) ?>
            </div>
        </div>

        <div class="arcr-panel w3-padding-small">
            <div class="w3-padding-small">
                <header class="w3-container arcr-panel-header"> Sonstiges</header>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_stock_using')) ?>
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_feeable')) ?>
            </div>
        </div>

        <hr>
        <div class="w3-row">
            <div class="w3-col bk-padding-8">
                <?php echo $this->formRow($this->shopArticleForm->get('shop_article_desc')) ?>
            </div>
        </div>

        <?php echo $this->formSubmit($this->shopArticleForm->get('submit')) ?>
        <?php echo $this->formSubmit($this->shopArticleForm->get('submit_backward')) ?>
        <?php echo $this->form()->closeTag() ?>
        <br>
        <div class="w3-row">
            <div class="w3-col">
                <form action="" method="post" title="Kopiert das Produkt ohne ungespeicherte Änderungen.">
                    <button type="submit" name="copy_article" value="1"
                            class="w3-button w3-teal w3-right"><?php echo $this->translate('Artikel kopieren', 'bitkornshop') ?></button>
                </form>
            </div>
        </div>
    </div>
    <p></p>
    <script>
        $('#wysiwyg').trumbowyg();
    </script>