<?php
$this->headTitle('articlex images');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/article-images-admin.js?v=0.0.2'));
//echo $this->printrTextarea($this->shopArticleImages);
?>
<?php if (!empty($this->articleData)) : ?>
    <div class="w3-panel w3-padding-8 w3-grey">
        Bilder f&uuml;r <strong><?php echo $this->articleData['shop_article_sku'] . ' | ' . $this->articleData['shop_article_name'] ?></strong>
        <a href="<?php echo $this->url('shop_admin_article_articleadmin_articles') ?>" class="w3-right w3-small">
            <i class="fas fa-backward"></i> <?php echo $this->translate('Artikelliste') ?>
        </a>
    </div>

    <?php if (!empty($this->shopArticleImages) && !empty($this->imageEntity)) : ?>
        <div class="w3-row">
            <?php foreach ($this->shopArticleImages as $image) : ?>
                <div class="w3-col l2 m4 s6 w3-card-2 bk-images-gallery-card" id="div-image-id-<?php echo $image['bk_images_image_id'] ?>">
                    <div class="" title="<?php echo $this->imageEntity->getImageTitle($image['bk_images_image_id']) ?>">
                        <a href="<?php echo $this->imageSrc($image['bk_images_image_id'], ['sixteenToNine' => 60], $this->imageEntity) ?>" class="gallery-link"
                           data-titlesrc="<?php echo $this->imageEntity->getImageTitle($image['bk_images_image_id']) . ' | ' . $this->imageEntity->getImageDesc($image['bk_images_image_id']) ?>">
                            <img src="<?php echo $this->imageSrc($image['bk_images_image_id'], ['sixteenToNine' => 10], $this->imageEntity) ?>"
                                 alt="<?php echo $this->imageEntity->getImageTitle($image['bk_images_image_id']) ?>" class="w3-image">
                            <div>ID = <?php echo $image['bk_images_image_id'] ?></div>
                        </a>
                        <?php echo $this->translate('Priorität') ?>: <input type="number" name="shop_article_image_priority"
                                                                            class="image-priority"
                                                                            id="<?php echo $image['shop_article_image_id'] ?>"
                                                                            value="<?php echo $image['shop_article_image_priority'] ?>">
                        <button class="image-priority-button"
                                data-articleid="<?php echo $this->articleData['shop_article_id'] ?>"
                                data-articleimageid="<?php echo $image['shop_article_image_id'] ?>">ok
                        </button>
                    </div>

                    <div>
                        <a class="w3-button bk-grey"
                           href="<?php echo $this->url('bitkornimages_admin_editimage', ['image_id' => $image['bk_images_image_id']]) ?>?forwardurl=<?php echo $this->forwardurl ?>">edit</a>
                        <button type="button"
                                data-articleid="<?php echo $this->articleData['shop_article_id'] ?>"
                                data-articleimageid="<?php echo $image['shop_article_image_id'] ?>"
                                data-imageid="<?php echo $image['bk_images_image_id'] ?>"
                                class="w3-button w3-red delete-image">l&ouml;schen
                        </button>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    <?php else : ?>
        <div class="w3-panel w3-blue-grey">Keine Bilder vorhanden</div>
    <?php endif; ?>
    <hr>
    <div class="w3-navbar">
        <a href="<?php echo $this->url('shop_admin_article_articleimageadmin_uploadimage', ['article_id' => $this->articleData['shop_article_id']]) ?>"
           class="w3-button bk-grey">neues Bild zu diesem Artikel hochladen</a>
        <button class="w3-button bk-grey add-image-relation" data-articleid="<?php echo $this->articleData['shop_article_id'] ?>">vorhandenes Bild an diesen Artikel binden</button>
    </div>
<?php else : ?>
    <p>Keine Artikel- oder Bild-Daten vorhanden</p>
<?php endif; ?>


<div id="add-image-relation-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('add-image-relation-modal').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>
            <div id="add-image-relation-modal-content">&nbsp;<br>&nbsp;</div>
        </div>
    </div>
</div>