<?php
$this->headTitle('upload image');
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Upload Bild f&uuml;r Produkt <strong><?php echo $this->articleData['shop_article_name'] ?></strong>
    <div class="w3-right w3-small">
        <a href="<?php echo $this->url('shop_admin_article_articleadmin_articles') ?>" class="">
            <i class="fas fa-backward"></i> <?php echo $this->translate('Artikelliste') ?>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="<?php echo $this->url('shop_admin_article_articleimageadmin_editarticleimages', ['article_id' => $this->articleId]) ?>" class="">
            <i class="fas fa-backward"></i> <?php echo $this->translate('Artikel Bilder') ?>
        </a>
    </div>
</div>
<?php echo $this->form($this->imageForm) ?>