<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<p>
    Sehr geehrte/r <?php echo $this->userAddressShipment['shop_user_address_name1'] . ' ' . $this->userAddressShipment['shop_user_address_name2'] ?>,
    <br>
    Ihre Ware mit der Bezahl-Nr. <strong><?php echo $this->shopBasketEntity['payment_number'] ?></strong> wurde versendet.
    <br>
    Zur Sendungsverfolgung benutzen sie folgende Nummer: <strong><?php echo $this->shopBasketEntity['shipping_number'] ?></strong>.
</p>

<p>
    <a href="<?php echo $this->serverUrl($this->url('shop_frontend_userbackend_userbaskets')) ?>">
        F&uuml;r eine Zusammenfassung Ihrer K&auml;ufe klicken sie hier.
    </a>
    <br>
    Dort finden Sie auch Ihre Rechnung, bzw. Bestellung, als PDF Dokument und die Nummer zur Sendungsverfolgung.
</p>
<hr>
<p style="font-size: 0.8em;">
    <?php echo $this->impressumHtml ?>
</p>
