<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<p>
    Sehr geehrte/r <?php echo $this->userAddressShipment['shop_user_address_name1'] . ' ' . $this->userAddressShipment['shop_user_address_name2'] ?>,
    <br>
    wir bedanken uns herzlich f&uuml;r Ihren Kauf in unserem Onlineshop.
</p>
<?php if (!empty($this->storageItems)) : ?>
    <table class="w3-table-all">
        <thead>
            <tr>
                <th>Artikel-Nr.</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th style="text-align: right;">Anzahl</th>
                <th style="text-align: right;">Einzelpreis</th>
                <th style="text-align: right;">Gesamtpreis</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->storageItems as $storageItem) : ?>
                <tr>
                    <td><?php echo $storageItem['shop_article_sku'] ?></td>
                    <td>
                        <a href="<?php echo $this->url('shop_frontend_article_article', ['article_sefurl' => $this->shopArticleSefurl($storageItem['shop_article_id'])]) ?>">
                            <?php echo html_entity_decode($storageItem['shop_article_name']) ?>
                        </a>
                    </td>
                    <td><?php echo html_entity_decode($this->shorterText($storageItem['shop_article_desc'], 80)) ?></td>
                    <td style="text-align: right;"><?php echo $storageItem['shop_article_amount'] ?></td>
                    <td style="text-align: right;"><?php echo number_format($storageItem['shop_article_price'], 2, ',', '.') ?> &euro;</td>
                    <td style="text-align: right;"><?php echo number_format($storageItem['shop_article_price_total'], 2, ',', '.') ?> &euro;</td>
                </tr>
            <?php endforeach; ?>
            <tr>
                <td colspan="5" style="text-align: right;">Versandkosten&nbsp;</td>
                <td style="text-align: right;"><?php echo number_format($this->articleShippingCostsComputed, 2, ',', '.') ?> &euro;</td>
            </tr>
            <tr style="font-weight: bold;">
                <td colspan="5" style="text-align: right;">Gesamtkosten&nbsp;</td>
                <td style="text-align: right;"><?php echo number_format($this->articleShippingCostsComputed + $this->articlePriceTotalSum, 2, ',', '.') ?> &euro;</td>
            </tr>
            <?php if (!empty($this->basketDiscountValue)) : ?>
                <tr>
                    <td colspan="5" style="text-align: right;">Rabatt (<?php echo $this->basketDiscountHash ?>)&nbsp;</td>
                    <td style="text-align: right;"><?php echo number_format($this->basketDiscountValue, 2, ',', '.') ?> &euro;</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td colspan="5" style="text-align: right;">rabattierte Gesamtkosten&nbsp;</td>
                    <td style="text-align: right;"><?php echo number_format($this->articleShippingCostsComputed + $this->articlePriceTotalSumEnd, 2, ',', '.') ?> &euro;</td>
                </tr>
            <?php endif; ?>
        </tbody>
    </table>
<?php endif; ?>
<p>
    <a href="<?php echo $this->serverUrl($this->url('shop_frontend_userbackend_userbaskets')) ?>">
        F&uuml;r eine Zusammenfassung Ihrer K&auml;ufe klicken sie hier.
    </a>
    <br>
    Dort finden Sie auch Ihre Rechnung, bzw. Bestellung, als PDF Dokument.
</p>
<hr>
<p style="font-size: 0.8em;">
    <?php echo $this->impressumHtml ?>
</p>
