<?php if (!empty($this->userAddresses)) : ?>
    <div class="w3-row w3-small">
        <div class="w3-col l6 m6 w3-border">
            <h4>&nbsp;<?php echo $this->translate($this->addressTypeDisplay($this->userAddresses[0]['shop_user_address_type'])) ?></h4>
            <ul class="w3-ul">
                <?php if (!empty($this->userAddresses[0]['shop_user_address_company_name'])) : ?>
                    <li>
                        <?php echo $this->userAddresses[0]['shop_user_address_company_name'] ?>
                        <?php if (!empty($this->userAddresses[0]['shop_user_address_company_department'])) : ?>
                            | Abteilung: <?php echo $this->userAddresses[0]['shop_user_address_company_department'] ?>
                        <?php endif; ?>
                    </li>
                <?php endif; ?>
                <li><?php echo $this->userAddresses[0]['shop_user_address_name1'] . ' ' . $this->userAddresses[0]['shop_user_address_name2'] ?></li>
                <li><?php echo $this->userAddresses[0]['shop_user_address_street'] . ' ' . $this->userAddresses[0]['shop_user_address_street_no'] ?></li>
                <li><?php echo $this->userAddresses[0]['shop_user_address_zip'] . ' ' . $this->userAddresses[0]['shop_user_address_city'] ?></li>
                <li><?php echo $this->isoCountryDisplay($this->userAddresses[0]['country_id']) ?></li>
                <li><!-- only last child are without border bottom --></li>
            </ul>
            <button class="user-address-edit w3-button bk-grey" data-addressid="<?php echo $this->userAddresses[0]['shop_user_address_id'] ?>">
                <?php echo $this->translate('Adresse ändern', 'bitkornshop') ?>
            </button>
        </div>
        <?php if (!empty($this->userAddresses[1])) : ?>
            <div class="w3-col l6 m6 w3-border">
                <h4>&nbsp;<?php echo $this->translate($this->addressTypeDisplay($this->userAddresses[1]['shop_user_address_type'])) ?></h4>
                <ul class="w3-ul">
                    <?php if (!empty($this->userAddresses[1]['shop_user_address_company_name'])) : ?>
                        <li>
                            <?php echo $this->userAddresses[1]['shop_user_address_company_name'] ?>
                            <?php if (!empty($this->userAddresses[1]['shop_user_address_company_department'])) : ?>
                                | Abteilung: <?php echo $this->userAddresses[1]['shop_user_address_company_department'] ?>
                            <?php endif; ?>
                        </li>
                    <?php endif; ?>
                    <li><?php echo $this->userAddresses[1]['shop_user_address_name1'] . ' ' . $this->userAddresses[1]['shop_user_address_name2'] ?></li>
                    <li><?php echo $this->userAddresses[1]['shop_user_address_street'] . ' ' . $this->userAddresses[1]['shop_user_address_street_no'] ?></li>
                    <li><?php echo $this->userAddresses[1]['shop_user_address_zip'] . ' ' . $this->userAddresses[1]['shop_user_address_city'] ?></li>
                    <li><?php echo $this->isoCountryDisplay($this->userAddresses[1]['country_id']) ?></li>
                    <li><!-- only last child are without border bottom --></li>
                </ul>
                <button class="user-address-edit w3-button bk-grey" data-addressid="<?php echo $this->userAddresses[1]['shop_user_address_id'] ?>">
                    <?php echo $this->translate('Adresse ändern', 'bitkornshop') ?>
                </button>
                <button class="user-address-delete w3-button bk-warn" data-addressid="<?php echo $this->userAddresses[1]['shop_user_address_id'] ?>">
                    <?php echo $this->translate('Adresse löschen', 'bitkornshop') ?>
                </button>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
<?php if (empty($this->userAddresses) || count($this->userAddresses) < 2) : ?>
    <div class="w3-row w3-small">
        <div class="w3-col w3-center">
            <br>
            <button class="user-address-edit w3-button bk-grey" data-addressid="0">
                <?php echo $this->userAddressesCount < 1 ? $this->translate('Rechnungsadresse anlegen', 'bitkornshop') : $this->translate('Versandadresse anlegen', 'bitkornshop')
                ?>
            </button>
        </div>
    </div>
<?php endif; ?>
