<?php ?>
<br>
<?php if (!empty($this->claim)) : ?>
    <div class="w3-row">
        <div class="w3-col l1 m1">
            <a href="<?php
            echo $this->url('shop_admin_basket_claimadmin_manageclaim',
                    [
                'claim_id' => $this->claim['shop_basket_claim_id'],
                'basket_item_id' => $this->claim['shop_basket_item_id'],
                'basket_unique' => $this->claim['shop_basket_unique']
            ])
            ?>" class="w3-button w3-small bk-grey-light">
                manage
            </a>
        </div>
        <div class="w3-col l2 m2">
            <a href="<?php echo $this->url('shop_admin_basket_claimadmin_claims') ?>">
                <i class="fas fa-backward"></i> <?php echo $this->translate('Retouren Liste') ?>
            </a>
        </div>
        <div class="w3-col l2 m2">
            <a href="<?php echo $this->url('shop_admin_basket_basketadmin_basket', ['basket_unique' => $this->claim['shop_basket_unique']]) ?>">
                <i class="fas fa-shopping-basket"></i> zum Warenkorb
            </a>
        </div>
    </div>
    <p class="w3-border w3-padding">
        <?php echo $this->claim['shop_basket_claim_reason'] ?>
        <br>
        <strong>
            erstellt: <?php echo date('d.m.Y H:i:s', $this->claim['shop_basket_claim_time_create']) ?>
            <br>
            von: <?php echo $this->userLoginIdAssoc($this->claim['shop_basket_claim_user_create']) ?>
        </strong>
    </p>
<?php endif; ?>
