<?php ?>

<br>
<div class="w3-row">
    <div class="w3-col l2 m2">
        <?php if ($this->showall != 1) : ?>
            <a href="?showall=1" class="w3-button bk-grey-light w3-small">alle anzeigen</a>
        <?php else : ?>
            <a href="?showall=0" class="w3-button bk-grey-light w3-small">nur unerledigte anzeigen</a>
        <?php endif; ?>
    </div>
    <div class="w3-col l2 m2">

    </div>
    <div class="w3-col l2 m2">

    </div>
    <div class="w3-col l2 m2">

    </div>
    <div class="w3-col l2 m2">

    </div>
    <div class="w3-col l2 m2">

    </div>
</div>
<br>
<?php if (!empty($this->claims)) : ?>
    <div class="w3-responsive">
        <table class="w3-table w3-table-all">
            <thead>
                <tr class="w3-grey">
                    <th><?php echo $this->translate('Retouren Grund') ?></th>
                    <th><?php echo $this->translate('Zeit erstellt') ?></th>
                    <th><?php echo $this->translate('User erstellt') ?></th>
                    <th><?php echo $this->translate('erledigt') ?></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->claims as $claim) : ?>
                    <tr>
                        <td>
                            <?php echo $this->shorterText($claim['shop_basket_claim_reason'], 50) ?>
                        </td>
                        <td><?php echo date('d.m.Y H:i:s', $claim['shop_basket_claim_time_create']) ?></td>
                        <td><?php echo $this->userLoginIdAssoc($claim['shop_basket_claim_user_create']) ?></td>
                        <td><?php echo ($claim['shop_basket_claim_finished'] == 0) ? '<div style="color:red;">nein</div>' : 'ja' ?></td>
                        <td>
                            <a href="<?php
                            echo $this->url('shop_admin_basket_claimadmin_manageclaim',
                                    [
                                'claim_id' => $claim['shop_basket_claim_id'],
                                'basket_item_id' => $claim['shop_basket_item_id'],
                                'basket_unique' => $claim['shop_basket_unique']
                            ])
                            ?>" class="w3-button w3-small bk-grey-light">
                                manage
                            </a>
                            &nbsp;&nbsp;
                            <a href="<?php
                            echo $this->url('shop_admin_basket_claimadmin_claim',
                                    [
                                'claim_id' => $claim['shop_basket_claim_id']
                            ])
                            ?>" class="w3-button w3-small bk-grey-light">
                                anzeigen
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <p>Keine Retouren gefunden.</p>
<?php endif; ?>
