<?php
$this->headTitle('claim admin');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/basket-claim-admin.js'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-row">
    <div class="w3-col l2 m2">
        <h2>Retoure</h2>
    </div>
    <div class="w3-col l4 m4 w3-right-align">
        <p>
            <a href="<?php echo $this->url('shop_admin_basket_basketadmin_basket', ['basket_unique' => $this->shopBasketEntity['shop_basket_unique']]) ?>">
                <i class="fas fa-backward"></i> zurück zum Warenkorb
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="<?php echo $this->url('shop_admin_basket_claimadmin_claims') ?>">
                <i class="fas fa-backward"></i> <?php echo $this->translate('Retouren Liste') ?>
            </a>
        </p>
    </div>
</div>
<table>
    <tbody>
    <tr>
        <th class="w3-left-align">Artikel-Nr.</th>
        <td><?php echo $this->shopBasketEntity['shop_article_sku'] ?></td>
    </tr>
    <tr>
        <th class="w3-left-align">Artikel-Name</th>
        <td><?php echo $this->shopBasketEntity['shop_article_name'] ?></td>
    </tr>
    <?php if (!empty($this->shopBasketEntity['shop_article_size_def_id'])): ?>
        <tr>
            <th class="w3-left-align">Artikel-Gr&ouml;&szlig;e</th>
            <td><?php echo $this->shopArticleSizeDefIdAssocHelper($this->shopBasketEntity['shop_article_size_def_id'], true) ?></td>
        </tr>
    <?php endif; ?>
    </tbody>
</table>
<div class="w3-row">
    <div class="w3-col l6">
        <?php echo $this->form($this->shopBasketClaimForm) ?>
        <hr class="hr-bold">
    </div>
</div>
<h4>Dateien zur Retoure</h4>
<div class="w3-row">
    <div class="w3-col l6 w3-padding w3-border-left">
        <?php if ($this->folderArr) : ?>
            <?php foreach ($this->folderArr as $filename) : ?>
                <?php if ($filename != '.' && $filename != '..') : ?>
                    <p>
                        <button type="button" class="w3-button w3-red w3-small delete-claimfile"
                                data-basketitemid="<?php echo $this->shopBasketEntity['shop_basket_item_id'] ?>"
                                data-basketclaimid="<?php echo $this->shopBasketClaimId ?>"
                                data-basketclaimfilename="<?php echo $filename ?>"
                                data-basketunique="<?php echo $this->shopBasketEntity['shop_basket_unique'] ?>">
                            <i class="fas fa-times"></i>
                        </button>&nbsp;
                        <a href="<?php echo $this->url('shop_admin_basket_claimadmin_streamclaimfile', ['claim_id' => $this->shopBasketClaimId, 'filename' => $filename]) ?>"
                           target="_blank">
                            <?php echo $filename ?>
                        </a>
                    </p>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
</div>
<div class="w3-row">
    <div class="w3-col l6">
        <hr class="hr-thin">
        <br>
        <strong>Neue Datei hinzu f&uuml;gen</strong>
        <?php echo $this->form($this->shopBasketClaimFileForm) ?>
        <hr class="hr-bold">
    </div>
</div>
