<?php if (isset($this->shopConfigurationValueOptions)) : ?>
    <div data-id="<?php echo $this->uniqueId ?>" class="direct-edit-input cursor-pointer w3-container">
        <div id="showable-<?php echo $this->uniqueId ?>" class="direct-edit-showable"><?php echo $this->shopConfigurationValueOptions[$this->value] ?></div>
        <form id="editable-<?php echo $this->uniqueId ?>" style="display: none;" class="direct-edit-editable">
            <?php foreach ($this->shopConfigurationValueOptions as $value => $valueDisplay) : ?>
                <label style="border: 1px solid #999999; margin: 0 2px;" class="cursor-pointer">
                    <input name="<?php echo $this->uniqueId ?>" type="radio" value="<?php echo $value ?>" <?php echo ($value == $this->value) ? 'checked' : '' ?>><?php echo $valueDisplay ?>
                </label>
            <?php endforeach; ?>
        </form>
        <button id="button-<?php echo $this->uniqueId ?>" 
                data-id="<?php echo $this->uniqueId ?>" 
                data-valueoptions="<?php echo $this->jsonValueOptions ?>"
                class="w3-button w3-small direct-edit-button" 
                style="display: none; float: right;">save</button>
    </div>
<?php endif; ?>