<div data-id="<?php echo $this->uniqueId ?>" class="direct-edit-input cursor-pointer w3-container">
    <div id="showable-<?php echo $this->uniqueId ?>" class="direct-edit-showable"><?php echo $this->value ?></div>
    <input id="editable-<?php echo $this->uniqueId ?>" type="text" value="<?php echo $this->value ?>" class="w3-input direct-edit-editable" style="display: none; width: 80%;">
    <button id="button-<?php echo $this->uniqueId ?>" 
            data-id="<?php echo $this->uniqueId ?>" 
            class="w3-button w3-small direct-edit-button" 
            style="display: none; float: right;">save</button>
</div>