<div data-id="<?php echo $this->uniqueId ?>" class="direct-edit-input cursor-pointer">
    <div id="showable-<?php echo $this->uniqueId ?>" class="direct-edit-showable"><?php echo $this->value ?></div>
    <textarea id="editable-<?php echo $this->uniqueId ?>" class="w3-input direct-edit-editable" style="resize: vertical; display: none; width: 80%;"><?php echo $this->escapeHtml($this->value) ?></textarea>
    <button id="button-<?php echo $this->uniqueId ?>" 
            data-id="<?php echo $this->uniqueId ?>" 
            class="w3-button w3-small direct-edit-button" 
            style="display: none; float: right;">save</button>
</div>