<?php if (!empty($this->images)) : ?>
    <div class="w3-padding">
        <form action="" method="post">
            <table class="w3-table-all">
                <tr>
                    <td colspan="2"></td>
                    <td><input type="checkbox" name="checkall" value="1" class="w3-check ckeckall"></td>
                </tr>
                <?php foreach ($this->images as $image) : ?>
                    <tr>
                        <td>
                            <img src="<?php echo $this->imageSrc($image['bk_images_image_id'], ['sixteenToNine' => 6], $this->imageEntity) ?>" alt="image preview" class="w3-image">
                        </td>
                        <td>
                            <?php echo $image['bk_images_image_title'] ?>
                            <br>
                            <?php echo $this->shorterText($image['bk_images_image_desc'], 100) ?>
                        </td>
                        <td style="width: 10px;">
                            <input type="checkbox" name="add_relation_imageid[]" value="<?php echo $image['bk_images_image_id'] ?>" class="w3-check checkimage">
                        </td>
                    </tr>
                <?php endforeach; ?>
                    <tr><td colspan="3"><button type="submit" class="w3-button w3-right bk-grey-light">speichern</button></td></tr>
            </table>
        </form>
    </div>
<?php endif; ?>