<?php
$this->headTitle($this->translate('User Provision', 'bitkornshop'));
//echo $this->printrTextarea($this->shopBasketFeeEntity);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Kunde: <?php echo $this->userData['shop_user_data_number_varchar'] ?> 
    (login: <?php echo $this->userData['user_login'] ?>; registered: <?php echo date('d.m.Y', $this->userData['user_time_create']) ?>)
    <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_shopusers') ?>" class="w3-small w3-right">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Kundenliste') ?>
    </a>
</div>

<div class="w3-row">
    <div class="w3-col l6 m10">
        <strong>Provisionsfestlegung</strong>
        <?php $this->shopUserFeeForm->prepare() ?>
        <?php echo $this->form()->openTag($this->shopUserFeeForm) ?>
        <?php echo $this->formElement($this->shopUserFeeForm->get('shop_user_fee_id')) ?>
        <?php echo $this->formElement($this->shopUserFeeForm->get('user_uuid')) ?>
        <table class="w3-table w3-bordered">
            <thead>
                <tr class="w3-grey">
                    <th class="w3-right-align">Typ</th>
                    <th class="w3-right-align">Wert</th>
                    <th class="w3-left-align"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w3-right-align">
                        <?php $formElementShopUserFeeStatic = $this->shopUserFeeForm->get('shop_user_fee_static') ?>
                        <?php echo $this->formLabel($formElementShopUserFeeStatic) ?>
                    </td>
                    <td class="w3-right-align">
                        <?php echo $this->formElement($formElementShopUserFeeStatic->setValue($this->numberFormatService->format($formElementShopUserFeeStatic->getValue()))) ?>
                    </td>
                    <td>&euro;</td>
                </tr>
                <tr>
                    <td class="w3-right-align">
                        <?php $formElementShopUserFeePercent = $this->shopUserFeeForm->get('shop_user_fee_percent') ?>
                        <?php echo $this->formLabel($formElementShopUserFeePercent) ?>
                    </td>
                    <td class="w3-right-align">
                        <?php echo $this->formElement($formElementShopUserFeePercent->setValue($this->numberFormatService->format($formElementShopUserFeePercent->getValue()))) ?>
                        <?php echo $this->formElementErrors($formElementShopUserFeePercent) ?>
                    </td>
                    <td>%</td>
                </tr>
                <tr>
                    <td class="w3-right-align">
                        <?php $formElementShopUserFeeCouponPercent = $this->shopUserFeeForm->get('shop_user_fee_coupon_percent') ?>
                        <?php echo $this->formLabel($formElementShopUserFeeCouponPercent) ?>
                    </td>
                    <td class="w3-right-align">
                        <?php echo $this->formElement($formElementShopUserFeeCouponPercent->setValue($this->numberFormatService->format($formElementShopUserFeeCouponPercent->getValue()))) ?>
                    </td>
                    <td>%</td>
                </tr>
                <tr>
                    <td class="w3-right-align">
                        <?php $formElementShopUserFeeMlmChildFeePercent = $this->shopUserFeeForm->get('shop_user_fee_mlm_child_fee_percent') ?>
                        <?php echo $this->formLabel($formElementShopUserFeeMlmChildFeePercent) ?>
                    </td>
                    <td class="w3-right-align">
                        <?php echo $this->formElement($formElementShopUserFeeMlmChildFeePercent->setValue($this->numberFormatService->format($formElementShopUserFeeMlmChildFeePercent->getValue()))) ?>
                    </td>
                    <td>%</td>
                </tr>
                <tr>
                    <td class="w3-right-align">
                        <?php $formElementShopUserFeeMlmChildFeePercentFirst = $this->shopUserFeeForm->get('shop_user_fee_mlm_child_fee_percent_first') ?>
                        <?php echo $this->formLabel($formElementShopUserFeeMlmChildFeePercentFirst) ?>
                    </td>
                    <td class="w3-right-align">
                        <?php echo $this->formElement($formElementShopUserFeeMlmChildFeePercentFirst->setValue($this->numberFormatService->format($formElementShopUserFeeMlmChildFeePercentFirst->getValue()))) ?>
                    </td>
                    <td>%</td>
                </tr>
                <tr>
                    <td class="w3-right-align">
                        <?php $formElementShopUserFeeMlmChildFeeCouponPercent = $this->shopUserFeeForm->get('shop_user_fee_mlm_child_fee_coupon_percent') ?>
                        <?php echo $this->formLabel($formElementShopUserFeeMlmChildFeeCouponPercent) ?>
                    </td>
                    <td class="w3-right-align">
                        <?php echo $this->formElement($formElementShopUserFeeMlmChildFeeCouponPercent->setValue($this->numberFormatService->format($formElementShopUserFeeMlmChildFeeCouponPercent->getValue()))) ?>
                    </td>
                    <td>%</td>
                </tr>
                <tr class="w3-grey"><td colspan="3"></td></tr>
                <tr>
                    <td class="w3-right-align">
                        <?php echo $this->formLabel($this->shopUserFeeForm->get('shop_user_fee_mlm_parent_user_uuid')) ?>
                    </td>
                    <td colspan="2">
                        <?php echo $this->formElement($this->shopUserFeeForm->get('shop_user_fee_mlm_parent_user_uuid')) ?>
                    </td>
                </tr>
                <tr class="w3-grey"><td colspan="3"></td></tr>
                <tr>
                    <td class="w3-right-align">PayPal Emailadresse für Provisionszahlungen</td>
                    <td class="w3-right-align" colspan="2">
                        <span class="w3-small bk-red-text"><?php echo $this->payPalEmailMessage ?></span>
                        <input type="text" name="shop_user_data_paypal_email" placeholder="PayPal Account Email" 
                               class="w3-input"
                               value="<?php echo $this->userData['shop_user_data_paypal_email'] ?>">
                               <?php if (!empty($this->userData['shop_user_data_paypal_email'])) : ?>
                            <label class="w3-border cursor-pointer bk-padding-6">
                                <input type="checkbox" name="shop_user_data_paypal_email_delete" value="1">&nbsp;<span class="w3-xtiny">entfernen</span>
                            </label>
                        <?php endif; ?>
                    </td>
                </tr>
            </tbody>
        </table>
        <?php echo $this->formSubmit($this->shopUserFeeForm->get('shop_user_fee_submit')) ?>
        <?php echo $this->form()->closeTag() ?>
    </div>
</div>
<!--<div class="w3-row">
    <div class="w3-col l4 m4">
        <form method="post" action="">
            <p>
                <input type="email" name="shop_user_data_paypal_email" placeholder="PayPal Account Email">
                <input type="submit" value="speichern">
            </p>
        </form>
    </div>
</div>-->
<hr class="hr-bold">
<div class="w3-row">
    <div class="w3-col">
        <?php if (!empty($this->shopBasketFeeEntity)) : ?>
            <form method="post" action="" class="w3-responsive">
                <table class="w3-table w3-bordered">
                    <thead>
                        <tr class="w3-grey">
                            <th colspan="7" class="w3-center">eigene Verkäufe durch Kauf (inkl. POS Verkauf) und Rabatt-Codes</th>
                            <th colspan="4" class="w3-center w3-border-left w3-border-right">ausgezahlt</th>
                            <th></th>
                        </tr>
                        <tr class="w3-grey">
                            <th></th>
                            <th>Rechn.-Nr.</th>
                            <th>bestellt</th>
                            <th>bezahlt</th>
                            <th class="w3-right-align">Artikel Netto</th>
                            <th class="w3-right-align">Provision</th>
                            <th class="w3-center">-Typ</th>
                            <th class="w3-right-align w3-border-left">&euro;</th>
                            <th class="w3-right-align">am</th>
                            <th class="w3-right-align">ID</th>
                            <th class="w3-right-align w3-border-right">Methode</th>
                            <th class="">Aktion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $isCheckbox = false ?>
                        <?php foreach ($this->shopBasketFeeEntity as $basketFeeEntityItem) : ?>
                            <tr style="background-color: <?php echo $this->shopBasketFeeEntity->getCurrentColor() ?>">
                                <td title="<?php echo $basketFeeEntityItem['shop_basket_unique'] ?>">
                                    <a href="<?php
                                    echo $this->url('shop_admin_basket_basketadmin_basket',
                                            ['basket_unique' => $basketFeeEntityItem['shop_basket_unique']])
                                    ?>">
                                        <i class="fas fa-shopping-basket"></i>
                                    </a>
                                </td>
                                <td title="<?php echo $basketFeeEntityItem['shop_basket_address_name'] ?: $basketFeeEntityItem['shop_user_address_name'] ?>">
                                    <?php echo $basketFeeEntityItem['shop_document_invoice_number'] ?: '' ?>
                                </td>
                                <td><?php echo date('d.m.Y', $basketFeeEntityItem['shop_basket_time_order']) ?></td>
                                <td>
                                    <?php if (!empty($basketFeeEntityItem['shop_basket_time_payed'])) : ?>
                                        <?php
                                        echo date('d.m.Y', $basketFeeEntityItem['shop_basket_time_payed'])
                                        ?>
                                    <?php endif; ?>
                                </td>
                                <td class="w3-right-align">
                                    <?php echo $this->numberFormatService->format($basketFeeEntityItem['computet_basketfee_shopping_value_net']) ?>
                                    (<?php echo $basketFeeEntityItem['shop_article_amount'] ?>)
                                </td>
                                <td class="w3-right-align">
                                    <?php echo $this->numberFormatService->format($basketFeeEntityItem['computet_basketfee_fee']) ?>
                                </td>
                                <td class="w3-center">
                                    <?php echo $basketFeeEntityItem['computet_basketfee_type'] ?>
                                </td>
                                <td class="w3-right-align w3-border-left">
                                    <?php if ($basketFeeEntityItem['shop_basket_fee_paid_sum'] > 0) : ?>
                                        <?php echo $this->numberFormatService->format($basketFeeEntityItem['shop_basket_fee_paid_sum']) ?>
                                    <?php endif; ?>
                                </td>
                                <?php if (!empty($basketFeeEntityItem['shop_user_fee_paid_time'])) : ?>
                                    <td class="w3-right-align">
                                        <?php
                                        echo date('d.m.Y', $basketFeeEntityItem['shop_user_fee_paid_time'])
                                        ?>
                                    </td>
                                    <td class="w3-right-align w3-border-left"><?php echo $basketFeeEntityItem['shop_user_fee_paid_payment_id'] ?></td>
                                    <td class="w3-right-align w3-border-left"><?php echo $basketFeeEntityItem['shop_user_fee_paid_payment_method'] ?></td>
                                    <td class="w3-border-left"></td>
                                <?php else : ?>
                                    <?php $isCheckbox = true ?>
                                    <td class="w3-border-left"></td>
                                    <td class="w3-border-left"></td>
                                    <td class="w3-border-left"></td>
                                    <td class="w3-border-left">
                                        <input type="checkbox" name="shop_user_fee_paid_basket_id[]" value="<?php echo $basketFeeEntityItem['shop_basket_entity_id'] ?>"
                                               class="w3-check">
                                    </td>
                                <?php endif; ?>
                            </tr>
                        <?php endforeach; ?>
                        <tr class="w3-border-top">
                            <th colspan="5">
                                Gesamt
                            </th>
                            <th class="w3-right-align"><?php echo $this->numberFormatService->format($this->shopBasketFeeEntity->getFeeSum()) ?></th>
                            <th></th>
                            <th class="w3-right-align"><?php echo $this->numberFormatService->format($this->shopBasketFeeEntity->getFeePaidSum()) ?></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                <select name="shop_user_fee_paid_action" class="w3-select">
                                    <option value="0">-- Aktion wählen --</option>
                                    <option value="csv_all">Excel/CSV Export ALLE</option>
                                    <?php if ($isCheckbox) : ?>
                                        <option value="csv">Excel/CSV Export</option>
                                    <?php endif; ?>
                                    <?php if (!$this->readonly && $isCheckbox) : ?>
                                        <option value="check">als ausgezahlt markieren</option>
                                        <option value="paypal">mit PayPal auszahlen</option>
                                    <?php endif; ?>
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="10" class="w3-left-align">

                            </td>
                            <td class="">
                                <input type="submit" value="Aktion ausführen" class="w3-button bk-grey-light">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        <?php else: ?>
            <p>Es liegen noch keine Verkäufe vor.</p>
        <?php endif; ?>
    </div>
</div>

<hr class="hr-bold">
<div class="w3-row">
    <div class="w3-col l4 m4">
        <?php if (!empty($this->mlmChilds)) : ?>
            <strong>MLM Kunden</strong>
            <table class="w3-table w3-bordered">
                <thead>
                    <tr class="w3-grey">
                        <th class="w3-left-align">Kd.-Nr.</th>
                        <th class="w3-left-align">Login</th>
                        <th class="w3-left-align">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->mlmChilds as $mlmChild) : ?>
                        <tr>
                            <td><?php echo $mlmChild['shop_user_data_number_varchar'] ?></td>
                            <td><?php echo $mlmChild['login'] ?></td>
                            <td><?php echo $mlmChild['email'] ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php else: ?>
            <p>Keine MLM-Kunden gefunden.</p>
        <?php endif; ?>
    </div>
</div>

<hr class="hr-bold">
<div class="w3-row">
    <div class="w3-col l4 m4">
        <strong>Bankverbindung für Provisionsauszahlungen</strong>
        <hr>
        <?php echo $this->form($this->shopUserBankForm) ?>
    </div>
</div>