<?php
//echo $this->printrTextarea($this->shopBasketData);
?>
<h3>Ihr Warenkorb</h3>
<div class="w3-row">
    <div class="w3-col l4 w3-right">
        <div class="w3-row">
            <div class="w3-col l1 w3-hide-medium w3-hide-small">
                &nbsp;
            </div>
            <div class="w3-col l11">
                <ul class="w3-ul w3-border">
                    <li>
                        <div>Artikel-Anzahl
                            <span class="w3-right w3-margin-right">
                                <?php echo $this->numberI18n($this->articleAmountSum) ?>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>Warenwert
                            <span class="w3-right w3-margin-right">
                                <?php echo $this->numberI18n($this->articlePriceTotalSum) ?> &euro;
                            </span>
                        </div>
                    </li>

                    <?php if (!empty($this->basketDiscountValue) && !empty($this->basketDiscountHash)) : ?>
                        <li class="bk-grey-light">
                            <div>Rabatt (<?php echo $this->basketDiscountHash ?>)
                                <span class="w3-right w3-margin-right">
                                    <?php echo $this->numberI18n($this->basketDiscountValue) ?> &euro;
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>neuer Warenwert
                                <span class="w3-right w3-margin-right">
                                    <?php echo $this->numberI18n($this->articlePriceTotalSumEnd) ?> &euro;
                                </span>
                            </div>
                        </li>
                    <?php endif; ?>

                    <li>
                        <div>Versandkosten
                            <span class="w3-right w3-margin-right">
                                <?php echo $this->numberI18n($this->articleShippingCostsComputed) ?> &euro;
                            </span>
                        </div>
                    </li>
                    <li>
                        <div>Enthaltene Umsatzsteuer
                            <span class="w3-right w3-margin-right">
                                <?php echo $this->numberI18n($this->basketTaxTotalSumEnd) ?> &euro;
                            </span>
                        </div>
                    </li>
                    <li class="w3-xtiny w3-border-top"></li>
                    <li>
                        <div>Gesamtkosten
                            <strong class="w3-right w3-margin-right">
                                <?php
                                echo $this->numberI18n($this->articlePriceTotalSumEnd + $this->articleShippingCostsComputed)
                                ?> &euro;
                            </strong>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w3-col l8 w3-border">
        <ul class="w3-ul">
            <?php foreach ($this->shopBasketData as $basketItem) : ?>

                <li>
                    <div class="w3-row w3-border w3-sand">
                        <div class="w3-col l1 m2 s4">
                            <?php if (!empty($this->imagesArticleIdAssoc)) : ?>
                                <?php $titleCompl = $this->imageEntity->getImageTitle($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id']) . ' | ' . $this->imageEntity->getImageDesc($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id']) ?>
                                <a href="<?php
                                echo $this->imageSrc($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id'], ['sixteenToNine' => 120], $this->imageEntity)
                                ?>" class="gallery-link"
                                   data-titlesrc="<?php echo $titleCompl ?>">
                                    <img src="<?php
                                    echo $this->imageSrc($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id'], ['magicTwoSquare' => 64],
                                        $this->imageEntity)
                                    ?>"
                                         alt="<?php echo $this->imageEntity->getImageTitle($this->imagesArticleIdAssoc[$basketItem['shop_article_id']][0]['bk_images_image_id']) ?>"
                                         class=""
                                         data-titlesrc="<?php echo $titleCompl ?>">
                                </a>
                            <?php else : ?>
                                <!--<img src="<?php // echo $this->imageEmptySrc(['magicTwoSquare' => 64]) ?>" alt="no image" title="no image" class="w3-image">-->
                            <?php endif; ?>
                        </div>
                        <div class="w3-col l3 m10 s8">
                            <div>
                                <a href="<?php
                                echo $this->shopArticleTypeUrl($basketItem['shop_article_type'], $basketItem['shop_article_type_delivery'], $basketItem['shop_article_sefurl']);
                                ?>">
                                    <?php echo $basketItem['shop_article_name'] ?>
                                    <br>
                                    Art.-Nr.: <?php echo $basketItem['shop_article_sku'] ?>
                                </a>
                            </div>
                        </div>
                        <div class="w3-col l6">
                            <div>
                                <?php echo $this->articleDescVariable($basketItem) ?>
                            </div>
                            &nbsp;
                        </div>
                        <div class="w3-col l2 w3-right-align w3-padding bk-nowrap">
                            <div>
                                <?php if (empty($basketItem['shop_basket_item_lengthcut_options'])) : ?>
                                    <?php if ($this->editable): ?>
                                        <input type="number" size="5" style="width: 50px;"
                                               name="basket_item[<?= $basketItem['shop_basket_item_id'] ?>]"
                                               value="<?= $basketItem['computed_value_article_amount'] ?>">
                                    <?php else: ?>
                                        <?= $basketItem['computed_value_article_amount'] ?>
                                    <?php endif; ?>
                                    x
                                    <?php echo $this->numberI18n($basketItem['computed_value_article_price']) ?> &euro;
                                    <br>
                                <?php endif; ?>
                                <strong> <?php echo $this->numberI18n($basketItem['computed_value_article_price_total']) ?> &euro;</strong>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<div class="w3-row w3-padding-8">
    <div class="w3-col">
        <strong><?php echo $this->translate('shopBasketStatus: ' . $this->shopBasketStatus, 'bitkornshop') ?></strong>
        <?php if ($this->shopBasketData[0]['shop_basket_status'] == 'ordered' && $this->shopBasketData[0]['payment_method'] == 'prepay') : ?>
            <p>Bei Bezahlungen unbedingt die Payment-ID angeben: <strong><?php echo $this->shopBasketData[0]['payment_number'] ?></strong></p>
        <?php endif; ?>
    </div>
</div>
