<?php if (!empty($this->basketAddresses)) : ?>
    <div class="w3-row w3-small">
        <div class="w3-col l6 m6 w3-border">
            <h4>&nbsp;<?php echo $this->translate($this->addressTypeDisplay($this->basketAddresses[0]['shop_basket_address_type'])) ?></h4>
            <ul class="w3-ul">
                <li><?php echo $this->basketAddresses[0]['shop_basket_address_name1'] . ' ' . $this->basketAddresses[0]['shop_basket_address_name2'] ?></li>
                <li><?php echo $this->basketAddresses[0]['shop_basket_address_street'] . ' ' . $this->basketAddresses[0]['shop_basket_address_street_no'] ?></li>
                <li><?php echo $this->basketAddresses[0]['shop_basket_address_zip'] . ' ' . $this->basketAddresses[0]['shop_basket_address_city'] ?></li>
                <li><?php echo $this->isoCountryDisplay($this->basketAddresses[0]['country_id']) ?></li>
                <li><?php echo $this->basketAddresses[0]['shop_basket_address_email'] ?: 'keine Emailadresse' ?></li>
                <li><?php echo $this->basketAddresses[0]['shop_basket_address_tel'] ? 'Tel.: ' . $this->basketAddresses[0]['shop_basket_address_tel'] : 'keine Telefon-Nr.' ?></li>
                <li><?php echo $this->basketAddresses[0]['shop_basket_address_tax_id'] ? 'USt.-ID: ' . $this->basketAddresses[0]['shop_basket_address_tax_id'] : 'privater K&auml;ufer' ?></li>
                <li><!-- only last child are without border bottom --></li>
            </ul>
            <button class="basket-address-edit w3-button bk-grey" data-addressid="<?php echo $this->basketAddresses[0]['shop_basket_address_id'] ?>">
                <?php echo $this->translate('Adresse ändern', 'bitkornshop') ?>
            </button>
        </div>
        <?php if (!empty($this->basketAddresses[1])) : ?>
            <div class="w3-col l6 m6 w3-border">
                <h4>&nbsp;<?php echo $this->translate($this->addressTypeDisplay($this->basketAddresses[1]['shop_basket_address_type'])) ?></h4>
                <ul class="w3-ul">
                    <li><?php echo $this->basketAddresses[1]['shop_basket_address_name1'] . ' ' . $this->basketAddresses[1]['shop_basket_address_name2'] ?></li>
                    <li><?php echo $this->basketAddresses[1]['shop_basket_address_street'] . ' ' . $this->basketAddresses[1]['shop_basket_address_street_no'] ?></li>
                    <li><?php echo $this->basketAddresses[1]['shop_basket_address_zip'] . ' ' . $this->basketAddresses[1]['shop_basket_address_city'] ?></li>
                    <li><?php echo $this->isoCountryDisplay($this->basketAddresses[1]['country_id']) ?></li>
                    <li><?php echo $this->basketAddresses[1]['shop_basket_address_email'] ?: 'keine Emailadresse' ?></li>
                    <li><?php echo $this->basketAddresses[1]['shop_basket_address_tel'] ? 'Tel.: ' . $this->basketAddresses[1]['shop_basket_address_tel'] : 'keine Telefon-Nr.' ?></li>
                    <li><!-- only last child are without border bottom --></li>
                </ul>
                <button class="basket-address-edit w3-button bk-grey" data-addressid="<?php echo $this->basketAddresses[1]['shop_basket_address_id'] ?>" type="button">
                    <?php echo $this->translate('Adresse ändern', 'bitkornshop') ?>
                </button>
                <button class="basket-address-delete w3-button bk-warn" data-addressid="<?php echo $this->basketAddresses[1]['shop_basket_address_id'] ?>" type="button">
                    <?php echo $this->translate('Adresse löschen', 'bitkornshop') ?>
                </button>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
<?php if (empty($this->basketAddresses) || $this->basketAddressesCount < 2) : ?>
    <div class="w3-row w3-small">
        <div class="w3-col w3-center">
            <br>
            <button class="basket-address-edit w3-button bk-grey" data-addressid="0">
                <?php
                echo $this->basketAddressesCount < 1 ? $this->translate('Rechnungsadresse anlegen', 'bitkornshop') : $this->translate('Versandadresse anlegen',
                    'bitkornshop')
                ?>
            </button>
        </div>
    </div>
<?php endif; ?>
