<?php
$this->headTitle($this->translate('Maße angeben', 'bitkornshop'));
echo $this->printrtextarea($this->textarea);
?>
<div class="content-wrapper-shop">
    <?php if (isset($this->sizeGroupData) && !empty($this->sizePositionIdAssoc)) : ?>
        <h1>Suche nach Ma&szlig;</h1>
        <div class="w3-row">
            <div class="w3-col l6">
                <h2><?php echo $this->sizeGroupData['shop_article_size_group_heading'] ?></h2>
                <?php if (isset($this->sizegroupimage)) : ?>
                <img src="<?php echo $this->sizegroupimage ?>" alt="Bild zur Beschreibung um richtig Maß zu nehmen" class="w3-image" style="width: 80%;">
                <?php endif; ?>
                <?php echo $this->sizeGroupData['shop_article_size_group_text'] ?>
            </div>
            <div class="w3-col l6">
                <form method="post" action="" class="w3-container">
                    <?php foreach ($this->sizePositionIdAssoc as $key => $sizePosition) : ?>
                        <label>
                            <?php echo $sizePosition['name'] ?>
                            <br>
                            <?php echo $sizePosition['desc'] ?>
                            <?php $inputValVarName = 'spid_' . $key ?>
                            <input class="w3-input w3-border" type="text" name="sizeposition[<?php echo $key ?>]" value="<?php echo $this->$inputValVarName ?>">
                        </label>
                        <br>
                    <?php endforeach; ?>
                    <input type="submit" value="suchen">
                </form>
            </div>
        </div>
        <br>
        <div class="w3-responsive">
            <table class="w3-table w3-table-all">
                <thead>
                    <tr>
                        <th>A Kopfumfang</th>
                        <th>B Halsumfang</th>
                        <th>C Brustlänge</th>
                        <th>D Brustumfang</th>
                        <th>E Rückenlänge</th>
                        <th>F Bauchumfang 1</th>
                        <th>G Bauchumfang 2</th>
                        <th>H Schrittlänge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <?php if (!empty($this->sizeDefs)) : ?>
                            <?php foreach ($this->sizeDefs as $posKey => $sizePos) : ?>
                                <td>
                                    <?php if (!empty($sizePos)) : ?>
                                        <?php foreach ($sizePos as $key => $sizeDef) : ?>
                                            <?php echo $sizeDef['shop_article_size_def_key'] ?>
                                            <?php if (isset($sizePos[$key + 1])) : ?>
                                                <br>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </td>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w3-row">
            <div class="w3-col">
        <br>
            </div>
        </div>
    <?php endif; ?>
</div>