<?php
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Längenschnitt Definition <?php echo $this->lengthdefId ?>
    <a href="<?php echo $this->url('shop_admin_article_articleadmin_articles') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Artikelliste') ?>
    </a>
</div>