<?php
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Längenschnitt Definitionen
    <a href="<?php echo $this->url('shop_admin_article_articleadmin_articles') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Artikelliste') ?>
    </a>
</div>
<table class="w3-table w3-table-all">
    <thead>
    <tr>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Mengeneinheit</th>
        <th>Lagergröße</th>
        <th>Schnittpreis</th>
    </tr>
    </thead>
    <tbody>
    <?php if ($this->lengthcutDefs): ?>
        <?php foreach ($this->lengthcutDefs as $lengthcutDef): ?>
            <tr>
                <td><?= $lengthcutDef['shop_article_lengthcut_def_name'] ?></td>
                <td><?= $lengthcutDef['shop_article_lengthcut_def_desc'] ?></td>
                <td><?= $lengthcutDef['quantityunit_label'] ?></td>
                <td><?= $this->numberI18n($lengthcutDef['shop_article_lengthcut_def_basequantity']) ?></td>
                <td><?= $this->numberI18n($lengthcutDef['shop_article_lengthcut_def_cutprice']) ?></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
</table>
<div class="w3-right-align">
    <br>
    <span class="w3-badge w3-green" onclick="document.getElementById('add_lengthcut_def').style.display='block'"><i class="fas fa-plus"></i></span>
</div>


<!-- add lengthcutDef Modal -->
<div id="add_lengthcut_def" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-teal">
            <span onclick="document.getElementById('add_lengthcut_def').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h3>Neue Längenschnitt Definition</h3>
        </header>
        <div class="w3-container">
            <?php echo $this->form($this->shopArticleLengthcutDefForm) ?>
<!--            <form method="post" action="">-->
<!--                <div>-->
<!--                    <label for="shop_article_lengthcut_def_name">Name</label>-->
<!--                    <input type="text" id="shop_article_lengthcut_def_name" name="shop_article_lengthcut_def_name" class="w3-input">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="shop_article_lengthcut_def_desc">Beschreibung</label>-->
<!--                    <input type="text" id="shop_article_lengthcut_def_desc" name="shop_article_lengthcut_def_desc" class="w3-input">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="quantityunit_uuid">Mengeneinheit</label>-->
<!--                    --><?php //echo $this->simpleSelect($this->quantityunitIdAssoc, '', 'quantityunit_uuid') ?>
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="shop_article_lengthcut_def_basequantity">Lagergröße</label>-->
<!--                    <input type="text" id="shop_article_lengthcut_def_basequantity" name="shop_article_lengthcut_def_basequantity" class="w3-input">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="shop_article_lengthcut_def_cutprice">Preis / Schnitt</label>-->
<!--                    <input type="text" id="shop_article_lengthcut_def_cutprice" name="shop_article_lengthcut_def_cutprice" class="w3-input">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <br>-->
<!--                    <button type="submit" class="w3-button w3-gray">speichern</button>-->
<!--                </div>-->
<!--            </form>-->
        </div>
    </div>
</div>
<script type="application/javascript">
    $(function () {
        <?php if($this->isModalAddLengthcutDef): ?>
        document.getElementById('add_lengthcut_def').style.display = 'block';
        <?php endif; ?>
    });
</script>