<select name="shop_article_param2d_item_id">
    <option value="0">--> wähle Param-2D: <?= $this->selectLabel ?></option>
    <?php foreach ($this->param2dItems as $param2dItem): ?>
        <option value="<?= $param2dItem['shop_article_param2d_item_id'] ?>"
            <?php echo $this->selectedId == $param2dItem['shop_article_param2d_item_id'] ? 'selected="selected"' : '' ?>
        >
            <?= $param2dItem['shop_article_param2d_name_1'] . ': '
            . $param2dItem['shop_article_param2d_item_value_1'] . ' ' . $param2dItem['quantity1_label'] . '; '
            . $param2dItem['shop_article_param2d_name_2'] . ': '
            . $param2dItem['shop_article_param2d_item_value_2'] . ' ' . $param2dItem['quantity2_label'] ?>
        </option>
    <?php endforeach; ?>
</select>