<?php
$this->headTitle('Rabatt admin');
echo $this->printrTextarea($this->textarea);
$this->inlineScript()->appendFile($this->basePath('js/app/admin/basket-discount-admin.js?v=0.0.1'));
?>
<br>
<div class="w3-row w3-xtiny">
    <form method="post" action="<?php echo $this->url('shop_admin_basket_basketdiscountadmin_discounts') ?>" class="">
        <div class="w3-col l1 m2 s4 w3-padding-right">
            <input type="text" name="shop_basket_discount_hash_search" class="w3-input w3-border" placeholder="Rabatt-Code" value="<?php echo $this->shopBasketDiscountHash ?>">
        </div>
        <div class="w3-col l1 m2 s4">
            <input type="text" name="shop_basket_discount_time_from" class="datepicker w3-input w3-border" placeholder="erstellt von"
                   value="<?php echo $this->shopBasketDiscountTimeFrom ?>">
        </div>
        <div class="w3-col l1 m2 s4">
            <input type="text" name="shop_basket_discount_time_to" class="datepicker w3-input w3-border" placeholder="erstellt bis"
                   value="<?php echo $this->shopBasketDiscountTimeTo ?>">
        </div>
        <div class="w3-col l1 m2 s4 col-checkbox">
            <label class="label-checkbox">
                <input type="hidden" name="shop_basket_discount_only_active" value="0">
                <input type="checkbox" name="shop_basket_discount_only_active" value="1" <?php echo $this->shopBasketDiscountOnlyActive == 1 ? 'checked="checked"' : '' ?>> nur
                aktive
            </label>
        </div>
        <div class="w3-col l2 m2 w3-padding-right">
            <input type="hidden" name="shop_basket_discount_shop_user_uuid" id="search_shop_user_id" value="<?php echo $this->userUuid ?>">
            <input type="text" name="shop_basket_discount_shop_user_name" id="search_shop_user_name" value="<?php echo $this->postuserName ?>"
                   class="w3-input" placeholder="Kunde" title="Sucht in den Vor- und Nach-Namen der Kundenadressen.">
        </div>
        <div class="w3-col l2 m2 w3-padding-right">
            <?php
            echo $this->simpleSelect($this->salesstaffIdAssoc, $this->userUuid, 'shop_basket_discount_shop_user', 'w3-select', true, '-- Vertriebler wählen --', 0)
            ?>
        </div>
        <div class="w3-col l1 m1 s2">
            <input type="submit" class="w3-button bk-grey" value="los">
        </div>
        <div class="w3-col l2 m4">
            <button type="button" class="w3-button bk-marine" id="add-basket-discount">neu</button>
            <button type="button" class="w3-button bk-marine" id="add-basket-discount-salesstaff">neu Vertr.</button>
            <button type="button" class="w3-button bk-marine" id="add-basket-discount-c2c">neu KwK</button>
        </div>
        <div class="w3-col l1 m1 s2 w3-right">
            <button type="submit" name="export_basket_discount" value="1" class="w3-button bk-marine">export</button>
        </div>
    </form>
</div>
<br>
<?php if (!empty($this->shopBasketDiscounts)) : ?>
    <div class="w3-responsive w3-small">
        <table class="w3-table w3-table-all">
            <thead>
            <tr class="w3-grey">
                <th colspan="2"></th>
                <th colspan="2" class="w3-center w3-border w3-small">
                    Laufzeit<br>(wie oft, wie lange, bis wann)
                </th>
                <th colspan="2" class="w3-center w3-border w3-small">
                    Betrag<br>(feste, prozentual)
                </th>
                <th colspan="5" class="w3-right-align">
                    Rabatte im Shop:
                    <br>
                    <?php echo ($this->shopBasketDiscountActive == 1) ? '<span class="bk-green-text w3-padding">aktiv</span>' : '<span class="bk-red-text w3-padding">nicht aktiv</span>' ?>
                </th>
            </tr>
            <tr class="w3-grey">
                <th class="w3-center">erstellt</th>
                <th class="w3-center">Rabatt-Code</th>
                <th class="w3-right-align">Typ</th>
                <th class="w3-right-align">Typ-Wert</th>
                <th class="w3-right-align">Betrag-Typ</th>
                <th class="w3-right-align">Betrag-Typ-Wert</th>
                <th class="w3-right-align">Min.-Bestellw.</th>
                <th class="w3-right-align">Beschr.</th>
                <th class="w3-center">aktiv</th>
                <th class="w3-center">open</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->shopBasketDiscounts as $shopBasketDiscount) : ?>
                <tr>
                    <td class="w3-center"><?php echo date('d.m.Y', $shopBasketDiscount['shop_basket_discount_time']) ?></td>
                    <td class="w3-center"><?php echo $shopBasketDiscount['shop_basket_discount_hash'] ?></td>
                    <td class="w3-right-align"><?php echo $shopBasketDiscount['shop_basket_discount_type'] ?></td>
                    <td class="w3-right-align">
                        <?php if ($shopBasketDiscount['shop_basket_discount_type'] == 'date') : ?>
                            <?php echo date('d.m.Y', $shopBasketDiscount['shop_basket_discount_typevalue']) ?>
                        <?php else: ?>
                            <?php echo $shopBasketDiscount['shop_basket_discount_typevalue'] ?>
                        <?php endif; ?>
                    </td>
                    <td class="w3-right-align"><?php echo $shopBasketDiscount['shop_basket_discount_amount_type'] ?></td>
                    <td class="w3-right-align"><?php echo number_format($shopBasketDiscount['shop_basket_discount_amount_typevalue'], 2, ',', '.') ?></td>
                    <td class="w3-right-align"><?php echo number_format($shopBasketDiscount['shop_basket_discount_min_order_amount'], 2, ',', '.') ?></td>
                    <td class="w3-right-align"><?php echo $shopBasketDiscount['shop_basket_discount_desc'] ?></td>
                    <td class="w3-center">
                        <button class="w3-button w3-xtiny basket-discount-active-switch" data-discountid="<?php echo $shopBasketDiscount['shop_basket_discount_id'] ?>">
                            <div class="basket-discount-active-display-<?php echo $shopBasketDiscount['shop_basket_discount_id'] ?>">
                                <?php echo $shopBasketDiscount['shop_basket_discount_active'] == 1 ? 'ja' : 'nein' ?>
                            </div>
                        </button>
                    </td>
                    <td class="w3-center">
                            <span class="w3-badge <?php
                            echo $this->isBasketDiscountValid($shopBasketDiscount['shop_basket_discount_type'],
                                $shopBasketDiscount['shop_basket_discount_typevalue'], $shopBasketDiscount['shop_basket_discount_hash_count'],
                                $shopBasketDiscount['shop_basket_discount_time']) ? 'w3-green' : 'w3-red'
                            ?>">&nbsp;</span>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <p>Keine Rabatte gefunden.</p>
<?php endif; ?>


<div id="basket-discount-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('basket-discount-modal').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>
            <div id="basket-discount-modal-content">
                <?php echo isset($this->shopBasketDiscountForm) ? $this->form($this->shopBasketDiscountForm) : '' ?>
            </div>
        </div>
    </div>
</div>
<div id="basket-discount-salesstaff-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('basket-discount-salesstaff-modal').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>
            <div id="basket-discount-salesstaff-modal-content">
                <?php echo isset($this->shopBasketDiscountSalesstaffForm) ? $this->form($this->shopBasketDiscountSalesstaffForm) : '' ?>
            </div>
        </div>
    </div>
</div>
<div id="basket-discount-c2c-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('basket-discount-c2c-modal').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>
            <div id="basket-discount-c2c-modal-content">
                <?php echo isset($this->shopBasketDiscountC2cForm) ? $this->form($this->shopBasketDiscountC2cForm) : '' ?>
            </div>
        </div>
    </div>
</div>
<?php if (isset($this->shopBasketDiscountForm)) : ?>
    <script>document.getElementById('basket-discount-modal').style.display = 'block';</script>
<?php endif; ?>
<?php if (isset($this->shopBasketDiscountSalesstaffForm)) : ?>
    <script>document.getElementById('basket-discount-salesstaff-modal').style.display = 'block';</script>
<?php endif; ?>
<?php if (isset($this->shopBasketDiscountC2cForm)) : ?>
    <script>document.getElementById('basket-discount-c2c-modal').style.display = 'block';</script>
<?php endif; ?>
