<div class="<?php echo $this->smallCssClass ?> <?php echo $this->additionalCssClassOuter ?>">
    <?php foreach ($this->shopArticleOptions as $shopArticleOptionItems) : ?>
        <div class="bk-select-container">
            <?php echo $this->shopArticleOption($shopArticleOptionItems, $this->optionItemIdsSelected, $this->additionalCssClassInner) ?>
        </div>
    <?php endforeach; ?>
</div>