<?php if (!empty($this->shopArticleOptionItems)) : ?>
    <select name="<?php echo $this->shopArticleOptionItems[0]['shop_article_option_def_id'] ?>" class="shop-article-option-select <?php echo $this->additionalCssClassInner ?>"
            data-articleid="<?php echo $this->shopArticleOptionItems[0]['shop_article_id'] ?>"
            data-ispricediff="<?php echo $this->isPricediff ?>">
        <option value="0"
                data-optiondefid="<?php echo $this->shopArticleOptionItems[0]['shop_article_option_def_id'] ?>">
            <?php echo $this->shopArticleOptionItems[0]['shop_article_option_def_view_name'] ?>
        </option>
        <?php foreach ($this->shopArticleOptionItems as $shopArticleOptionItem) : ?>
            <option value="<?php echo $shopArticleOptionItem['shop_article_option_item_id'] ?>"
                    data-itemimagecount="<?php echo isset($shopArticleOptionItem['item_image_count']) ? $shopArticleOptionItem['item_image_count'] : 0 ?>"
                    data-optiondefid="<?php echo $shopArticleOptionItem['shop_article_option_def_id'] ?>"
                <?php if (!empty($shopArticleOptionItem['pricediff'])) : ?>
                    data-pricediff="<?php echo $shopArticleOptionItem['pricediff'] ?>"
                <?php endif; ?>
                <?php echo in_array($shopArticleOptionItem['shop_article_option_item_id'], $this->optionItemIdsSelected) ? 'selected' : '' ?>>
                <?php echo $shopArticleOptionItem['shop_article_option_item_name'] ?>
            </option>
        <?php endforeach; ?>
    </select>
<?php endif; ?>
