<?php // echo $this->printrTextarea($this->textarea) ?>
<?php if (!empty($this->shopArticleOptions) && !empty($this->shopArticleOptionPricediffsIdAssoc)) : ?>
    <?php $optionItem = [] ?>
    <?php foreach ($this->shopArticleOptions as $shopArticleOption) : ?>
        <div class="basket-article-option">
            <?php
            $optionItem = $this->shopArticleOptionPricediffsIdAssoc[$this->shopArticleId . '_' . $shopArticleOption['optionitemid']];
            echo html_entity_decode($optionItem['shop_article_option_item_view_name'])
            . ': '
            . $optionItem['shop_article_option_item_view_value'];
            if (false && !empty($optionItem['pricediff'])) {
                echo ' (' . ($optionItem['pricediff'] < 0 ? '-' : '+') . number_format($optionItem['pricediff'], 2, ',', '.') . '&euro;)';
            }
            ?>
        </div>
    <?php endforeach; ?>
<?php else: ?>
<div class="basket-article-option">&nbsp;</div>
<?php endif; ?>


