<?php
$this->headTitle('Produkt Option');
//$this->inlineScript()->appendFile($this->basePath('js/app/admin/article-option-item-admin.js'));
//$this->headLink()->appendStylesheet($this->basePath('js/spectrum/spectrum.css'));
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <?php echo $this->translate('Produkt Option') ?>:&nbsp;
    <strong><?php echo $this->optionDef['shop_article_option_def_name'] ?></strong>
    ; Typ: <strong><?php echo $this->optionDef['shop_article_option_def_type'] ?></strong>
    <a href="<?php echo $this->url('shop_admin_article_articleoptionadmin_articleoptiondefs') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Produkt Optionen') ?>
    </a>
</div>
<?php if (!empty($this->optionItems)) : ?>
    <div class="w3-responsive">
        <table class="w3-table w3-table-all">
            <thead>
                <tr class="w3-grey">
                    <th><?php echo $this->translate('Name', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Display Name', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Display Wert', 'bitkornshop') ?></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->optionItems as $optionItem) : ?>
                    <tr>
                        <td><?php echo $this->translate($optionItem['shop_article_option_item_name'], 'bitkornshop') ?></td>
                        <td><?php echo $this->translate($optionItem['shop_article_option_item_view_name'], 'bitkornshop') ?></td>
                        <td><?php echo $this->translate($optionItem['shop_article_option_item_view_value'], 'bitkornshop') ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <p>Keine Option Elemente</p>
<?php endif; ?>
