<?php
$this->headTitle('OptionImages admin');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/article-option-images-admin.js?v=0.0.2'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Produkt: <strong><?php echo $this->articleDisplay ?></strong>
    <br>
    Vorhandene Optionen für Option <strong><?php echo $this->shopArticleOptionDef['shop_article_option_def_name'] ?></strong>
    <a href="<?php echo $this->url('shop_admin_article_articleoptionadmin_articleoptiondefs_articlerelation', ['article_id' => $this->articleData['shop_article_id']]) ?>"
       class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Optionen-Liste für Artikel') ?>
    </a>
</div>
<?php if (!empty($this->shopArticleOptionItems)) : ?>
    <div class="w3-responsive">
        <table class="w3-table w3-table-all">
            <tbody>
            <?php foreach ($this->shopArticleOptionItems as $shopArticleOptionItem) : ?>
                <tr id="item-tr-<?php echo $shopArticleOptionItem['shop_article_option_item_id'] ?>" class="bk-grey-light">
                    <td><?php echo $shopArticleOptionItem['shop_article_option_item_name'] ?></td>
                </tr>
                <tr>
                    <td class="w3-border">
                        <div class="w3-row">
                            <?php
                            $itemId = $shopArticleOptionItem['shop_article_option_item_id'];
                            if (isset($this->shopArticleOptionItemArticleImages[$itemId]) && !empty($this->shopArticleOptionItemArticleImages[$itemId])) :
                                foreach ($this->shopArticleOptionItemArticleImages[$itemId] as $articleImageData) :
                                    ?>
                                    <div class="w3-col l2 m4 s6 w3-card-2 bk-images-gallery-card"
                                         id="div-image-rel-id-<?php echo $articleImageData['shop_article_option_item_article_image_relation_id'] ?>">
                                        <div class="w3-container" title="<?php echo $this->imageEntity->getImageTitle($articleImageData['bk_images_image_id']) ?>">
                                            <a href="<?php echo $this->imageSrc($articleImageData['bk_images_image_id'], ['sixteenToNine' => 60], $this->imageEntity) ?>"
                                               class="gallery-link"
                                               data-titlesrc="<?php echo $this->imageEntity->getImageTitle($articleImageData['bk_images_image_id']) . ' | ' . $this->imageEntity->getImageDesc($articleImageData['bk_images_image_id']) ?>">
                                                <img src="<?php echo $this->imageSrc($articleImageData['bk_images_image_id'], ['sixteenToNine' => 10], $this->imageEntity) ?>"
                                                     alt="<?php echo $this->imageEntity->getImageTitle($articleImageData['bk_images_image_id']) ?>" class="w3-image">
                                                <div>ID = <?php echo $articleImageData['bk_images_image_id'] ?>; Rel-ID
                                                    = <?php echo $articleImageData['shop_article_option_item_article_image_relation_id'] ?></div>
                                            </a>
                                            <?php echo $this->translate('Priorität') ?>: <input type="number" name="option_item_article_image_relation_priority"
                                                                                                class="image-rel-priority"
                                                                                                id="<?php echo $articleImageData['shop_article_option_item_article_image_relation_id'] ?>"
                                                                                                value="<?php echo $articleImageData['shop_article_option_item_article_image_relation_priority'] ?>">
                                            <button class="image-rel-priority-button"
                                                    data-optionitemarticleimagerelationid="<?php echo $articleImageData['shop_article_option_item_article_image_relation_id'] ?>">ok
                                            </button>
                                        </div>

                                        <footer class="w3-container">
                                            <a class="w3-button bk-grey" href="<?php
                                            echo $this->url('bitkornimages_admin_editimage', ['image_id' => $articleImageData['bk_images_image_id']])
                                            ?>?forwardurl=<?php echo $this->forwardurl ?>">edit</a>
                                            <button class="w3-button w3-red delete-image"
                                                    data-optionitemarticleimagerelationid="<?php echo $articleImageData['shop_article_option_item_article_image_relation_id'] ?>"
                                            >delete
                                            </button>
                                        </footer>
                                    </div>
                                <?php endforeach; ?>
                            <?php else: ?>
                                keine Bilder für diese Option
                            <?php endif; ?>
                        </div>
                        <hr>
                        <div class="w3-navbar">
                            <!--                                <a href="<?php
                            //                                echo $this->url('shop_admin_article_articleimageadmin_uploadimage', ['article_id' => $this->articleData['shop_article_id']])
                            ?>" class="w3-button bk-grey">neues Bild zu diesem Artikel hochladen</a>-->
                            <button class="w3-button bk-grey add-image-relation"
                                    data-articleid="<?php echo $this->articleData['shop_article_id'] ?>"
                                    data-optionitemid="<?php echo $shopArticleOptionItem['shop_article_option_item_id'] ?>">vorhandenes Bild an diese Option binden
                            </button>
                        </div>
                        <hr class="hr-bold">
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif; ?>

<div id="add-image-relation-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('add-image-relation-modal').style.display = 'none'" class="w3-button w3-display-topright">&times;</span>
            <div id="add-image-relation-modal-content">&nbsp;<br>&nbsp;</div>
        </div>
    </div>
</div>
