<?php
$this->headTitle('OptionPricediff');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/article-option-pricediff-admin.js'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Produkt: <strong><?php echo $this->articleDisplay ?></strong>
    <br>
    Vorhandene Optionen für Option <strong><?php echo $this->shopArticleOptionDef['shop_article_option_def_name'] ?></strong>
    <a href="<?php
    echo $this->url('shop_admin_article_articleoptionadmin_articleoptiondefs_articlerelation', ['article_id' => $this->articleData['shop_article_id']])
    ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Optionen-Liste für Artikel') ?>
    </a>
</div>
<h2><?php echo $this->translate('Preisdifferenzen', 'bitkornshop') ?></h2>
<?php if (!empty($this->shopArticleOptionItems)) : ?>
    <?php foreach ($this->shopArticleOptionItems as $shopArticleOptionItem) : ?>
        <div class="w3-row w3-border w3-padding">
            <div class="w3-col l2 m2 s4">
                <?php echo $shopArticleOptionItem['shop_article_option_item_name'] ?>
            </div>
            <?php $pricediffKey = $this->articleData['shop_article_id'] . '_' . $shopArticleOptionItem['shop_article_option_item_id'] ?>
            <?php $pricediffValue = isset($this->shopArticleOptionItemArticlePricediffs[$pricediffKey]) ? $this->shopArticleOptionItemArticlePricediffs[$pricediffKey] : 0 ?>
            <div class="w3-col l2 m2 s2 w3-border cursor-pointer edit-inline w3-center"
                 data-id="<?php echo $shopArticleOptionItem['shop_article_option_item_id'] ?>"
                 data-oldvalue="<?php echo $pricediffValue ?>">
                     <?php echo $pricediffValue ?>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>