<?php
$this->headTitle('Produkt Optionen');
//$this->inlineScript()->appendFile($this->basePath('js/spectrum/spectrum.js'));
//$this->headLink()->appendStylesheet($this->basePath('js/spectrum/spectrum.css'));
?>
<h2><?php echo $this->translate('Produkt Optionen', 'bitkornshop') ?></h2>

<?php if (!empty($this->optionDefs)) : ?>
    <div class="w3-responsive">
        <table class="w3-table w3-table-all">
            <thead>
                <tr class="w3-grey">
                    <th><?php echo $this->translate('Name', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Beschreibung', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Typ', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Display Name', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Display Beschreibung', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Anzahl Optionen', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Anzahl Produkte', 'bitkornshop') ?></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->optionDefs as $optionDef) : ?>
                    <tr>
                        <td><a href="<?php
                            echo $this->url('shop_admin_article_articleoptionadmin_articleoptiondef', ['def_id' => $optionDef['shop_article_option_def_id']])
                            ?>">
                                   <?php echo $this->translate($optionDef['shop_article_option_def_name'], 'bitkornshop') ?>
                            </a>
                        </td>
                        <td><?php echo $this->translate($optionDef['shop_article_option_def_desc'], 'bitkornshop') ?></td>
                        <td><?php echo $this->translate($optionDef['shop_article_option_def_type'], 'bitkornshop') ?></td>
                        <td><?php echo $this->translate($optionDef['shop_article_option_def_view_name'], 'bitkornshop') ?></td>
                        <td><?php echo $this->shorterText($this->translate($optionDef['shop_article_option_def_view_desc'], 'bitkornshop'), 100) ?></td>
                        <td><?php echo $optionDef['count_saoi'] ?></td>
                        <td><?php echo $optionDef['count_saoar'] ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else : ?>
    <p>Keine Artikel Optionen gefunden</p>
<?php endif; ?>
