<?php
$this->headTitle('OptionDefs admin');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/article-option-admin.js'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Vorhandene Options-Definitionen f&uuml;r Produkt <strong><?php echo $this->articleDisplay ?></strong>
    <a href="<?php echo $this->url('shop_admin_article_articleadmin_articles') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Artikelliste') ?>
    </a>
</div>
<?php if (!empty($this->shopArticleOptionDefs)) : ?>
    <div class="w3-responsive">
        <table class="w3-table w3-table-all">
            <thead>
                <tr class="w3-grey">
                    <th><?php echo $this->translate('Name', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Beschreibung', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Typ', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Display Name', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Display Beschreibung', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Anzahl Optionen', 'bitkornshop') ?></th>
                    <th><?php echo $this->translate('Anzahl Produkte', 'bitkornshop') ?></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->shopArticleOptionDefs as $shopArticleOptionDef) : ?>
                    <tr>
                        <td><?php echo $this->translate($shopArticleOptionDef['shop_article_option_def_name'], 'bitkornshop') ?></td>
                        <td><?php echo $this->translate($shopArticleOptionDef['shop_article_option_def_desc'], 'bitkornshop') ?></td>
                        <td><?php echo $this->translate($shopArticleOptionDef['shop_article_option_def_type'], 'bitkornshop') ?></td>
                        <td><?php echo $this->translate($shopArticleOptionDef['shop_article_option_def_view_name'], 'bitkornshop') ?></td>
                        <td><?php echo $this->translate($shopArticleOptionDef['shop_article_option_def_view_desc'], 'bitkornshop') ?></td>
                        <td><?php echo $shopArticleOptionDef['count_saoi'] ?></td>
                        <td><?php echo $shopArticleOptionDef['count_saoar'] ?></td>
                        <td>
                            <?php $checked = '' ?>
                            <?php if (!empty($this->articleData)) : ?>
                                <?php
                                $checked = in_array($shopArticleOptionDef['shop_article_option_def_id'], $this->shopArticleOptionArticleRelations) ? 'checked="checked"' : ''
                                ?>
                                <form id="form_<?php echo $shopArticleOptionDef['shop_article_option_def_id'] ?>" method="post" action="">
                                    <input class="w3-check option-article-relation-checkbox" type="checkbox" 
                                           name="shop_article_option_article_relation" <?php echo $checked ?> 
                                           value="<?php echo $shopArticleOptionDef['shop_article_option_def_id'] /* for JS */ ?>">
                                    <input type="hidden" name="shop_article_option_def_id" value="<?php echo $shopArticleOptionDef['shop_article_option_def_id'] ?>">
                                    <input type="hidden" name="shop_article_id" value="<?php echo $this->articleData['shop_article_id'] ?>">
                                </form>
                            <?php endif; ?>
                        </td>
                        <td class="bk-nowrap">
                            <?php if (!empty($checked)) : ?>
                                <a href="<?php
                                echo $this->url('shop_admin_article_articleoptionadmin_articleoptionitemsarticleimage',
                                        ['def_id' => $shopArticleOptionDef['shop_article_option_def_id'], 'article_id' => $this->articleData['shop_article_id']])
                                ?>" class="w3-button w3-small bk-grey-light">images</a>
                                &nbsp;
                                <a href="<?php
                                echo $this->url('shop_admin_article_articleoptionadmin_articleoptionitemsarticlepricediff',
                                        ['def_id' => $shopArticleOptionDef['shop_article_option_def_id'], 'article_id' => $this->articleData['shop_article_id']])
                                ?>" class="w3-button w3-small bk-grey-light">pricediff</a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else : ?>
    <p>Keine Optionen gefunden</p>
<?php endif; ?>
