<?php
$this->headTitle('POS address');
$this->inlineScript()->appendFile($this->basePath('/js/app/choose-address.js'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <a href="<?php echo $this->url('shop_pos_sellforguest') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> POS
    </a>
</div>

<div class="content-wrapper-shop">
    <div class="w3-row">
        <div class="w3-col">

            <?php if ($this->isPrivateInvoice) : ?>
                <div class="w3-row w3-small">
                    <div class="w3-col l6 w3-padding">
                        <p><strong><?php echo $this->translate('Rechnungsadresse', 'bitkornshop') ?></strong></p>
                        <?php $this->shopBasketAddressFormInvoicePrivate->prepare() ?>
                        <?php echo $this->form()->openTag($this->shopBasketAddressFormInvoicePrivate) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_id')) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_unique')) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('form_name')) ?>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_customer_type')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l4 m4">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_salut')) ?>
                            </div>
                            <div class="w3-col l8 m8">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_degree')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_name1')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_name2')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l9 m9 s9">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_street')) ?>
                            </div>
                            <div class="w3-col l3 m3 s3">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_street_no')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l3 m3 s4">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_zip')) ?>
                            </div>
                            <div class="w3-col l9 m9 s8">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_city')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('country_id')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_additional')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="w3-col l6 w3-padding">
                        <p>&nbsp;</p>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_email')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_birthday')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoicePrivate->get('shop_basket_address_tel')) ?>
                            </div>
                        </div>
                        <p class="w3-right-align">
                            <?php echo $this->formSubmit($this->shopBasketAddressFormInvoicePrivate->get('submit')) ?>
                            <?php echo $this->form()->closeTag() ?>
                        </p>
                        <?php if ($this->basketAddressCount == 1 && !$this->showVariantShippingAddress) : ?>
                            <p>
                                <label class="cursor-pointer">
                                    <input type="checkbox" name="variant_shipping_address" class="variant-shipping-address-check" value="1"> Abweichende Lieferadresse 
                                </label>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>
            <?php else: ?>
                <div class="w3-row w3-small">
                    <div class="w3-col l6 w3-padding">
                        <p><strong><?php echo $this->translate('Rechnungsadresse', 'bitkornshop') ?></strong></p>
                        <?php $this->shopBasketAddressFormInvoiceEnterprise->prepare() ?>
                        <?php echo $this->form()->openTag($this->shopBasketAddressFormInvoiceEnterprise) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_id')) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_unique')) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('form_name')) ?>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_customer_type')) ?>
                            </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-col l4 m4">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_salut')) ?>
                            </div>
                            <div class="w3-col l8 m8">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_degree')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_name1')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_name2')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_company_name')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_company_department')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l9 m9 s9">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_street')) ?>
                            </div>
                            <div class="w3-col l3 m3 s3">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_street_no')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l3 m3 s4">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_zip')) ?>
                            </div>
                            <div class="w3-col l9 m9 s8">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_city')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('country_id')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_additional')) ?>
                            </div>
                        </div>
                    </div>
                    <div class="w3-col l6 w3-padding">
                        <p>&nbsp;</p>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_email')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_tax_id')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormInvoiceEnterprise->get('shop_basket_address_tel')) ?>
                            </div>
                        </div>
                        <p class="w3-right-align">
                            <?php echo $this->formSubmit($this->shopBasketAddressFormInvoiceEnterprise->get('submit')) ?>
                            <?php echo $this->form()->closeTag() ?>
                        </p>
                        <?php if ($this->basketAddressCount == 1 && !$this->showVariantShippingAddress) : ?>
                            <p>
                                <label class="cursor-pointer">
                                    <input type="checkbox" name="variant_shipping_address" class="variant-shipping-address-check" value="1"> Abweichende Lieferadresse 
                                </label>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>


            <?php if ($this->isPrivateShipment) : ?>
                <div class="w3-row w3-small <?php echo ($this->basketAddressCount < 2 && !$this->showVariantShippingAddress) ? 'w3-hide' : '' ?> variant-shipping-address-div">
                    <hr>
                    <div class="w3-col l6 w3-padding">
                        <p><strong><?php echo $this->translate('Abweichende Lieferadresse', 'bitkornshop') ?></strong></p>
                        <?php $this->shopBasketAddressFormShipmentPrivate->prepare() ?>
                        <?php echo $this->form()->openTag($this->shopBasketAddressFormShipmentPrivate) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_id')) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_unique')) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('form_name')) ?>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_customer_type')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_name1')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_name2')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l9 m9 s9">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_street')) ?>
                            </div>
                            <div class="w3-col l3 m3 s3">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_street_no')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l3 m3 s4">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_zip')) ?>
                            </div>
                            <div class="w3-col l9 m9 s8">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_city')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('country_id')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_additional')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_email')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentPrivate->get('shop_basket_address_tel')) ?>
                            </div>
                        </div>
                        <p class="w3-right-align">
                            <?php echo $this->formSubmit($this->shopBasketAddressFormShipmentPrivate->get('submit')) ?>
                            &nbsp;
                            <?php echo $this->formSubmit($this->shopBasketAddressFormShipmentPrivate->get('submit_delete')) ?>
                            <?php echo $this->form()->closeTag() ?>
                        </p>
                    </div>
                </div>
            <?php else : ?>
                <div class="w3-row w3-small <?php echo ($this->basketAddressCount < 2 && !$this->showVariantShippingAddress) ? 'w3-hide' : '' ?> variant-shipping-address-div">
                    <hr>
                    <div class="w3-col l6 w3-padding">
                        <p><strong><?php echo $this->translate('Abweichende Lieferadresse', 'bitkornshop') ?></strong></p>
                        <?php $this->shopBasketAddressFormShipmentEnterprise->prepare() ?>
                        <?php echo $this->form()->openTag($this->shopBasketAddressFormShipmentEnterprise) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_id')) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_unique')) ?>
                        <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('form_name')) ?>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_customer_type')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_name1')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_name2')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_company_name')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_company_department')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l9 m9 s9">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_street')) ?>
                            </div>
                            <div class="w3-col l3 m3 s3">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_street_no')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col l3 m3 s4">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_zip')) ?>
                            </div>
                            <div class="w3-col l9 m9 s8">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_city')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('country_id')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_additional')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_email')) ?>
                            </div>
                        </div>
                        <div class="w3-row bk-form-row">
                            <div class="w3-col">
                                <?php echo $this->formRow($this->shopBasketAddressFormShipmentEnterprise->get('shop_basket_address_tel')) ?>
                            </div>
                        </div>
                        <p class="w3-right-align">
                            <?php echo $this->formSubmit($this->shopBasketAddressFormShipmentEnterprise->get('submit')) ?>
                            &nbsp;
                            <?php echo $this->formSubmit($this->shopBasketAddressFormShipmentEnterprise->get('submit_delete')) ?>
                            <?php echo $this->form()->closeTag() ?>
                        </p>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>