<?php
$this->headTitle('POS for user');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/basket-pos.js?v=0.0.6'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_shopusers') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Kundenliste') ?>
    </a>
</div>
<?php if (isset($this->userWithAddresses)) : ?>
    <div class="w3-container">
        <div class="w3-row">
            <div class="w3-col l4 m4">
                <h3>POS für Kunde: <strong><?php echo $this->userWithAddresses['shop_user_data_number_varchar'] ?></strong></h3>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 30%;">Login</td>
                        <td style="width: 70%;"><?php echo $this->userWithAddresses['user_login'] ?></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><?php echo $this->userWithAddresses['user_email'] ?></td>
                    </tr>
                    <tr>
                        <td>Gruppe</td>
                        <td><?php echo $this->userWithAddresses['shop_user_group_name'] ?></td>
                    </tr>
                    <tr>
                        <td>Adressen</td>
                        <td>
                            <?php $btnAddressColorClass = ($this->userWithAddresses['shop_user_address_count'] > 0) ? 'bk-grey-light' : 'bk-warn' ?>
                            <a href="<?php
                            echo $this->url('shop_admin_user_shopuseradmin_editshopuseraddress',
                                ['user_uuid' => $this->userWithAddresses['user_uuid']])
                            ?>"
                               class="w3-button w3-small <?php echo $btnAddressColorClass ?>">
                                <?php echo $this->userWithAddresses['shop_user_address_count'] ?>
                                &nbsp
                                <i class="fas fa-address-card-o"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="w3-col l8 m8 w3-padding">
                <?php $deleteButtonCssClass = $this->deleteBasketEnabled ? '' : 'w3-hide' ?>
                <?php $buyButtonCssClass = $this->buyEnabled ? '' : 'w3-hide' ?>
                <div id="address_count" data-addresscount="<?php echo $this->addressCount ?>"></div>
                <div id="discount_enabled" data-discountenabledsys="<?php echo $this->basketDiscountEnabledSys ? 1 : 0 ?>"></div>
                <div id="basket-content-pos"></div>
                <br>
                <?php $basketDiscountCssClass = $this->basketDiscountEnabled ? '' : 'w3-hide' ?>
                <form action="" method="post" id="basket-discount-form" class="w3-inline-block <?php echo $basketDiscountCssClass ?>">
                    <div class="w3-row">
                        <div class="w3-col l6 m6 s6 w3-padding">
                            <input type="text" name="shop_basket_discount_hash" class="w3-input" placeholder="Rabatt-Code ?">
                        </div>
                        <div class="w3-col l6 m6 s6 w3-padding">
                            <input type="submit" value="Rabatt-Code anwenden" class="w3-button bk-grey-light">
                        </div>
                    </div>
                </form>
                <form action="" method="post" id="basket-pickup-form" class="w3-inline-block w3-right <?php echo $deleteButtonCssClass ?>">
                    <div class="w3-row">
                        <div class="w3-col w3-padding">
                            <?php if (!$this->shippingPickupCustomer) : ?>
                                <button type="submit" name="shipping_provider_unique_descriptor" value="cp" class="w3-button">
                                    <i class="fas fa-car"></i> Selbstabholung
                                </button>
                            <?php else: ?>
                                <button type="submit" name="shipping_provider_unique_descriptor" value="dhl" class="w3-button">
                                    <i class="fas fa-truck"></i> Paketservice
                                </button>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
                <div class="w3-row">
                    <div id="delete-button" class="w3-col l4 m4 s6 w3-padding <?php echo $deleteButtonCssClass ?>">
                        <button class="w3-button w3-red basket-delete-pos">Warenkorb löschen</button>
                        &nbsp;
                    </div>
                    <div id="buy-button" class="w3-col l6 m6 w3-padding <?php echo $buyButtonCssClass ?>">
                        <form method="post" action="" style="display: inline-block">
                            <button type="submit" name="submit_basket_pos" value="1" class="w3-button w3-green">
                                bestellen
                            </button>
                        </form>
                        &nbsp;
                        <?php echo $this->paypalSmartButtons() ?>
                        &nbsp;
                        <?php // echo $this->paymentPosBrandSofortcom() ?>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-bold">
        <form method="post" action="">
            <div class="w3-row w3-small">
                <div class="w3-col l2 m4 w3-padding">
                    <?php echo $this->shopArticleCategorySelect($this->shopArticleCategoryCurrent) ?>
                </div>
                <div class="w3-col l2 m4 w3-padding">
                    <?php
                    echo $this->simpleSelect($this->shopArticleClassIdAssoc, $this->shopArticleClassCurrent, 'shop_article_class_id',
                        'w3-select', true, '--- Artikel-Klasse ---')
                    ?>
                </div>
                <div class="w3-col l2 m4 w3-padding">
                    <input type="submit" class="w3-button bk-grey-light" value="anzeigen">
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l2 m4 w3-padding">
                </div>
            </div>
        </form>
        <hr class="hr-bold">
        <?php if (!empty($this->articlesData)) : ?>
            <table class="w3-table w3-table-all">
                <thead>
                <tr>
                    <th>A.-Nr.</th>
                    <th>Name</th>
                    <!--<th>Gr&ouml;&szlig;e</th>-->
                    <th>Preis</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->articlesData as $articleData) : ?>
                    <tr>
                        <td><?php echo $articleData['shop_article_sku'] ?></td>
                        <td><?php echo $articleData['shop_article_name'] ?></td>
                        <td id="td_<?php echo $articleData['shop_article_id'] ?>"
                            data-baseprice="<?php echo $articleData['shop_article_price'] ?>">
                                <span id="price_<?php echo $articleData['shop_article_id'] ?>">
                                    <?php
                                    echo number_format($articleData['shop_article_price'], 2, ',', '.')
                                    ?>
                                </span> &euro;
                        </td>
                        <td class="w3-xtiny">
                            <?php
                            echo $this->shopArticleOptionsByArticleId($articleData['shop_article_id'],
                                'bk-small', 'pos-article-option-select')
                            ?>
                        </td>
                        <td>
                            <input type="number" name="" style="width: 60px;" value="1"
                                   id="pos_add_to_card_amount_<?php echo $articleData['shop_article_id'] ?>">
                            <button class="add-to-basket-pos" data-articleid="<?php echo $articleData['shop_article_id'] ?>">
                                <i class="fas fa-shopping-basket"></i>
                            </button>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
    </div>
<?php endif; ?>
