<?php
//echo $this->printrtextarea($this->basketData);
?>
<?php if (!empty($this->basketData)) : ?>
    <div class="w3-dropdown-hover bk-grey-alpha-5">
        <div class="w3-padding-8 w3-padding-left w3-padding-right" style="min-width: 300px;">
            <i class="fas fa-shopping-basket" style="font-size: 1.3em;"></i>&nbsp;
            <?php echo $this->articleAmountSum . ' ' . $this->translate('Artikel', 'bitkornshop') ?>&nbsp;=&nbsp;
            <?php echo number_format($this->articlePriceTotalSum, 2, ',', '.') . ' &euro; ' . $this->translate('Gesammtpreis', 'bitkornshop') ?>
        </div>
        <div class="w3-dropdown-content w3-border basket-widget-content" style="width: 100%;">
            <div class="bk-grey-alpha-5 w3-padding-left w3-padding-right">
                <?php foreach ($this->basketData as $basketItem) : ?>
                    <div class="w3-row">
                        <div class="w3-col l6 m6 s6">
                            <?php echo $basketItem['shop_article_name'] ?>
                        </div>
                        <div class="w3-col l2 m2 s2 w3-right-align">
                            <?php echo ' x ' . $basketItem['shop_article_amount'] . ' = ' ?>
                        </div>
                        <div class="w3-col l4 m4 s4 w3-right-align">
                            <?php echo number_format($basketItem['shop_article_price_total'], 2, ',', '.') ?> &euro;
                        </div>
                    </div>
                <?php endforeach; ?>
                <div class="w3-row">
                    <a href="<?php echo $this->url('shop_frontend_basket_basket') ?>">
                        <?php echo $this->translate('zum Warenkorb', 'bitkornshop') ?>
                    </a>
                </div>
            </div>
        </div>
    </div>
<?php else : ?>
    <p><?php echo $this->translate('Ihr Warenkorb ist leer!', 'bitkornshop') ?></p>
<?php endif; ?>
