<?php
//echo $this->printrtextarea($this->basketData);
?>
<?php if (!empty($this->basketData)) : ?>
    <div class="w3-hide-small">
        <a href="<?php echo $this->url('shop_frontend_basket_basket') ?>">
            <i class="fas fa-shopping-basket"></i>&nbsp;
            <?php echo $this->numberI18n($this->articleAmountSum) . ' ' . $this->translate('Artikel', 'bitkornshop') ?>&nbsp;=&nbsp;
            <?php echo $this->numberI18n($this->articlePriceTotalSum) . ' &euro; '; //  . $this->translate('gesamt', 'bitkornshop') ?>
        </a>
    </div>
    <div class="w3-hide-large w3-hide-medium">
        <a href="<?php echo $this->url('shop_frontend_basket_basket') ?>">
            <i class="fas fa-shopping-basket"></i>
            <?php // echo $this->articleAmountSum . '=' . number_format($this->articlePriceTotalSum, 2, ',', '.') . ' &euro;' ?>
            <?php echo $this->numberI18n($this->articlePriceTotalSum) . ' &euro;' ?>
        </a>
    </div>
<?php else : ?>
    <div class="w3-hide-small">
            <i class="fas fa-shopping-basket"></i>&nbsp;
                <?php echo $this->translate('Ihr Warenkorb ist leer!', 'bitkornshop') ?>
    </div>
    <div class="w3-hide-large w3-hide-medium">
            <i class="fas fa-shopping-basket"></i>&nbsp;(0)
    </div>
<?php endif; ?>
