<?php
$this->headTitle($this->translate('Dashboard', 'bitkornshop'));
//$this->headLink()->appendStylesheet($this->basePath('js/jqplot.1.0.9/jquery.jqplot.min.css'));
//$this->inlineScript()->appendFile($this->basePath('js/jqplot.1.0.9/excanvas.js'));
//$this->inlineScript()->appendFile($this->basePath('js/jqplot.1.0.9/jquery.jqplot.min.js'));
//$this->inlineScript()->appendFile($this->basePath('js/jqplot.1.0.9/plugins/jqplot.barRenderer.js'));
//$this->inlineScript()->appendFile($this->basePath('js/jqplot.1.0.9/plugins/jqplot.categoryAxisRenderer.js'));
//$this->inlineScript()->appendFile($this->basePath('js/app/admin/dashboard_jqplot.js'));

$this->inlineScript()->appendFile($this->basePath('js/d3/d3.min.js'));
//$this->inlineScript()->appendFile($this->basePath('js/app/admin/dashboard_csv.js'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/dashboard_json.js'));
?>
<style>

    .bar rect {
        /*        background-color: steelblue;*/
                fill: steelblue;
    }

    .bar text {
        /*        background-color: #fff;*/
                fill: #fff;
        font: 10px sans-serif;
    }

</style>
<style type="text/css">

    .note {
        font-size: 0.8em;
    }
    .jqplot-yaxis-tick {
        white-space: nowrap;
    }
    .jqplot-xaxis-tick {
        transform: rotate(270deg);
	/*transform-origin: left top 0;*/
        z-index: 1;
        color: black;
        top: -50px;
    }
</style>
<!--<textarea id="textarea"></textarea>-->
<div class="w3-container">

    <div class="w3-row">
        <div class="w3-col l2">
            <h2>Dashboard</h2>
        </div>
        <div class="w3-col l2 m4 s6 w3-padding">
            <input type="text" class="datepicker w3-input" id="date_from" value="<?php echo $this->dateFrom ?>">
        </div>
        <div class="w3-col l2 m4 s6 w3-padding">
            <input type="text" class="datepicker w3-input" id="date_to" value="<?php echo $this->dateTo ?>">
        </div>
        <div class="w3-col l2 m4 s6 w3-padding">
            <button type="button" class="w3-button bk-grey" id="update_statistic">Update Statistic</button>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l4 m6">
            <div class="w3-card">
                <header class="w3-container bk-grey-light">Maßeingaben</header>
                <div class="w3-container">
                    <div id="chart-measures-input" style="width:600px; height:250px;"></div>
                </div>
            </div>
        </div>
        <div class="w3-col l4 m6">
            <div class="w3-card">
                <header class="w3-container bk-grey-light">Monat</header>
                <div class="w3-container">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
        <div class="w3-col l4 m6">
            <div class="w3-card">
                <header class="w3-container bk-grey-light">Jahr</header>
                <div class="w3-container">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col l4 m6">
            <div class="w3-card">
                <header class="w3-container bk-grey-light">foo</header>
                <div class="w3-container">
                    <p id="statistic_size_archive"></p>
                </div>
            </div>
        </div>
        <div class="w3-col l4 m6">
            <div class="w3-card">
                <header class="w3-container bk-grey-light">Artikel bezahlt</header>
                <div class="w3-container">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
        <div class="w3-col l4 m6">
            <div class="w3-card">
                <header class="w3-container bk-grey-light">Artikel-Ranking</header>
                <div class="w3-container">
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p id="statistic_size_archive"></p>
