<?php if (!empty($this->shopBasket)) : ?>
    <span onclick="document.getElementById('basket-details-modal').style.display = 'none'" class="w3-button w3-right w3-closebtn">&times;</span>
    <div class="w3-row w3-padding">
        <div class="w3-col">
            <table class="w3-table-all">
                <thead>
                <tr class="bk-marine">
                    <th colspan="7"><?php echo $this->translate('Warenkorb gesamt') ?></th>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Bestell.-Nr.') ?></th>
                    <th><?php echo $this->translate('Anzahl') ?></th>
                    <th><?php echo $this->translate('Gewicht') ?></th>
                    <th><?php echo $this->translate('Preis') ?></th>
                    <th><?php echo $this->translate('Versand') ?></th>
                    <th><?php echo $this->translate('Gesamt') ?></th>
                    <th><?php echo $this->translate('Status') ?></th>
                </tr>
                </thead>
                <tbody>
                <tr class="w3-grey">
                    <td><?php echo $this->shopBasket[0]['shop_document_order_number'] ?></td>
                    <td><?php echo $this->shopBasket[0]['computed_value_article_id_count'] ?></td>
                    <td><?php echo number_format($this->shopBasket[0]['computed_value_article_weight_sum'], 2, ',', '.') ?></td>
                    <td><?php echo number_format($this->shopBasket[0]['computed_value_article_price_total_sum'], 2, ',', '.') ?> &euro;</td>
                    <td><?php echo number_format($this->shopBasket[0]['computed_value_article_shipping_costs_computed'], 2, ',', '.') ?> &euro;</td>
                    <td>
                        <?php
                        echo number_format($this->shopBasket[0]['computed_value_article_price_total_sum'] +
                            $this->shopBasket[0]['computed_value_article_shipping_costs_computed'], 2, ',', '.')
                        ?> &euro;
                    </td>
                    <td><?php echo $this->shopBasket[0]['shop_basket_status'] ?></td>
                </tr>
                </tbody>
            </table>
            <hr>
            <table class="w3-table-all">
                <thead>
                <tr class="bk-marine">
                    <th colspan="6"><?php echo $this->translate('Warenkorb Inhalt') ?></th>
                </tr>
                <tr>
                    <th><?php echo $this->translate('Anzahl') ?></th>
                    <th><?php echo $this->translate('Art.-Nr.') ?></th>
                    <th><?php echo $this->translate('Gewicht') ?></th>
                    <th><?php echo $this->translate('Preis') ?></th>
                    <th><?php echo $this->translate('Gesamt') ?></th>
                    <th><?php echo $this->translate('Einzel-Versand') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->shopBasket as $shopBasketItem) : ?>
                    <tr>
                        <td><?php echo $shopBasketItem['shop_article_amount'] ?></td>
                        <td><?php echo $shopBasketItem['shop_article_sku'] ?></td>
                        <td><?php echo number_format($shopBasketItem['shop_article_weight'], 2, ',', '.') ?></td>
                        <td><?php echo number_format($shopBasketItem['shop_article_price'], 2, ',', '.') ?> &euro;</td>
                        <td><?php echo number_format($shopBasketItem['shop_article_price_total'], 2, ',', '.') ?> &euro;</td>
                        <td><?php echo number_format($shopBasketItem['shop_article_shipping_costs_single'], 2, ',', '.') ?> &euro;</td>
                    </tr>
                <?php endforeach; ?>
                <tr class="w3-grey">
                    <td><?php echo $this->shopBasket[0]['computed_value_article_id_count'] ?></td>
                    <td></td>
                    <td><?php echo number_format($this->shopBasket[0]['computed_value_article_weight_sum'], 2, ',', '.') ?></td>
                    <td></td>
                    <td><?php echo number_format($this->shopBasket[0]['computed_value_article_price_total_sum'], 2, ',', '.') ?> &euro;</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <?php if (!empty($this->shopBasket[0]['user_uuid']) && !empty($this->shopBasket[0]['login']) && !empty($this->shopBasket[0]['email'])) : ?>
        <div class="w3-row w3-padding">
            <div class="w3-col">
                <p title="<?php echo $this->shopBasket[0]['user_uuid'] ?>">
                    User-Login: <?php echo $this->shopBasket[0]['login'] ?>
                    <br>
                    User-Email: <?php echo $this->shopBasket[0]['email'] ?>
                </p>
            </div>
        </div>
    <?php endif; ?>
<?php else: ?>
    <p>Kein Warenkorbinhalt gefunden.</p>
<?php endif; ?>
