<?php
//echo $this->printrtextarea($this->basketData);

/**
 * aus createEmptyBasket() koennt n leeres (dummy) basketItem drin sein
 */
if (!empty($this->basketData) && !empty($this->basketData[0]['shop_article_id'])) :
    ?>
    <div class="" style="">
        <br>
        <?php foreach ($this->basketData as $basketItem) : ?>
            <div class="w3-row w3-border w3-padding">
                <div class="w3-col l6 m6 s6">
                    <?php echo $basketItem['shop_article_name'] ?>
                    <?php if (!empty($basketItem['shop_basket_item_article_options'])) : ?>
                        <div class="w3-small">
                            <?php
                            echo $this->shopArticleOptionsFromJson($basketItem['shop_basket_item_article_options'],
                                    $basketItem['shop_article_id'])
                            ?>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="w3-col l3 m3 s3 w3-right-align">
                    <div class="w3-large" style="display: inline-block">
                        <?php echo ' x ' . $basketItem['shop_article_amount'] ?>
                    </div>
                    <form method="post" action="" style="display: inline-block; padding: 0 8px;">
                        <input type="hidden" name="shop_basket_item_id_delete" value="<?php echo $basketItem['shop_basket_item_id'] ?>">
                        <input type="submit" value="&times;" class="w3-button w3-small w3-red">
                    </form>
                </div>
                <div class="w3-col l3 m3 s3 w3-right-align">
                    <?php echo number_format($basketItem['shop_article_price_total'], 2, ',', '.') ?> &euro;
                </div>
            </div>
        <?php endforeach; ?>
        <hr class="hr-thin">
        <div class="w3-row w3-border w3-border-black w3-padding">
            <div class="w3-col l6 m6 s6">
                <i class="fas fa-shopping-basket" style="font-size: 1.3em;"></i>&nbsp;
                <?php echo $this->translate('Artikel gesamt', 'bitkornshop') ?>
            </div>
            <div class="w3-col l3 m3 s3 w3-right-align w3-large">
                <?php echo $this->articleAmountSum ?>
            </div>
            <div class="w3-col l3 m3 s3 w3-right-align">
                <?php echo number_format($this->articlePriceTotalSum, 2, ',', '.') . ' &euro;' ?>
            </div>
        </div>

        <?php if (!empty($this->xshopBasketEntity->getBasketDiscountValue()) && !empty($this->xshopBasketEntity->getBasketDiscountHash())) : ?>
            <div class="w3-row w3-border w3-border-black w3-padding bk-grey-light">
                <div class="w3-col l6 m6 s6">
                    <?php echo $this->translate('Rabatt', 'bitkornshop') ?> (<?php echo $this->xshopBasketEntity->getBasketDiscountHash() ?>)
                </div>
                <div class="w3-col l2 m2 s2 w3-right-align">
                    &nbsp;
                </div>
                <div class="w3-col l4 m4 s4 w3-right-align">
                    <?php echo number_format($this->xshopBasketEntity->getBasketDiscountValue(), 2, ',', '.') . ' &euro;' ?>
                </div>
            </div>
            <div class="w3-row w3-border w3-border-black w3-padding">
                <div class="w3-col l6 m6 s6">
                    <?php echo $this->translate('neuer Warenwert', 'bitkornshop') ?>
                </div>
                <div class="w3-col l2 m2 s2 w3-right-align">
                    &nbsp;
                </div>
                <div class="w3-col l4 m4 s4 w3-right-align">
                    <?php echo number_format($this->xshopBasketEntity->getArticlePriceTotalSumEnd(), 2, ',', '.') . ' &euro;' ?>
                </div>
            </div>
        <?php endif; ?>

        <div class="w3-row w3-border w3-border-black w3-padding">
            <div class="w3-col l6 m6 s6">
                <?php echo $this->translate('Versandkosten', 'bitkornshop') ?>
            </div>
            <div class="w3-col l2 m2 s2 w3-right-align">
                &nbsp;
            </div>
            <div class="w3-col l4 m4 s4 w3-right-align">
                <?php echo number_format($this->xshopBasketEntity->getArticleShippingCostsComputed(), 2, ',', '.') . ' &euro;' ?>
            </div>
        </div>
        <div class="w3-row w3-border w3-border-black w3-padding">
            <div class="w3-col l6 m6 s6">
                <?php echo $this->translate('Gesamtkosten', 'bitkornshop') ?>
            </div>
            <div class="w3-col l2 m2 s2 w3-right-align">
                &nbsp;
            </div>
            <div class="w3-col l4 m4 s4 w3-right-align">
                <?php
                echo number_format($this->xshopBasketEntity->getArticlePriceTotalSumEnd() + $this->xshopBasketEntity->getArticleShippingCostsComputed(),
                        2, ',', '.') . ' &euro;'
                ?>
            </div>
        </div>
    </div>
<?php else : ?>
    <p><?php echo $this->translate('Der Warenkorb ist leer!', 'bitkornshop') ?></p>
<?php endif; ?>
