<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */
$this->headTitle($this->translate($this->articleData['shop_article_meta_title'], 'bitkornshop'));
$this->headMeta()->appendName('title', $this->articleData['shop_article_meta_title']);
$this->headMeta()->appendName('description', $this->articleData['shop_article_meta_desc']);
$this->headMeta()->appendName('keywords', $this->articleData['shop_article_meta_keywords']);

$this->headMeta()->appendProperty('og:site_name', $this->shopName . ' - ' . $this->articleData['shop_article_name']);
$thisUrl = $this->serverUrl() . $this->url('shop_frontend_article_article', ['article_sefurl' => $this->articleData['shop_article_sefurl']]);
$this->headMeta()->appendProperty('og:url', $thisUrl);
$this->headMeta()->appendProperty('og:type', 'website');
$this->headMeta()->appendProperty('og:title', $this->articleData['shop_article_meta_title']);
$this->headMeta()->appendProperty('og:description', $this->articleData['shop_article_meta_desc']);
if (!empty($this->shopArticleImagesData)) {
    $this->headMeta()->appendProperty('og:image',
        $this->serverUrl() . $this->imageSrc($this->shopArticleImagesData[0]['bk_images_image_id'], ['custom' => '200x200'], $this->imageEntity));
    $this->headMeta()->appendProperty('og:image:width', 200);
    $this->headMeta()->appendProperty('og:image:height', 200);
}
echo $this->inlineScript()->appendFile($this->basePath('/js/app/shipping-cost.js'));
?>
<div class="">
    <div class="w3-container bks-article-banner" style="color:<?php echo $this->articleData['shop_article_hexcolor'] ?>;">
        <h1><?php echo $this->articleData['shop_article_name'] ?></h1>
    </div>
    <br>
    <div class="w3-row">
        <div class="w3-col l8 w3-center">
            <?php if (!empty($this->shopArticleImagesData)) : ?>

                <?php foreach ($this->shopArticleImagesData as $shopArticleImageData) : ?>
                    <?php $titleCompl = $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) . ' | ' . $this->imageEntity->getImageDesc($shopArticleImageData['bk_images_image_id']) ?>
                    <div class="">
                        <a href="<?php
                        echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 120], $this->imageEntity)
                        ?>" class="gallery-link bks-img-slider-img-a"
                           data-titlesrc="<?php echo $titleCompl ?>">
                            <img src="<?php
                            echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 30], $this->imageEntity)
                            ?>"
                                 alt="<?php echo $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) ?>"
                                 class="bks-img-slider-img"
                                 data-titlesrc="<?php echo $titleCompl ?>">
                        </a>
                    </div>
                <?php endforeach; ?>

                <div class="w3-row-padding w3-section w3-center">
                    <?php $imgCount = 1 ?>
                    <?php foreach ($this->shopArticleImagesData as $shopArticleImageData) : ?>
                        <img src="<?php
                        echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 6], $this->imageEntity)
                        ?>"
                             alt="<?php echo $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) ?>"
                             class="bks-img-slider-nav w3-opacity w3-hover-opacity-off"
                             data-imgcount="<?php echo $imgCount ?>">
                        <?php $imgCount++ ?>
                    <?php endforeach; ?>
                </div>

            <?php else : ?>
                <img src="<?php echo $this->imageEmptySrc(['magicTwoSquare' => 256]) ?>" alt="no image" class="w3-image">
            <?php endif; ?>
        </div>
        <div class="w3-col l4">
            <?php if (isset($this->stockAmountSum)) : ?>

            <?php endif; ?>
            <p class="bks-article-price">
                <?php echo number_format($this->articleData['shop_article_price'], 2, ',', '.') ?> &euro;
                <br>
                <span class="bks-article-price-info">inkl. MwSt. zzgl. <span class="bk-black-text cursor-pointer click-shippingcost">Versandkosten</span></span>
            </p>
            <p>
                <?php if (($this->articleData['shop_article_stock_using'] == 1 && isset($this->stockAmountSum) && $this->stockAmountSum > 0) || $this->articleData['shop_article_stock_using'] == 0) : ?>
                    <!--<span class="w3-small">Aktuell auf Lager: <strong><?php // echo $this->stockAmountSum          ?></strong></span><br>-->
                    Menge&nbsp;&nbsp;&nbsp;<input type="number" value="1" size="3" name="shop_article_amount_<?php echo $this->articleData['shop_article_id'] ?>"
                                                  style="width: 40px;" class="w3-large">
                    <br><br>
                    <button class="add-to-basket w3-button bk-success"
                            data-articleid="<?php echo $this->articleData['shop_article_id'] ?>">in den Warenkorb
                    </button>
                <?php else : ?>
                    <strong>Dieser Artikel ist zur Zeit nicht verfügbar.</strong>
                <?php endif; ?>
            </p>
        </div>
    </div>
    <br>
    <div class="w3-row">
        <div class="w3-col">
            <div class="">
                <button class="bk-btn-tab bk-btn-tab-first w3-white"
                        data-tabclass="article-tab" data-tabid="article-desc"><?= $this->translate('Beschreibung', 'bitkornshop') ?>
                </button>
                <button class="bk-btn-tab bk-btn-tab-next w3-white"
                        data-tabclass="article-tab" data-tabid="article-valuations"><?= $this->translate('Bewertungen', 'bitkornshop') ?>
                </button>
            </div>
            <div id="article-desc" class="w3-container w3-border article-tab">
                <p class=""><?php echo $this->translate($this->articleData['shop_article_desc'], 'bitkornshop') ?></p>
            </div>
            <div id="article-valuations" class="w3-container w3-border article-tab" style="display:none">
                <?php echo $this->articleRatings($this->articleData['shop_article_id']) ?>
                <form action="" method="post" class="w3-topbar bk-marine-border">
                    <p>Ihre Meinung ist uns wichtig</p>
                    <textarea name="shop_article_rating_text" class="w3-input" placeholder="Ihre Anmerkung"></textarea>
                    <p>
                        <?php echo $this->barRating(0, false, 'shop_article_rating_value') ?>
                        <button type="submit" class="w3-button w3-right w3-small bk-marine">senden</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
