<?php
if (!empty($this->category)) :
    $this->headTitle($this->translate($this->category['shop_article_category_name'], 'bitkornshop'));
    $this->headMeta()->appendName('title', $this->category['shop_article_category_meta_title']);
    $this->headMeta()->appendName('description', $this->category['shop_article_category_meta_desc']);
    $this->headMeta()->appendName('keywords', $this->category['shop_article_category_meta_keywords']);
    ?>
    <div class="">
        <?php if (!empty($this->articles)) : ?>
            <div class="w3-row w3-padding bks-article-category-banner">
                <?php if (!empty($this->category['shop_article_category_img'])) : ?>
                    <div class="w3-col l4 m6 w3-right">
                        <img src="<?php echo $this->category['shop_article_category_img'] ?>"
                             class="w3-right"
                             alt="<?php echo $this->category['shop_article_category_name'] ?>">
                    </div>
                <?php endif; ?>
                <div class="w3-col l<?php echo $this->categoryDescColLarge ?> m<?php echo $this->categoryDescColMedium ?>">
                    <h1><?php echo $this->category['shop_article_category_name'] ?></h1>
                    <p><?php echo $this->category['shop_article_category_desc'] ?></p>
                </div>
            </div>
            <div class="w3-container bks-articles-preview">
                <?php echo $this->shopArticlesPreview($this->articles); ?>
            </div>
        <?php else: ?>
            <p>Es wurden keine Artikel gefunden</p>
        <?php endif; ?>
    </div>
<?php else: ?>
    <div class="">
        <?php if (!empty($this->articles)) : ?>
            <div class="w3-container bks-articles-preview">
                <?php echo $this->shopArticlesPreview($this->articles); ?>
            </div>
        <?php else: ?>
            <p>Es wurden keine Artikel gefunden</p>
        <?php endif; ?>
    </div>
<?php endif; ?>