<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */
$this->headTitle($this->translate($this->articleData['shop_article_meta_title'], 'bitkornshop'));
$this->headMeta()->appendName('title', $this->articleData['shop_article_meta_title']);
$this->headMeta()->appendName('description', $this->articleData['shop_article_meta_desc']);
$this->headMeta()->appendName('keywords', $this->articleData['shop_article_meta_keywords']);

$this->headMeta()->appendProperty('og:site_name', $this->shopName . ' - ' . $this->articleData['shop_article_name']);
$thisUrl = $this->serverUrl() . $this->url('shop_frontend_article_configarticle', ['article_sefurl' => $this->articleData['shop_article_sefurl']]);
$this->headMeta()->appendProperty('og:url', $thisUrl);
$this->headMeta()->appendProperty('og:type', 'website');
$this->headMeta()->appendProperty('og:title', $this->articleData['shop_article_meta_title']);
$this->headMeta()->appendProperty('og:description', $this->articleData['shop_article_meta_desc']);
if (!empty($this->shopArticleImagesData)) {
    $this->headMeta()->appendProperty('og:image',
        $this->serverUrl() . $this->imageSrc($this->shopArticleImagesData[0]['bk_images_image_id'], ['custom' => '200x200'], $this->imageEntity));
    $this->headMeta()->appendProperty('og:image:width', 200);
    $this->headMeta()->appendProperty('og:image:height', 200);
}
echo $this->inlineScript()->appendFile($this->basePath('/js/app/shipping-cost.js'));
?>
<div class="">
    <div class="w3-container bks-article-banner" style="color:<?php echo $this->articleData['shop_article_hexcolor'] ?>;">

    </div>
    <br>
    <div class="w3-row">
        <div class="w3-col l6 m8">
            <h1><?php echo $this->articleData['shop_article_name'] ?></h1>
            <p class=""><?php echo $this->translate($this->articleData['shop_article_desc'], 'bitkornshop') ?></p>
        </div>
        <div id="article-image-container" class="w3-col l4 w3-center">
            <?php if (!empty($this->shopArticleImagesData)) : ?>
                <?php foreach ($this->shopArticleImagesData as $shopArticleImageData) : ?>
                    <?php $titleCompl = $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) . ' | ' . $this->imageEntity->getImageDesc($shopArticleImageData['bk_images_image_id']) ?>
                    <div>
                        <a href="<?php
                        echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 120], $this->imageEntity)
                        ?>" class="gallery-link bks-img-slider-img-a"
                           data-titlesrc="<?php echo $titleCompl ?>">
                            <img src="<?php
                            echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 30], $this->imageEntity)
                            ?>"
                                 alt="<?php echo $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) ?>"
                                 class="bks-img-slider-img"
                                 data-titlesrc="<?php echo $titleCompl ?>">
                        </a>
                    </div>
                <?php endforeach; ?>

                <div class="w3-row-padding w3-section w3-center">
                    <?php $imgCount = 1 ?>
                    <?php foreach ($this->shopArticleImagesData as $shopArticleImageData) : ?>
                        <img src="<?php
                        echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 6], $this->imageEntity)
                        ?>"
                             alt="<?php echo $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) ?>"
                             class="bks-img-slider-nav w3-opacity w3-hover-opacity-off"
                             data-imgcount="<?php echo $imgCount ?>">
                        <?php $imgCount++ ?>
                    <?php endforeach; ?>
                </div>

            <?php else : ?>
                <img src="<?php echo $this->imageEmptySrc(['magicTwoSquare' => 256]) ?>" alt="no image" class="w3-image">
            <?php endif; ?>
        </div>
    </div>
    <br>
    <div class="w3-row">
        <div class="w3-col l2 m4">
            <div class="">
                Basispreis <span id="bks-article-price-value"><?php echo $this->numberI18n($this->articleData['shop_article_price']) ?></span> &euro;
                <br>
                Basislänge: <?php echo $this->numberI18n($this->articleData['shop_article_lengthcut_def_basequantity']) . ' ' . $this->articleData['shop_article_lengthcut_def_quantityunit_label'] ?>
                <br>
                <?php
                $basequantityOrigin = $this->quantityunitToOrigin($this->articleData['shop_article_lengthcut_def_quantityunit_uuid'], $this->articleData['shop_article_lengthcut_def_basequantity']);
                ?>
                Preis / m: <?php echo $this->numberI18n($this->articleData['shop_article_price'] / $basequantityOrigin) ?> &euro;
                <br>
                Schnittkosten pro Schnitt: <?php echo $this->numberI18n($this->articleData['shop_article_lengthcut_def_cutprice']) ?> €
                <br>

                <br>
                <span class="w3-xtiny">Alle preise inkl. MwSt. zzgl. <span class="bk-black-text cursor-pointer click-shippingcost">Versandkosten</span></span>
            </div>
        </div>
        <div class="w3-col l10 m8">
            <table class="w3-table w3-table-all" style="width: 760px">
                <thead>
                <tr>
                    <th style="width: 140px">außen &Oslash;</th>
                    <th style="width: 160px">Wandstärke (t)</th>
                    <th style="width: 140px">&euro; / m</th>
                    <th style="width: 140px">Länge in <?= $this->articleData['shop_article_lengthcut_def_quantityunit_label'] ?></th>
                    <th style="width: 140px">Anzahl</th>
                    <th style="width: 40px"></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->shopArticleParam2dItemsIdAssoc as $param2dItemId => $param2dItem) : ?>
                    <?php
                    $outOfStock = $param2dItem['shop_article_stock_sum'] < 10;
                    $readonlyStr = $outOfStock ? 'readonly="readonly"' : '';
                    $price = $this->articleData['shop_article_price'] + $param2dItem['shop_article_param2d_item_pricediff'];
                    ?>
                    <tr>
                        <td><?= $this->numberI18n($param2dItem['shop_article_param2d_item_value_1']) . ' ' . $param2dItem['quantity1_label'] ?></td>
                        <td><?= $this->numberI18n($param2dItem['shop_article_param2d_item_value_2']) . ' ' . $param2dItem['quantity2_label'] ?></td>
                        <td>
                            <?php echo $this->numberI18n($price / $basequantityOrigin) ?>
                        </td>
                        <td>
                            <input type="number" name="lengthcut_length" id="lengthcut_length_<?= $param2dItemId ?>" step="<?= $this->articleData['shop_article_lengthcut_def_step'] ?>" value="" style="width: 80px" <?= $readonlyStr ?>>
                        </td>
                        <td>
                            <input type="number" name="lengthcut_amount" id="lengthcut_amount_<?= $param2dItemId ?>" value="" style="width: 80px" <?= $readonlyStr ?>>
                        </td>
                        <td>
                            <?php if (!$outOfStock) : ?>
                                <button class="w3-button bk-success add-to-basket-lengthcut"
                                        data-articleid="<?= $this->articleData['shop_article_id'] ?>"
                                        data-param2ditemid="<?= $param2dItemId ?>"
                                >
                                    <i class="fas fa-shopping-basket"></i>
                                </button>
                            <?php else: ?>
                                <button class="w3-button bk-warn" title="Aktuell nicht verfügbar"><i class="far fa-surprise"></i></button>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <div class="w3-row">
        <div class="w3-col w3-border">
            <?php echo $this->articleRatings($this->articleData['shop_article_id']) ?>
            <form action="" method="post" class="w3-topbar bk-marine-border">
                <p>Ihre Meinung ist uns wichtig</p>
                <textarea name="shop_article_rating_text" class="w3-input" placeholder="Ihre Anmerkung"></textarea>
                <p>
                    <?php echo $this->barRating(0, false, 'shop_article_rating_value') ?>
                    <button type="submit" class="w3-button w3-right w3-small bk-marine">senden</button>
                </p>
            </form>
        </div>
    </div>
    <br>
</div>
