<?php
$this->headTitle($this->translate('Kundenadressen edit', 'bitkornshop'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/shopuser-address-admin.js'));
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <div class="w3-row">
        <div class="w3-col l1 m2 s4 w3-right">
            <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_editshopuser', ['user_uuid' => $this->userId]) ?>" class="w3-right  w3-xtiny w3-button bk-grey">
                <?php echo $this->translate('user') ?>
            </a>
        </div>
        <?php if ($this->userAddressCount > 0) : ?>
            <div class="w3-col l1 m2 s4 w3-right">
                <a href="<?php echo $this->url('shop_pos_sellforuser', ['user_uuid' => $this->userId]) ?>" class="w3-right w3-xtiny w3-button bk-grey">POS</a>
            </div>
        <?php endif; ?>
        <div class="w3-col l1 m2 s4 w3-right">
            <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_shopusers') ?>" class="w3-right w3-small">
                <i class="fas fa-backward"></i> <?php echo $this->translate('Kundenliste') ?>
            </a>
        </div>
    </div>
</div>
<input type="hidden" name="user_uuid" value="<?php echo $this->userId ?>">
<div id="user_addresses"></div>
<div class="w3-row w3-small">
    <div class="w3-col l6 m6 w3-padding" id="user_address_form">
        <?php if (isset($this->shopUserAddressForm)) : ?>
            <?php echo $this->form($this->shopUserAddressForm); ?>
        <?php endif; ?>
    </div>
</div>