<?php
$this->headTitle($this->translate('edit Kunde', 'bitkornshop'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/shopuser-role-relation-admin.js?v=0.0.1'));
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <?php echo $this->userData['shop_user_data_number_varchar'] ?> (registered: <?php echo date('d.m.Y', $this->userData['user_time_create']) ?>)
    <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_shopusers') ?>" class="w3-small w3-right">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Kundenliste') ?>
    </a>
</div>
<div class="w3-row">
    <?php $this->shopUserForm->prepare() ?>
    <?php echo $this->form()->openTag($this->shopUserForm) ?>
    <div class="w3-col l3 m6 bk-padding-8">
        <?php echo $this->formRow($this->shopUserForm->get('user_login')) ?>
    </div>
    <div class="w3-col l3 m6 bk-padding-8">
        <?php echo $this->formRow($this->shopUserForm->get('shop_user_group_id')) ?>
    </div>
    <div class="w3-col l3 m6 bk-padding-8">
        <?php echo $this->formRow($this->shopUserForm->get('user_email')) ?>
    </div>
    <div class="w3-col l3 m6 bk-padding-8">
        <label>&nbsp;</label>
        <?php echo $this->formSubmit($this->shopUserForm->get('submit')) ?>
        <?php echo $this->form()->closeTag() ?>
    </div>
</div>

<hr class="hr-bold">
<?php if (!empty($this->roles)) : ?>
    <p>Rechte für User des Administrationsbereichs editieren.</p>
    <div class="w3-row w3-small">
        <div class="w3-col l3 m6 bk-padding-8">
            <table>
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th>Bezeichnung</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <input type="hidden" id="userdata" data-useruuid="<?php echo $this->userData['user_uuid'] ?>">
                <?php foreach ($this->roles as $role) : ?>
                    <?php if ($this->isAdmin || $role['user_role_alias'] != 'admin') : ?>
                        <tr>
                            <td><?php echo $role['user_role_id'] ?></td>
                            <td><?php echo $role['user_role_alias'] ?></td>
                            <td>
                                <?php $checked = (in_array($role['user_role_id'], $this->userRoleRelationsRoleIds)) ? 'checked="checked"' : '' ?>
                                <input type="checkbox" data-roleid="<?php echo $role['user_role_id'] ?>" class="w3-check check-roleid" <?php echo $checked ?>>
                            </td>
                            <td><?php echo $role['user_role_desc'] ?></td>
                        </tr>
                    <?php endif; ?>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div class="w3-col l6 m6 bk-padding-8">

        </div>
    </div>
    <p class="w3-small">
        Das Ranking beschreibt die Wertigkeit (je kleiner die Zahl, desto höher die Wertigkeit).
        <br>
        Es wird für den Administrationsbereich verwendet. Wer Zugang zu Teilen des Administrationsbereich haben soll benötigt hier aktivierte Rechte.
        <br>
        <strong>Kunden haben hier nur bei 'user' einen Haken!</strong>
    </p>
    <p class="w3-small">
        Das Recht <strong>salesstaff</strong> gibt dem User eine minimale Administrations-Oberfläche.
        <br>
        Und es fällt aus der Wertigkeitsreihenfolge raus.
        <br>
        Und es aktiviert personalisierte Rabatt-Codes um Provisionen darauf zu berechnen.
        <br>
        User mit diesem Recht können außer dem provisionsberechtigt für Käufe & Verkäufe anderer User sein. Diesen <strong>Provisions Berechtigten</strong> 
        kann man bei jedem User in den Provisionseinstellungen ändern.
    </p>
<?php endif; ?>
