<?php
$this->headTitle($this->translate('Kunde', 'bitkornshop'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Kunde: <?php echo $this->userData['shop_user_data_number_varchar'] ?> (registered: <?php echo date('d.m.Y', $this->userData['user_time_create']) ?>)
    <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_shopusers') ?>" class="w3-small w3-right">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Kundenliste') ?>
    </a>
</div>
<table class="w3-table-all">
    <tbody>
    <tr>
        <th class="w3-left-align">Login</th>
        <td><?php echo $this->userData['user_login'] ?></td>
    </tr>
    <tr>
        <th class="w3-left-align">Email</th>
        <td><?php echo $this->userData['user_email'] ?></td>
    </tr>
    <tr>
        <th class="w3-left-align">registriert seit</th>
        <td><?php echo date('d.m.Y', $this->userData['user_time_create']) ?></td>
    </tr>
    <tr>
        <th class="w3-left-align">Kunden-Nr.</th>
        <td><?php echo $this->userData['shop_user_data_number_varchar'] ?></td>
    </tr>
    <tr>
        <th class="w3-left-align">Kunden-Gruppe</th>
        <td><?php echo $this->userData['shop_user_group_name'] ?></td>
    </tr>
    </tbody>
</table>
<p>
    <a class="w3-button w3-small bk-grey-light"
       href="<?php echo $this->url('shop_pos_sellforuser', ['user_uuid' => $this->userData['user_uuid']]) ?>">
        POS
    </a>
</p>