<?php
$this->headTitle($this->translate('Kunden', 'bitkornshop'));
?>
    <h2><?php echo $this->translate('Kunden', 'bitkornshop') ?></h2>
    <div class="w3-row">
        <form method="post" action="">
            <div class="w3-row w3-small">
                <div class="w3-col l2 m4 s6">
                    <?php echo $this->simpleSelect($this->shopUserGroupsIdAssoc, $this->shopUserGroupId, 'shop_user_group_id') ?>
                </div>
                <div class="w3-col l2 m4 s6">
                    &nbsp;
                    <label class="w3-border w3-padding cursor-pointer"
                           title="NUR User mit Rechten für den Administrationsbereichs">
                        <input type="checkbox" name="only_with_role" class="w3-check"
                            <?php echo($this->onlyWithRole ? 'checked="checked"' : '') ?>>
                        <i class="fas fa-users"></i>
                    </label>
                </div>
                <div class="w3-col l2 m4 s6">
                    <input type="submit" value="los" class="w3-button bk-grey-light">
                </div>
            </div>
        </form>
    </div>
    <br>
<?php if (!empty($this->shopUsersSearch)) : ?>
    <div class="w3-responsive">
        <table class="w3-table w3-bordered">
            <thead>
            <tr class="w3-grey">
                <th>Shop-Gruppe</th>
                <th>Kd.-Nr.</th>
                <th></th>
                <?php if ($this->isManager) : ?>
                    <th>login</th>
                <?php endif; ?>
                <th>Email</th>
                <th>registriert</th>
                <th><i class="fas fa-address-card-o"></i></th>
                <?php if ($this->isManager) : ?>
                    <th>&euro; %</th>
                    <th><i class="fas fa-shopping-basket"></i></th>
                <?php endif; ?>
                <th>POS</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->shopUsersSearch as $shopUser) : ?>
                <tr>
                    <td><?php echo $shopUser['shop_user_group_name'] ?></td>
                    <td><?php echo $shopUser['shop_user_data_number_varchar'] ?></td>
                    <td>
                        <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_shopuser', ['user_uuid' => $shopUser['user_uuid']]) ?>"
                           class="w3-button w3-small bk-grey-light">
                            <i class="fas fa-info"></i>
                        </a>
                    </td>
                    <?php if ($this->isManager) : ?>
                        <td>
                            <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_editshopuser', ['user_uuid' => $shopUser['user_uuid']]) ?>"
                               class="w3-button w3-small bk-grey-light">
                                <i class="fas fa-pencil-square-o"></i>
                                <?php echo $shopUser['user_login'] ?>
                            </a>
                        </td>
                    <?php endif; ?>
                    <td><?php echo $shopUser['user_email'] ?></td>
                    <td><?php echo date('d.m.Y', $shopUser['user_time_create']) ?></td>
                    <td>
                        <a class="w3-button w3-small bk-grey-light"
                           href="<?php echo $this->url('shop_admin_user_shopuseradmin_editshopuseraddress', ['user_uuid' => $shopUser['user_uuid']]) ?>">
                            <?php echo $shopUser['count_address'] ?>
                            &nbsp;
                            <i class="fas fa-address-card-o"></i>
                        </a>
                    </td>
                    <?php if ($this->isManager) : ?>
                        <td>
                            <a class="w3-button w3-small bk-grey-light"
                               href="<?php echo $this->url('shop_admin_user_fee_shopuserfeeadmin_shopuser', ['user_uuid' => $shopUser['user_uuid']]) ?>">
                                &euro; %
                            </a>
                        </td>
                        <td>
                            <a class="w3-button w3-small bk-grey-light"
                               href="<?php echo $this->url('shop_admin_basket_basketadmin_baskets', ['user_uuid' => $shopUser['user_uuid']]) ?>">
                                <i class="fas fa-shopping-basket"></i>
                            </a>
                        </td>
                    <?php endif; ?>
                    <td>
                        <a class="w3-button w3-small bk-grey-light"
                           href="<?php echo $this->url('shop_pos_sellforuser', ['user_uuid' => $shopUser['user_uuid']]) ?>">
                            POS
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <p>Zu dieser Abfrage gab es kein Ergebnis.</p>
<?php endif; ?>
