<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        a, a:visited {
            color: black;
        }

        table {
            border-spacing: 0;
            border-collapse: separate;
        }

        .right-align {
            text-align: right;
        }

        .padding-horizontal-4 {
            padding: 0 4px;
        }

        #arround {
            width: 800px;
            padding: 8px;
            border: 2px solid #7d7d7f;
        }

        .logo {
            padding: 6px;
        }

        hr.hr-dottet {
            border: none;
            border-top: 1px dotted #7d7d7f;
        }

        .logo-text {
            font-size: 28px;
            color: #7E1650;
        }

        .text-bold {
            font-weight: bold;
        }

        .text-small-10 {
            font-size: 10px;
        }

        table.basket-summary {
            width: 90%;
        }

        table.basket-summary thead {
            background-color: #999999;
        }

        table.basket-summary tbody {
            background-color: #cccccc;
        }

        table.basket-summary th, table.basket-summary td {
            padding: 2px;
            border: 1px solid #333333;
        }

        .underlined {
            text-decoration: underline;
        }

        .payment-info {
            padding: 4px;
            border: 1px solid #999999;
            background-color: #cccccc;
        }
    </style>
</head>
<body>
<div id="arround">
    <table>
        <tr>
            <td><img src="" alt="Logo" class="logo" style="height: 100px"></td>
            <td><p class="logo-text">More than a name in General Aviation</p></td>
        </tr>
    </table>
    <hr class="hr-dottet">
    <p class="text-bold">
        Ihre Bestellung ist auf dem Weg!
        <br>
    </p>
    <p>
        Sehr geehrte/r <?php echo $this->customerName ?>,
        <br>
        <br>
        folgende Produkte haben unser Lager verlassen und werden Ihnen in den n&auml;chsten Tagen zugstellt:
    </p>
    <p class="text-bold">
        Bestellung Nr: <?php echo $this->orderNo ?>
        <br>
        Datum Ihrer Bestellung: <?php echo $this->orderDate ?>
        <?php if (!empty($this->customerNo)) : ?>
            <br>
            Ihre Kundennummer: <?php echo $this->customerNo ?>
        <?php endif; ?>
    </p>
    <p class="text-bold">
        Ihre Bestellübersicht:
    </p>
    <table class="basket-summary">
        <thead>
        <tr>
            <th>Artikel-Nr.</th>
            <th>Bezeichnung</th>
            <th>Anzahl</th>
            <th>Einzelpreis<br>(inkl. MwSt.)</th>
            <th>Gesamtpreis<br>(inkl. MwSt.)</th>
        </tr>
        </thead>
        <tbody>
        <?php if (!empty($this->basketItems) && is_array($this->basketItems)) : ?>
            <?php foreach ($this->basketItems as $basketItem) : ?>
                <tr>
                    <td><?php echo $basketItem['shop_article_sku'] ?></td>
                    <td>
                        <?php echo html_entity_decode($basketItem['shop_article_name']) ?>
                        <br>
                        <?php echo $this->articleDescVariable($basketItem) ?>
                    </td>
                    <td><?php echo $basketItem['shop_article_amount'] ?></td>
                    <td><?php echo number_format($basketItem['shop_article_price'], 2, ',', '.') ?> &euro;</td>
                    <td><?php echo number_format($basketItem['shop_article_price_total'], 2, ',', '.') ?> &euro;</td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
        </tbody>
    </table>
    <br>
    <p>
        <span class="underlined text-bold">Versanddienstleister</span>
        <br>
        <?php echo $this->basketItems[0]['shipping_method'] ?>
        <br>
        <span class="underlined text-bold">Sendungsnummer</span>
        <br>
        <?php echo $this->shipmentNo ?>
    </p>
    <p>Mit dieser Lieferung ist Ihr Auftrag erf&uuml;llt.</p>
    <p>
        <span class="underlined text-bold">Lieferadresse</span>
        <br>
        <?php echo $this->addressShipping ?>
    </p>
    <p>
        Wir wünschen Ihnen viel Freude mit unseren Produkten und freuen uns Sie bald wieder in unserem Online-Shop begr&uuml;&szlig;en zu dürfen.
    </p>
    <p>
        Im Anhang dieser E-Mail erhaltn Sie die Rechnung zu Ihrer Bestellung.
    </p>
    <p>Viele Gr&uuml;&szlig;e</p>
    <p>Ihr Systemgurt-Team</p>
    <hr class="hr-dottet">
    <br>
    <p>
        <?php echo $this->impressumHtml ?>
    </p>
    <br>
    <br>
    <br>
    <p class="text-small-10">
        Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat sind
        oder diese E-Mail irrtümlich erhalten haben, informieren Sie bitte sofort den Absender und vernichten Sie diese Mail. Das
        unerlaubte Kopieren sowie die unbefugte Weitergabe dieser E-Mail ist nicht gestattet.
        <br>
        <br>
        This e-mail may contain confidential and/or privileged information. If you are not the intended recipirnt (or have received the
        e-mail in error) please notify the sender immediately and destroy this e-mail. Any unauthorized copying. Disclosure or
        distribution of the material in this e-mail is strictly forbidden.
    </p>
</div>
</body>
</html>
