<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        a, a:visited {
            color: black;
        }

        table {
            border-spacing: 0;
            border-collapse: separate;
        }

        .right-align {
            text-align: right;
        }

        .padding-horizontal-4 {
            padding: 0 4px;
        }

        #arround {
            width: 800px;
            padding: 8px;
            border: 2px solid #7d7d7f;
        }

        .logo {
            padding: 6px;
        }

        hr.hr-dottet {
            border: none;
            border-top: 1px dotted #7d7d7f;
        }

        .logo-text {
            font-size: 28px;
            color: #7E1650;
        }

        .text-bold {
            font-weight: bold;
        }

        .text-small-10 {
            font-size: 10px;
        }

        table.basket-summary {
            width: 90%;
        }

        table.basket-summary thead {
            background-color: #999999;
        }

        table.basket-summary tbody {
            background-color: #cccccc;
        }

        table.basket-summary th, table.basket-summary td {
            padding: 2px;
            border: 1px solid #333333;
        }

        .underlined {
            text-decoration: underline;
        }

        .payment-info {
            padding: 4px;
            border: 1px solid #999999;
            background-color: #cccccc;
        }
    </style>
</head>
<body>
<div id="arround">
    <table>
        <tr>
            <td><img src="" alt="Logo" class="logo" style="height: 100px"></td>
            <td><p class="logo-text">[...Logo Spruch]</p></td>
        </tr>
    </table>
    <hr class="hr-dottet">
    <p class="text-bold">
        Eingang Ihrer Bestellung bei <a href="<?php echo $this->url ?>"><?php echo $this->host ?></a>
        <br>
    </p>
    <p>
        Sehr geehrte/r <?php echo $this->customerName ?>,
        <br>
        <br>
        wir bedanken uns herzlich für Ihren Kauf in unserem Onlineshop.
        <br>
        Ihre Bestellung wird schnellstmöglich bearbeitet.
        <br>
    </p>
    <p class="text-bold">
        Bestellung Nr: <?php echo $this->orderNo ?>
        <br>
        Datum Ihrer Bestellung: <?php echo $this->orderDate ?>
        <?php if (!empty($this->customerNo)) : ?>
            <br>
            Ihre Kundennummer: <?php echo $this->customerNo ?>
        <?php endif; ?>
    </p>
    <p class="text-bold">
        Ihre Bestellübersicht:
    </p>
    <table class="basket-summary">
        <thead>
        <tr>
            <th>Artikel-Nr.</th>
            <th>Bezeichnung</th>
            <th>Anzahl</th>
            <th>Einzelpreis<br>(inkl. MwSt.)</th>
            <th>Gesamtpreis<br>(inkl. MwSt.)</th>
        </tr>
        </thead>
        <tbody>
        <?php if (!empty($this->basketItems) && is_array($this->basketItems)) : ?>
            <?php foreach ($this->basketItems as $basketItem) : ?>
                <tr>
                    <td><?php echo $basketItem['shop_article_sku'] ?></td>
                    <td>
                        <?php echo html_entity_decode($basketItem['shop_article_name']) ?>
                        <br>
                        <?php echo $this->articleDescVariable($basketItem) ?>
                    </td>
                    <td><?php echo $basketItem['shop_article_amount'] ?></td>
                    <td><?php echo number_format($basketItem['shop_article_price'], 2, ',', '.') ?> &euro;</td>
                    <td><?php echo number_format($basketItem['shop_article_price_total'], 2, ',', '.') ?> &euro;</td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
        </tbody>
    </table>
    <br>
    <table>
        <?php if (!empty($this->basketItems[0]['shop_basket_discount_value'])) : ?>
            <tr>
                <td>Rabatt:</td>
                <td class="right-align padding-horizontal-4">
                    <?php echo number_format($this->basketItems[0]['shop_basket_discount_value'], 2, ',', '.') ?> &euro;
                </td>
            </tr>
        <?php endif; ?>
        <tr>
            <td>Summe Artikel:</td>
            <td class="right-align padding-horizontal-4">
                <?php echo number_format($this->xshopBasketEntity->getArticlePriceTotalSumEnd(), 2, ',', '.') ?> &euro;
            </td>
        </tr>
        <tr>
            <td>Versandkosten:</td>
            <td>
                <?php echo number_format($this->xshopBasketEntity->getArticleShippingCostsComputed(), 2, ',', '.') ?> &euro;
            </td>
        </tr>
        <tr class="text-bold">
            <td>Rechnungsbetrag (inkl. MwSt):</td>
            <td class="right-align padding-horizontal-4">
                <?php echo number_format($this->xshopBasketEntity->getTotalCosts(), 2, ',', '.') ?> &euro;
            </td>
        </tr>
    </table>
    <?php if (!empty($this->customerNo)) : ?>
        <br>
        Eine Bestell&uuml;bersicht/Status finden Sie in Ihrem <a href="<?php echo $this->url ?>/einkaeufe">Kundenkonto</a>.
    <?php endif; ?>
    <br>
    <p>
        <span class="underlined text-bold">Rechnungsadresse</span>
        <br>
        <?php echo $this->addressInvoice ?>
    </p>
    <p>
        <span class="underlined text-bold">Lieferadresse</span>
        <br>
        <?php echo $this->addressShipping ?>
    </p>
    <p>
        <span class="underlined text-bold">Gewählte Zahlungsart</span>
        <br>
        <?php echo $this->basketItems[0]['payment_method'] ?>
    </p>
    <?php if ($this->basketItems[0]['payment_method'] == 'prepay') : ?>
        <div class="payment-info">
            <p>
                <span class="underlined text-bold">Hinweise zur Zahlung</span>
                <br>
                <br>
                Bitte &uuml;berweisen Sie den Rechnungsbetrag ohne Abzug per Bank&uuml;berweisung auf folgendes Konto:
                <br>
                <br>
            </p>
            <table>
                <tr>
                    <td>Kontoinhaber:</td>
                    <td class="padding-horizontal-4"><?php echo $this->bank_data_owner ?></td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td class="padding-horizontal-4"><?php echo $this->bank_data_iban ?></td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td class="padding-horizontal-4"><?php echo $this->bank_data_bic ?></td>
                </tr>
                <tr>
                    <td>Verwendungszweck:</td>
                    <td class="padding-horizontal-4">Zahlung-Nr.: <?php echo $this->basketItems[0]['payment_number'] ?></td>
                </tr>
                <tr>
                    <td>Rechnungsbetrag:</td>
                    <td class="padding-horizontal-4">
                        <?php echo number_format($this->xshopBasketEntity->getTotalCosts(), 2, ',', '.') ?> &euro;
                    </td>
                </tr>
            </table>
        </div>
    <?php endif; ?>
    <p>
        Eine Zusammenfassung Ihrer Käufe und den aktuellen Status Ihrer Bestellung finden Sie in Ihrem Kundenkonto.
    </p>
    <p>
        Diese E-Mail dient lediglich der Bestätigung des Einganges Ihrer Bestellung und stellt noch
        keine Annahme Ihres Angebotes auf Abschluss eines Kaufvertrages dar. Der Kaufvertrag
        kommt mit Zustellung der Ware zustande.
    </p>
    <p>
        Sobald die Ware unser Haus verlassen hat, erhalten Sie eine Versandbestätigung
        und Rechnung per E-Mail.
    </p>
    <p>Viele Gr&uuml;&szlig;e</p>
    <p>Ihr Team</p>
    <hr class="hr-dottet">
    <br>
    <p>
        <?php echo $this->impressumHtml ?>
    </p>
    <br>
    <br>
    <br>
    <?php echo $this->cancellationRight ?>
</div>
</body>
</html>
