<?php
//echo $this->printrtextarea($this->basketStatuss);
?>
<select name="<?php echo $this->selectName ?>" class="w3-select w3-border <?php echo $this->cssClass ?>">
    <?php if (true || empty($this->current)) : ?>
    <option value="0">---Status alle---</option>
    <?php endif; ?>
    <?php foreach ($this->basketStatuss as $basketStatus) : ?>
        <option value="<?php echo $basketStatus ?>" <?php echo (!empty($this->current) && $basketStatus == $this->current) ? 'selected="selected"' : '' ?>>
            <?php echo $this->translate($basketStatus, 'bitkornshop') ?>
        </option>
    <?php endforeach; ?>
</select>