<?php
$this->headTitle($this->translate('Mein Profil', 'bitkornshop'));
?>
<div class="w3-row">
    <div class="w3-col l4 m6 w3-padding">
        <div class="w3-card-4 w3-padding" style="">
            <div class="w3-container w3-teal">
                <h4>Basisdaten</h4>
            </div>
            <label for="user_login">Login</label>
            <input type="text" disabled value="<?= $this->user['user_login'] ?>" class="w3-input" id="user_login">
            <label for="user_email">EMail</label>
            <input type="text" disabled value="<?= $this->user['user_email'] ?>" class="w3-input" id="user_email">
            <label for="shop_user_data_number_varchar">Kundennummer</label>
            <input type="text" disabled value="<?= $this->user['shop_user_data_number_varchar'] ?>" class="w3-input" id="shop_user_data_number_varchar">
            <div><br>registriert am <?= date('d.m.Y', $this->user['user_time_create']) ?></div>
        </div>
    </div>

    <div class="w3-col l4 m6 w3-padding">
        <div class="w3-card-4 w3-padding" style="">
            <div class="w3-container w3-teal">
                <h4>Bankdaten</h4>
            </div>
            <form method="post">
                <label for="shop_user_data_bank_owner_name">Kontoinhaber</label>
                <input type="text" disabled value="<?= $this->user['shop_user_data_bank_owner_name'] ?>" class="w3-input" id="shop_user_data_bank_owner_name"
                       name="shop_user_data_bank_owner_name">
                <label for="shop_user_data_bank_bank_name">Bankname</label>
                <input type="text" disabled value="<?= $this->user['shop_user_data_bank_bank_name'] ?>" class="w3-input" id="shop_user_data_bank_bank_name"
                       name="shop_user_data_bank_bank_name">
                <label for="shop_user_data_bank_iban">IBAN</label>
                <input type="text" disabled value="<?= $this->user['shop_user_data_bank_iban'] ?>" class="w3-input" id="shop_user_data_bank_iban" name="shop_user_data_bank_iban">
                <label for="shop_user_data_bank_bic">BIC</label>
                <input type="text" disabled value="<?= $this->user['shop_user_data_bank_bic'] ?>" class="w3-input" id="shop_user_data_bank_bic" name="shop_user_data_bank_bic">
                <!--                <br>-->
                <!--                <input type="submit" name="shop_user_data_bank" value="speichern" class="w3-button bk-grey">-->
            </form>
        </div>
    </div>

    <div class="w3-col l4 m6 w3-padding">
        <div class="w3-card-4 w3-padding" style="">
            <div class="w3-container w3-teal">
                <h4>Passwort ändern</h4>
            </div>
            <form method="post">
                <label for="passwd_old">aktuelles Passwort</label>
                <input type="password" class="w3-input" id="passwd_old" name="passwd_old">
                <label for="passwd_new">neues Passwort</label>
                <input type="password" class="w3-input" id="passwd_new" name="passwd_new">
                <label for="passwd_new_x">neues Passwort wiederholen</label>
                <input type="password" class="w3-input" id="passwd_new_x" name="passwd_new_x">
                <br>
                <?php if (!$this->passwdOk): ?>
                    <input type="submit" name="passwd" value="speichern" class="w3-button bk-grey">
                    <button type="button" id="button_passwd_toggle" class="w3-right" title="Passwörter anzeigen & verstecken"><i class="fas fa-eye"></i></button>
                <?php else: ?>
                    <p>Das Passwort wurde geändert.</p>
                <?php endif; ?>
            </form>
        </div>
    </div>
</div>

<script>
    const iconEye = '<i class="fas fa-eye"></i>';
    const iconEyeSlash = '<i class="fas fa-eye-slash"></i>';
    let passwdHidden = true;
    (function () {
        $('#button_passwd_toggle').click(function () {
            const passwdOld = $('#passwd_old');
            const passwdNew = $('#passwd_new');
            const passwdNewx = $('#passwd_new_x');
            if(passwdHidden) {
                document.getElementById('passwd_old').type = 'text';
                document.getElementById('passwd_new').type = 'text';
                document.getElementById('passwd_new_x').type = 'text';
                passwdHidden = false;
            } else {
                document.getElementById('passwd_old').type = 'password';
                document.getElementById('passwd_new').type = 'password';
                document.getElementById('passwd_new_x').type = 'password';
                passwdHidden = true;
            }
        });
    })();
</script>
