<style type="text/css">
    .border-top {
        border-top: 1px solid black;
    }
</style>
<?php
$this->headTitle($this->translate('Ihre Einkäufe', 'bitkornshop'));

$rowColorClass = '';

function switchedRowColor($lastBasketUnique, $basketUnique, $rowColorClass)
{
    $rowColorClassDev = 'bk-grey-light-bg-alpha-4';
    if (!isset($lastBasketUnique)) {
        return $rowColorClassDev;
    } else if ($lastBasketUnique == $basketUnique) {
        return $rowColorClass;
    } else if ($lastBasketUnique != $basketUnique) {
        return empty($rowColorClass) ? $rowColorClassDev : 'bk-grey-light-bg-alpha-2';
    }
}

?>
<h3>Meine Einkäufe</h3>
<?php if (!empty($this->shopBaskets)) : ?>
    <table class="w3-table">
        <thead class="w3-border w3-grey">
        <tr>
            <th>Artikel</th>
            <th class="w3-right-align">Preis</th>
        </tr>
        </thead>
        <tbody class="w3-border">
        <?php
        $lastBasketUnique = null;
        foreach ($this->shopBaskets as $key => $shopBasket) :
            if ($shopBasket['shop_basket_status'] == 'failed') {
                continue;
            }
            $rowColorClass = switchedRowColor($lastBasketUnique, $shopBasket['shop_basket_unique'], $rowColorClass);
            if (isset($lastBasketUnique) && $lastBasketUnique != $shopBasket['shop_basket_unique']) {
                echo '<tr><td colspan="4" class="w3-gray" style="height: 8px"></td></tr>';
            }
            ?>
            <tr class="<?php echo $rowColorClass ?>">
                <td colspan="2" class="w3-center">
                    <strong>
                        <?php echo date('d.m.Y', $shopBasket['shop_basket_time_create']) ?>
                        <span> - </span>
                        Bestell Nr.: <?= $shopBasket['shop_document_order_number'] ?>
                        <span> - </span>
                        <?php if (!empty($shopBasket['shop_basket_time_payed'])) : ?>
                            Bezahlt am <?php echo date('d.m.Y', $shopBasket['shop_basket_time_payed']) ?>
                        <?php else: ?>
                            Zahlung steht aus
                        <?php endif; ?>
                    </strong>
                </td>
            </tr>
            <tr class="<?php echo $rowColorClass ?>">
                <td class="border-top">
                    <div class="w3-row">
                        <div class="w3-col" style="width: 200px; overflow: auto">
                            <?php echo $this->numberI18n($shopBasket['shop_article_amount']) ?>
                            x
                            <strong><?php echo $shopBasket['shop_article_sku'] ?></strong>
                            <br>
                            <a href="<?php
                            echo $this->url('shop_frontend_article_article',
                                ['article_sefurl' => $this->shopArticleSefurl($shopBasket['shop_article_id'])])
                            ?>">
                                <?php echo $shopBasket['shop_article_name'] ?>
                            </a>
                        </div>
                        <div class="w3-rest">
                            <?php echo $this->articleDescVariable($shopBasket) ?>
                        </div>
                    </div>
                </td>
                <td class="w3-right-align border-top">
                    <?= $this->numberI18n($shopBasket['shop_article_amount'] * $shopBasket['shop_article_price']) ?> &euro;
                </td>
            </tr>
            <?php if (!isset($this->shopBaskets[$key + 1]) || $this->shopBaskets[$key + 1]['shop_basket_unique'] != $shopBasket['shop_basket_unique']) : ?>
            <tr class="<?php echo $rowColorClass ?>">
                <td class="w3-right-align border-top"><strong>Versandkosten</strong></td>
                <td class="w3-right-align border-top">
                    <?= $this->numberI18n($shopBasket['computed_value_article_shipping_costs_computed']) ?>
                </td>
            </tr>
            <tr class="<?php echo $rowColorClass ?>">
                <td class="w3-right-align"><strong>Gesamtkosten</strong></td>
                <td class="w3-right-align">
                    <?= $this->numberI18n($shopBasket['computed_value_article_shipping_costs_computed'] + $shopBasket['computed_value_article_price_total_sum']) ?>
                </td>
            </tr>
            <tr class="<?php echo $rowColorClass ?>">
                <td class="w3-right-align" colspan="2">
                    <?php if (isset($this->invoicesBasketuniqueAssoc[$shopBasket['shop_basket_unique']])) : ?>
                        <a href="<?php
                        echo $this->url('shop_common_pdf_streaminvoice',
                            ['document_id' => $this->shopDocumentIdByBasketUnique($shopBasket['shop_basket_unique'], 'invoice')])
                        ?>"
                           target="_blank"><i class="far fa-file-pdf"></i> Rechnung</a>
                    <?php endif; ?>
                    <?php if (isset($this->ordersBasketuniqueAssoc[$shopBasket['shop_basket_unique']])) : ?>
                        <?php if (isset($this->invoicesBasketuniqueAssoc[$shopBasket['shop_basket_unique']])) : ?>
                            <br>
                        <?php endif; ?>
                        <a href="<?php
                        echo $this->url('shop_common_pdf_streamorder',
                            ['document_id' => $this->ordersBasketuniqueAssoc[$shopBasket['shop_basket_unique']]['shop_document_order_id']])
                        ?>"
                           target="_blank"><i class="far fa-file-pdf"></i> Bestellung</a>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endif; ?>
            <?php
            $lastBasketUnique = $shopBasket['shop_basket_unique'];
        endforeach;
        ?>
        </tbody>
    </table>
<?php else: ?>
    <p>Sie haben bei uns noch keine K&auml;ufe get&auml;tigt.</p>
<?php endif; ?>
