<?php if (!empty($this->shopArticlesData)) : ?>
    <div class="w3-row">
        <?php foreach ($this->shopArticlesData as $shopArticleData) : ?>
            <?php echo $this->shopArticlePreview($shopArticleData) ?>
        <?php endforeach; ?>
    </div>
<?php else : ?>
    <p>Keine Artikel gefunden</p>
<?php endif; ?>
