<?php if (!empty($this->shopArticleData)) : ?>
    <a href="<?php echo $this->shopArticleTypeUrl($this->shopArticleData['shop_article_type'], $this->shopArticleData['shop_article_type_delivery'], $this->shopArticleData['shop_article_sefurl']) . $this->shopArticleUrlAppend ?>">
        <div class="w3-col l4 m6 bks-article-preview" style="height: 250px">
            <br>
            <?php if (isset($this->shopArticleImageData)) : ?>
                <img src="<?php echo $this->imageSrc($this->shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 10], $this->imageEntity) ?>"
                     alt="<?php echo $this->imageEntity->getImageTitle($this->shopArticleImageData['bk_images_image_id']) ?>" class="w3-image">
            <?php else : ?>
                <img src="<?php echo $this->imageEmptySrc(['sixteenToNine' => '10']) ?>" alt="no image" class="w3-image">
            <?php endif; ?>
            <div class="w3-container">
                <h4><?php echo $this->shopArticleData['shop_article_name'] ?></h4>
                <?php if (!empty($this->shopArticleData['shop_article_desc'])) : ?>
                    <p><?php echo $this->shorterText($this->shopArticleData['shop_article_desc'], 100) ?></p>
                <?php endif; ?>
            </div>
        </div>
    </a>
<?php endif; ?>
