<?php // echo $this->printrTextarea($this->shopArticleImagesData) ?>
<?php if (!empty($this->shopArticleImagesData)) : ?>

    <?php foreach ($this->shopArticleImagesData as $shopArticleImageData) : ?>
        <?php $titleCompl = $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) . ' | ' . $this->imageEntity->getImageDesc($shopArticleImageData['bk_images_image_id']) ?>

        <div>
            <a href="<?php echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 120], $this->imageEntity) ?>" class="gallery-link bks-img-slider-img-a"
               data-titlesrc="<?php echo $titleCompl ?>">
                <img src="<?php echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 30], $this->imageEntity) ?>" 
                     alt="<?php echo $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) ?>" 
                     class="bks-img-slider-img"
                     data-titlesrc="<?php echo $titleCompl ?>">
            </a>
        </div>
    <?php endforeach; ?>

    <div class="w3-row-padding w3-section w3-center">
        <?php $imgCount = 1 ?>
        <?php foreach ($this->shopArticleImagesData as $shopArticleImageData) : ?>
            <img src="<?php echo $this->imageSrc($shopArticleImageData['bk_images_image_id'], ['sixteenToNine' => 6], $this->imageEntity) ?>" 
                 alt="<?php echo $this->imageEntity->getImageTitle($shopArticleImageData['bk_images_image_id']) ?>" 
                 class="bks-img-slider-nav w3-opacity w3-hover-opacity-off"
                 data-imgcount="<?php echo $imgCount ?>">
                 <?php $imgCount++ ?>
             <?php endforeach; ?>
    </div>
<?php endif; ?>