<?php
$this->headTitle($this->translate('Artikel Gruppe', 'bitkornshop'));
$this->headMeta()->appendName('title', $this->articleData['shop_article_meta_title']);
$this->headMeta()->appendName('description', $this->articleData['shop_article_meta_desc']);
$this->headMeta()->appendName('keywords', $this->articleData['shop_article_meta_keywords']);
echo $this->printrTextarea($this->textarea);
?>
<div class="content-wrapper">
    <div class="w3-container bks-article-banner">
        <h1><?php echo $this->articleData['shop_article_name'] ?></h1>
    </div>
    <br>
    <div class="w3-container">
        <div class="w3-row">
            <div class="w3-col l6 w3-center">
                <?php if (!empty($this->shopArticleImagesData)) : ?>

                    <?php foreach ($this->shopArticleImagesData as $shopArticleImageData) : ?>
                        <?php $imageFilenames = $this->shopArticleImageRelativeFilename($shopArticleImageData) ?>
                        <?php $imageSixteenToNine = $this->shopArticleImageRelativeFilenameSixteenToNines($shopArticleImageData) ?>
                        <a href="<?php echo $imageSixteenToNine[120] ?>" class="gallery-link"
                           data-titlesrc="<?php echo $shopArticleImageData['shop_article_image_title'] . ' | ' . $shopArticleImageData['shop_article_image_desc'] ?>">
                            <img src="<?php echo $imageSixteenToNine[30] ?>" alt="<?php echo $shopArticleImageData['shop_article_image_title'] ?>" class="bks-img-slider-img">
                        </a>
                    <?php endforeach; ?>

                    <div class="w3-row-padding w3-section w3-center">
                        <?php $imgCount = 1 ?>
                        <?php foreach ($this->shopArticleImagesData as $shopArticleImageData) : ?>
                            <?php $imageFilenames = $this->shopArticleImageRelativeFilename($shopArticleImageData) ?>
                            <?php $imageSixteenToNine = $this->shopArticleImageRelativeFilenameSixteenToNines($shopArticleImageData) ?>

                            <img src="<?php echo $imageSixteenToNine[6] ?>" alt="<?php echo $shopArticleImageData['shop_article_image_title'] ?>"
                                 class="bks-img-slider-nav w3-opacity w3-hover-opacity-off"
                                 data-imgcount="<?php echo $imgCount ?>">
                                 <?php $imgCount++ ?>
                             <?php endforeach; ?>
                    </div>

                <?php else : ?>
                    <p>keine Bilder (TODO: Dummy-Bild)</p>
                <?php endif; ?>
            </div>
            <div class="w3-col l6">
                <p class=""><?php echo $this->translate($this->articleData['shop_article_desc'], 'bitkornshop') ?></p>
                <p><?php echo $this->translate('Artikelnummer', 'bitkornshop') ?>: <?php echo $this->articleData['shop_article_sku'] ?></p>
                <p>
                    <span class="w3-badge w3-padding"><?php echo number_format($this->articleData['shop_article_price'], 2, ',', '.') ?> &euro;</span>
                    <input type="number" value="1" size="3" name="shop_article_amount_<?php echo $this->articleData['shop_article_id'] ?>" style="width: 40px;" class="w3-large">
                    <button class="add-to-basket w3-button w3-grey w3-large"
                            data-articleid="<?php echo $this->articleData['shop_article_id'] ?>">in den Warenkorb</button>
                </p>
            </div>
        </div>
    </div>
</div>