<?php
$this->headTitle('Produkt Kategorie');
//$this->inlineScript()->appendFile($this->basePath('js/spectrum/spectrum.js'));
//$this->headLink()->appendStylesheet($this->basePath('js/spectrum/spectrum.css'));
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Produktkategorie: <strong><?php echo $this->category['shop_article_category_name'] ?></strong>
    <a href="<?php echo $this->url('shop_admin_article_articleadmin_articlecategories') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Kategorieliste') ?>
    </a>
</div>
<div class="w3-small">
    <?php $this->categoryForm->prepare() ?>
    <?php echo $this->form()->openTag($this->categoryForm) ?>
    <?php echo $this->formRow($this->categoryForm->get('shop_article_category_id')) ?>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_name')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_alias')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_hexcolor')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_id_parent')) ?>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_desc')) ?>
        </div>
    </div>
    <br>
    <div class="w3-row">
        <div class="w3-col l3 m3 bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_img')) ?>
        </div>
        <div class="w3-col l3 m3 bk-padding-8">
            <img src="<?php echo $this->category['shop_article_category_img'] ?>" alt="Vorschau Kategoriebild" class="w3-padding">
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l4 m4 bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_meta_title')) ?>
        </div>
        <div class="w3-col l4 m4 bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_meta_desc')) ?>
        </div>
        <div class="w3-col l4 m4 bk-padding-8">
            <?php echo $this->formRow($this->categoryForm->get('shop_article_category_meta_keywords')) ?>
        </div>
    </div>
    <?php echo $this->formSubmit($this->categoryForm->get('submit')) ?>
    <?php echo $this->form()->closeTag() ?>
</div>

<script type="text/javascript">
    $('#wysiwyg').trumbowyg();
</script>
