<?php
$this->headTitle('Produkt-Kategorien');
?>

<h2><?php echo $this->translate('Produkt Kategorien', 'bitkornshop') ?></h2>

<br>
<?php if (!empty($this->categories)) : ?>
    <div class="w3-responsive">
        <table class="w3-table w3-table-all">
            <thead>
            <tr class="w3-grey">
                <th><?php echo $this->translate('Name', 'bitkornshop') ?></th>
                <th><?php echo $this->translate('Beschreibung', 'bitkornshop') ?></th>
                <th><?php echo $this->translate('parent', 'bitkornshop') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->categories as $category) : ?>
                <?php
//                if ($category['shop_article_category_id'] == 1) : continue;
//                endif;
                ?>
                <tr>
                    <td>
                        <a href="<?php echo $this->url('shop_admin_article_articleadmin_articlecategory', ['category_id' => $category['shop_article_category_id']]) ?>">
                            <?php echo $this->translate($category['shop_article_category_name'], 'bitkornshop') ?>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="<?php echo $this->url('shop_frontend_article_articles', ['article_category_alias' => $category['shop_article_category_alias']]) ?>"
                           target="_blank">
                            <i class="fas fa-external-link"></i>
                        </a>
                    </td>
                    <td><?php echo $this->shorterText($category['shop_article_category_desc'], 100) ?></td>
                    <td>
                        <?php echo !empty($category['shop_article_category_id_parent']) ? $this->categoryIdAssoc[$category['shop_article_category_id_parent']]['shop_article_category_name'] : '' ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else : ?>
    <p>Keine Kategorien gefunden</p>
<?php endif; ?>
