<?php
$this->headTitle($this->translate('Shop-Config', 'bitkornshop'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/shop-config-admin.js'));
$lastGroup = '';
?>
<style>
    .direct-edit-input {
        padding: 2px 4px;
        border: 1px solid #999999;
    }

    textarea.w3-input, input.w3-input, label {
        display: inline-block;
    }
</style>
<h3>Shop Konfiguration</h3>
<?php if (!empty($this->configs)) : ?>
    <?php foreach ($this->configs as $group => $configs) : ?>
        <?php if ($lastGroup != $group) : ?>
            <div class="w3-responsive">
            <table class="w3-table w3-bordered">
            <thead class="toggle-tbody cursor-pointer" data-group="<?php echo $group ?>">
            <tr class="w3-grey">
                <th colspan="2">
                    <?php echo $group ?>
                </th>
            </tr>
            <tr>
                <th style="width: 20%;"></th>
                <th style="width: 80%;"></th>
            </tr>
            </thead>
            <tbody id="tbody-<?php echo $group ?>" style="display: none;">
        <?php endif; ?>
        <?php foreach ($configs as $config) : ?>
            <tr title="<?php echo $config['shop_configuration_desc'] ?>">
                <td>
                    <?php echo $config['shop_configuration_name'] ?>
                </td>
                <td>
                    <?php
                    echo $this->directEditInput($config['shop_configuration_inputtype'], $config['shop_configuration_id'],
                        $config['shop_configuration_value'], $config['shop_configuration_valueoptions'])
                    ?>
                </td>
            </tr>
        <?php endforeach; ?>
        <?php if ($lastGroup != $group) : ?>
            </tbody>
            </table>
            </div>
        <?php endif; ?>
        <?php $lastGroup = $group ?>
    <?php endforeach; ?>
<?php endif; ?>
