<?php
$this->headTitle('basket rating');
//echo $this->printrTextarea($this->shopBasketEntityRating);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Warenkorb Bewertung zu: <strong><?php echo $this->basketEntity['shop_article_sku'] . ' | ' . $this->basketEntity['shop_article_name'] ?></strong>
    <a href="<?php echo $this->url('shop_admin_basket_basketadmin_baskets') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Verkäufe') ?>
    </a>
</div>
<?php if (!empty($this->shopBasketEntityRating)) : ?>
    <div class="w3-row w3-padding">
        <div class="w3-col">
            <table class="w3-table">
                <thead>
                    <tr>
                        <th style="width: 140px"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>erstellt</th>
                        <td><?php echo strftime('%c', $this->shopBasketEntityRating['shop_article_rating_time_create']) ?></td>
                    </tr>
                    <tr>
                        <th>Wert</th>
                        <td>
                            <?php echo $this->barRating($this->shopBasketEntityRating['shop_article_rating_value']) ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Bemerkung</th>
                        <td><?php echo $this->shopBasketEntityRating['shop_article_rating_text'] ?></td>
                    </tr>
                    <tr>
                        <th class="w3-padding-12 <?php echo ($this->shopBasketEntityRating['shop_article_rating_published'] == 1) ? 'bk-green-text' : 'bk-red-text' ?>">Veröffentlicht</th>
                        <td>
                            <form method="post">
                                <input class="w3-radio" type="radio" name="published" value="1"
                                       <?php echo ($this->shopBasketEntityRating['shop_article_rating_published'] == 1) ? 'checked' : '' ?>>
                                <label>Ja</label>
                                <input class="w3-radio" type="radio" name="published" value="0"
                                       <?php echo ($this->shopBasketEntityRating['shop_article_rating_published'] == 0) ? 'checked' : '' ?>>
                                <label>Nein</label>
                                <button type="submit" class="bk-grey-light"><i class="fas fa-floppy-o w3-large"></i></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<?php endif; ?>


