<?php
$this->headTitle('baskets admin');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/baskets-clearing.js'));
?>
<h2>Bereinigung der Datenbank</h2>
<p>
    Gelistet werden Warenkörbe die nicht bestellt wurden.
</p>
<div class="w3-row">
    <div class="w3-col">
        <?php if (!empty($this->basketsWithoutBasketEntity)) : ?>
            <p class="w3-small">
                Status "ordered" weist auf einen Programmfehler innerhalb des BasketFinalizeService hin.
                <br>
                Gibt es hier eine Payment-Method und/oder -ID, liegt ein abgebrochender Bezahlvorgang vor.
            </p>
            <table class="w3-table w3-bordered">
                <thead>
                <tr class="w3-grey">
                    <th>Basket ID</th>
                    <th>User?</th>
                    <th>Vertrieb?</th>
                    <th>erstellt</th>
                    <th><?php echo $this->translate('Status') ?></th>
                    <th>bestellt</th>
                    <th><?php echo $this->translate('Payment Method') ?></th>
                    <th><?php echo $this->translate('Payment ID') ?></th>
                    <th>Rabattcode</th>
                    <th><i class="fas fa-shopping-basket"></i>-Items</th>
                    <th>Adressen</th>
                </tr>
                </thead>
                <tbody>
                <?php $basketItemSum = 0 ?>
                <?php $basketAddressSum = 0 ?>
                <?php foreach ($this->basketsWithoutBasketEntity as $basketWithoutBasketEntity) : ?>
                    <?php $basketItemSum += $basketWithoutBasketEntity['shop_basket_item_count'] ?>
                    <?php $basketAddressSum += $basketWithoutBasketEntity['shop_basket_address_count'] ?>
                    <tr>
                        <td>
                            <?php echo $basketWithoutBasketEntity['shop_basket_unique'] ?>
                        </td>
                        <td>
                            <?php echo (!empty($basketWithoutBasketEntity['user_uuid'])) ? 'ja' : 'nein' ?>
                        </td>
                        <td>
                            <?php echo (!empty($basketWithoutBasketEntity['user_uuid_pos'])) ? 'ja' : 'nein' ?>
                        </td>
                        <td>
                            <?php echo (!empty($basketWithoutBasketEntity['shop_basket_time_create'])) ? date('d.m.Y', $basketWithoutBasketEntity['shop_basket_time_create']) : '' ?>
                        </td>
                        <td>
                            <?php echo $basketWithoutBasketEntity['shop_basket_status'] ?>
                        </td>
                        <td>
                            <?php echo (!empty($basketWithoutBasketEntity['shop_basket_time_order'])) ? date('d.m.Y', $basketWithoutBasketEntity['shop_basket_time_order']) : '' ?>
                        </td>
                        <td>
                            <?php echo (!empty($basketWithoutBasketEntity['payment_method'])) ? $basketWithoutBasketEntity['payment_method'] : '' ?>
                        </td>
                        <td>
                            <?php echo (!empty($basketWithoutBasketEntity['payment_number'])) ? $basketWithoutBasketEntity['payment_number'] : '' ?>
                        </td>
                        <td>
                            <?php echo (!empty($basketWithoutBasketEntity['shop_basket_discount_hash'])) ? $basketWithoutBasketEntity['shop_basket_discount_hash'] : '' ?>
                        </td>
                        <td>
                            <?php echo $basketWithoutBasketEntity['shop_basket_item_count'] ?>
                        </td>
                        <td>
                            <?php echo $basketWithoutBasketEntity['shop_basket_address_count'] ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                <?php $sumAll = $this->basketsWithoutBasketEntityCount + $basketItemSum + $basketAddressSum ?>
                <tr>
                    <td colspan="11"></td>
                </tr>
                <tr>
                    <th>
                        Warenkörbe (nicht bestellt = <?php echo $this->basketsWithoutBasketEntityCount ?>)
                    </th>
                    <td colspan="8"></td>
                    <th><?php echo $basketItemSum ?></th>
                    <th><?php echo $basketAddressSum ?></th>
                </tr>
                <tr>
                    <th colspan="11">
                        Summe Datensätze (Warenkörbe + Produkt IDs + Adressen): <?php echo $sumAll ?>
                    </th>
                </tr>
                </tbody>
            </table>
            <br>

            <form method="post" action="" id="clear_basket_form">
                <input type="hidden" name="clear_basket" value="1">
                <input type="submit" id="clear_basket_submit"
                       value="Alle (<?php echo $sumAll ?>) löschen"
                       data-clearcount="<?php echo $sumAll ?>">
            </form>
        <?php else: ?>
            <p>Keine unbestellten Warenkörbe gefunden.</p>
        <?php endif; ?>

    </div>
</div>
<script type="text/javascript">

</script>
