<?php
$this->headTitle('basket admin');
$this->inlineScript()->appendFile($this->basePath('js/app/admin/basket-claim-admin.js'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/basket-admin.js?v=0.0.1'));
echo $this->printrTextarea($this->textarea);
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <a href="<?php echo $this->url('shop_admin_basket_basketadmin_baskets') ?>" class="w3-right w3-small">
        <i class="fas fa-backward"></i> <?php echo $this->translate('Verkäufe') ?>
    </a>
</div>
<?php if (!empty($this->shopBasket)) : ?>
    <div class="w3-row w3-padding w3-small">
        <div class="w3-col">
            <div style="overflow-x:auto;">
                <table class="w3-table-all">
                    <thead>
                    <tr class="bk-marine">
                        <th colspan="9"><?php echo $this->translate('Warenkorb gesamt') ?></th>
                    </tr>
                    <tr>
                        <th><?php echo $this->translate('Zahlungs-Nr.') ?></th>
                        <th><?php echo $this->translate('Anzahl') ?></th>
                        <th><?php echo $this->translate('Gewicht') ?></th>
                        <th><?php echo $this->translate('Preis') ?></th>
                        <th><?php echo $this->translate('Versand') ?></th>
                        <th><?php echo $this->translate('Gesamt') ?></th>
                        <th><?php echo $this->translate('Status') ?></th>
                        <th><?php echo $this->translate('Zeit erstellt') ?></th>
                        <th><?php echo $this->translate('Zeit bezahlt') ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="w3-grey">
                        <td><?php echo $this->shopBasket[0]['payment_number'] ?></td>
                        <td><?php echo $this->shopBasket[0]['computed_value_article_id_count'] ?></td>
                        <td><?php echo $this->numberI18n($this->shopBasket[0]['computed_value_article_weight_sum']) ?></td>
                        <td><?php echo $this->numberI18n($this->shopBasket[0]['computed_value_article_price_total_sum']) ?> &euro;</td>
                        <td><?php echo $this->numberI18n($this->shopBasket[0]['computed_value_article_shipping_costs_computed']) ?> &euro;</td>
                        <td>
                            <?php
                            echo $this->numberI18n($this->shopBasket[0]['computed_value_article_price_total_sum'] +
                                $this->shopBasket[0]['computed_value_article_shipping_costs_computed'])
                            ?> &euro;
                        </td>
                        <td><?php echo $this->shopBasket[0]['shop_basket_status'] ?></td>
                        <td><?php echo date('H:i:s d.m.Y', $this->shopBasket[0]['shop_basket_time_create']) ?></td>
                        <td>
                            <?php
                            echo (!empty($this->shopBasket[0]['shop_basket_time_payed'])) ? date('H:i:s d.m.Y',
                                $this->shopBasket[0]['shop_basket_time_payed']) : ''
                            ?>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div style="overflow-x:auto;">
                <table class="w3-table-all">
                    <thead>
                    <tr class="bk-marine">
                        <th colspan="9"><?php echo $this->translate('Warenkorb Inhalt') ?></th>
                    </tr>
                    <tr>
                        <th style="width: 10%;"><?php echo $this->translate('Anzahl') ?></th>
                        <th><?php echo $this->translate('Artikel-Nr.') ?></th>
                        <th><?php echo $this->translate('Artikel-Bezeichnung') ?></th>
                        <th><?php echo $this->translate('Gewicht') ?></th>
                        <th><?php echo $this->translate('Preis/Netto') ?></th>
                        <th><?php echo $this->translate('Gesamt/Netto') ?></th>
                        <th><?php echo $this->translate('Einzel-Versand') ?></th>
                        <th style="width: 10%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->shopBasket as $shopBasketItem) : ?>
                        <tr>
                            <td><?php echo $shopBasketItem['shop_article_amount'] ?></td>
                            <td><?php echo $shopBasketItem['shop_article_sku'] ?></td>
                            <td>
                                <?php echo $shopBasketItem['shop_article_name'] ?>
                                <?php echo $this->articleDescVariable($shopBasketItem) ?>
                            </td>
                            <td><?php echo $this->numberI18n($shopBasketItem['shop_article_weight']) ?></td>
                            <td>
                                <?php
                                echo $this->numberI18n($shopBasketItem['shop_article_price'])
                                ?> &euro;
                                /
                                <?php
                                echo $this->numberI18n($shopBasketItem['article_price_net'])
                                ?> &euro;
                            </td>
                            <td>
                                <?php
                                echo $this->numberI18n($shopBasketItem['shop_article_price_total'])
                                ?> &euro;
                                /
                                <?php
                                echo $this->numberI18n($shopBasketItem['article_price_total_net'])
                                ?> &euro;
                            </td>
                            <td><?php echo $this->numberI18n($shopBasketItem['shop_article_shipping_costs_single']) ?> &euro;</td>
                            <td>
                                <?php if (isset($this->claimsIdAssoc[$shopBasketItem['shop_basket_item_id']])) : ?>
                                    <?php $retoureColor = ($this->claimsIdAssoc[$shopBasketItem['shop_basket_item_id']]['shop_basket_claim_finished'] == 1) ? 'w3-green' : 'bk-warn' ?>
                                    <button class="w3-button <?php echo $retoureColor ?> w3-small basket-claim-modal-button"
                                            data-basketitemid="<?php echo $shopBasketItem['shop_basket_item_id'] ?>"
                                            data-basketclaimid="<?php echo $this->claimsIdAssoc[$shopBasketItem['shop_basket_item_id']]['shop_basket_claim_id'] ?>"
                                            data-basketclaimreason="<?php echo $this->claimsIdAssoc[$shopBasketItem['shop_basket_item_id']]['shop_basket_claim_reason'] ?>"
                                            data-basketclaimfinished="<?php echo $this->claimsIdAssoc[$shopBasketItem['shop_basket_item_id']]['shop_basket_claim_finished'] ?>">
                                        Retoure edit
                                    </button>
                                <?php else: ?>
                                    <button class="w3-button bk-grey w3-small basket-claim-modal-button"
                                            data-basketitemid="<?php echo $shopBasketItem['shop_basket_item_id'] ?>">
                                        Retoure neu
                                    </button>
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    <tr class="w3-grey">
                        <td><?php echo $this->shopBasket[0]['computed_value_article_id_count'] ?></td>
                        <td colspan="2"></td>
                        <td><?php echo $this->numberI18n($this->shopBasket[0]['computed_value_article_weight_sum']) ?></td>
                        <td></td>
                        <td><?php echo $this->numberI18n($this->shopBasket[0]['computed_value_article_price_total_sum']) ?> &euro;</td>
                        <td colspan="2"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr class="hr-bold">
    <div class="w3-row w3-padding">
        <div class="w3-col l10 m10">
        <?= $this->addressDisplay(['basketunique' => $this->shopBasket[0]['shop_basket_unique'], 'userUuid' => $this->shopBasket[0]['user_uuid']], true) ?>
        </div>
        <div class="w3-col l2 m2">
        <?php if (empty($this->shopBasket[0]['user_uuid'])) : ?>
            Nicht registrierter user
        <?php else: ?>
            <a href="<?php echo $this->url('shop_admin_user_shopuseradmin_shopuser', ['user_uuid' => $this->shopBasket[0]['user_uuid']]) ?>" class="w3-button bk-grey-light">
                <i class="fas fa-user"></i>
            </a>
        <?php endif; ?>
    </div>
    </div>

    <hr class="hr-bold">
    <div class="w3-row w3-padding">
        <div class="w3-col">
            <form method="post" action="<?php
            echo $this->url('shop_admin_basket_basketadmin_basket', ['basket_unique' => $this->shopBasket[0]['shop_basket_unique']])
            ?>" class="">
                <div class="w3-col l2 m2">
                    <br>
                    <?php if ($this->shopBasket[0]['shop_basket_status'] != 'shipped') : ?>
                        <?php
                        echo $this->basketStatusSelect('shop_basket_status', $this->shopBasket[0]['shop_basket_status'], 'w3-border')
                        ?>
                    <?php else : ?>
                        <div class="bk-green-text">
                            <i class="fas fa-building fa-2x"></i>
                            <?php
                            echo $this->translate($this->shopBasket[0]['shop_basket_status'], 'bitkornshop')
                            ?>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="w3-col l2 m4">
                    <?php if ($this->shopBasket[0]['shop_basket_status'] == 'ordered') : ?>
                        <label class="w3-inline-block">Bezahlt am
                            <input type="text" name="shop_basket_time_payed" value="" class="w3-input w3-border datepicker">
                        </label>
                    <?php endif; ?>
                </div>
                <div class="w3-col l6 m4 w3-padding">
                    <?php if ($this->shopBasket[0]['shop_basket_status'] == 'payed' || $this->shopBasket[0]['shop_basket_status'] == 'shipped') : ?>
                        <label class="w3-inline-block">Versand-Nummer
                            <?php if (empty($this->shopBasket[0]['shipping_number'])) : ?>
                                <input type="text" name="shipping_number" value="<?php echo $this->shopBasket[0]['shipping_number'] ?>" class="w3-input w3-border w3-inline-block">
                            <?php else: ?>
                                <pre class="w3-border"><?php echo $this->shopBasket[0]['shipping_number'] ?></pre>
                            <?php endif; ?>
                        </label>
                        <label class="w3-inline-block">Versand-Dienstleister
                            <?php if (empty($this->shopBasket[0]['shipping_number'])) : ?>
                                <input type="text" name="shipping_method" value="UPS" readonly="readonly" class="w3-input w3-border w3-inline-block">
                            <?php else: ?>
                                <pre class="w3-border"><?php echo $this->shopBasket[0]['shipping_method'] ?></pre>
                            <?php endif; ?>
                        </label>
                    <?php endif; ?>
                </div>
                <div class="w3-col l2 m2">

                    <?php if ($this->shopBasket[0]['shop_basket_status'] != 'shipped') : ?>
                        <br>
                        <input type="submit" class="w3-button bk-grey" value="speichern">
                    <?php endif; ?>
                </div>
            </form>
        </div>
    </div>
    <hr class="hr-bold">
    <div class="w3-row w3-padding">
        <div class="w3-col l4 m4">
            <?php if (!empty($this->shopDocumentOrder)) : ?>
                <a href="<?php
                echo $this->url('shop_common_pdf_streamorder', ['document_id' => $this->shopDocumentOrder['shop_document_order_id']])
                ?>" class="w3-button"
                   target="_blank"><i class="far fa-file-pdf"></i> Bestellung</a>
            <?php endif; ?>
        </div>
        <div class="w3-col l4 m4">
            <?php if (!empty($this->shopDocumentInvoice)) : ?>
                <a href="<?php
                echo $this->url('shop_common_pdf_streaminvoice', ['document_id' => $this->shopDocumentInvoice['shop_document_invoice_id']])
                ?>"
                   target="_blank"><i class="far fa-file-pdf"></i> Rechnung</a>
            <?php else : ?>
                <form method="post" action="">
                    <button type="submit" value="1" name="shop_document_invoice_create" class="w3-button bk-grey">Rechnung erstellen</button>
                </form>
            <?php endif; ?>
        </div>
        <div class="w3-col l4 m4">
            <?php if (!empty($this->shopDocumentDelivery)) : ?>
                <a href="<?php
                echo $this->url('shop_common_pdf_streamdelivery',
                    ['document_id' => $this->shopDocumentDelivery['shop_document_delivery_id']])
                ?>"
                   target="_blank"><i class="far fa-file-pdf"></i> Lieferschein</a>
            <?php else : ?>
                <form method="post" action="">
                    <button type="submit" value="1" name="shop_document_delivery_create" class="w3-button bk-grey">Lieferschein erstellen</button>
                </form>
            <?php endif; ?>
        </div>
    </div>
    <hr class="hr-bold">
    <div class="w3-container">
        <form method="post" action="<?php
        echo $this->url('shop_admin_basket_basketadmin_basket', ['basket_unique' => $this->shopBasket[0]['shop_basket_unique']]) ?>" id="shop-basket-email-form">
            <div class="w3-bar">
                <?php if ($this->shopBasket[0]['shop_basket_status'] == 'ordered' || $this->shopBasket[0]['shop_basket_status'] == 'payed' || $this->shopBasket[0]['shop_basket_status'] == 'shipped') : ?>
                    <button type="button" name="ordered" class="w3-button bk-grey shop-basket-email"
                            data-translate="<?php echo $this->translate('ordered', 'bitkornshop') ?>"><strong>Bestellt</strong>-Email erneut senden
                    </button>
                <?php endif; ?>
                <?php if ($this->shopBasket[0]['shop_basket_status'] == 'payed' || $this->shopBasket[0]['shop_basket_status'] == 'shipped') : ?>
                    <button type="button" name="payed" class="w3-button bk-grey shop-basket-email"
                            data-translate="<?php echo $this->translate('payed', 'bitkornshop') ?>"><strong>Bezahlt</strong>-Email erneut senden
                    </button>
                <?php endif; ?>
                <?php if ($this->shopBasket[0]['shop_basket_status'] == 'shipped') : ?>
                    <button type="button" name="shipped" class="w3-button bk-grey shop-basket-email"
                            data-translate="<?php echo $this->translate('shipped', 'bitkornshop') ?>">
                        <strong>Versandt</strong>-Email erneut senden
                    </button>
                    <?php if (empty($this->basketEntityRating)) : ?>
                        <?php if (!empty($this->shopBasket[0]['shop_basket_entity_rating_reminder_send'])) : ?>
                            <span class="w3-right">Erinnerung gesendet: <?php
                                echo date('d.m.Y H:i:s', $this->shopBasket[0]['shop_basket_entity_rating_reminder_send'])
                                ?>
                        </span>
                        <?php endif; ?>
                        <button type="button" name="basket_entity_rating" class="w3-button bk-grey shop-basket-rating-email w3-right"
                                data-translate="<?php echo $this->translate('Warenkorb-Bewertung', 'bitkornshop') ?>">
                            <strong>Warenkorb-Bewertung</strong>-Email senden
                        </button>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            <input type="hidden" name="shop_basket_email_type" value="">
            <input type="submit" name="shop_basket_email" value="" class="w3-hide">
        </form>
    </div>
    <hr class="hr-bold">
    <div class="w3-row w3-padding">
        <div class="w3-col">
            <h5>Kommentare</h5>
            <form method="post" action="">
                <textarea name="shop_basket_entity_comments"
                          class="w3-input w3-border"
                          style="resize:none"><?php echo $this->shopBasket[0]['shop_basket_entity_comments'] ?></textarea>
                <br>
                <button type="submit" value="1" name="shop_basket_entity_comments_submit" class="w3-button bk-grey">Kommentare speichern</button>
            </form>
        </div>
    </div>


    <div id="basket-claim-modal" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('basket-claim-modal').style.display = 'none'" class="w3-button w3-display-topright"><i class="fas fa-times"></i></span>
                <form action="<?php echo $this->url('shop_admin_basket_claimadmin_manageclaim') ?>" method="post" class="w3-form">
                    <input type="hidden" name="shop_basket_unique" value="<?php echo $this->shopBasket[0]['shop_basket_unique'] ?>">
                    <input type="hidden" name="shop_basket_item_id" value="">
                    <input type="hidden" name="shop_basket_claim_id" value="">
                    <label class="">Retouren Grund
                        <textarea name="shop_basket_claim_reason" class="w3-input w3-group"></textarea>
                    </label>
                    <fieldset>
                        <legend>erledigt</legend>
                        <label><input type="radio" name="shop_basket_claim_finished" id="shop_basket_claim_finished_0" class="w3-radio" value="0">nein</label>
                        <label><input type="radio" name="shop_basket_claim_finished" id="shop_basket_claim_finished_1" class="w3-radio" value="1" checked="checked">ja</label>
                    </fieldset>
                    <input type="submit" id="shop_basket_claim_submit" name="create" value="erstellen" class="w3-button bk-grey w3-group">
                </form>
            </div>
        </div>
    </div>
    <div id="dialog-confirm" title=""></div>
<?php else: ?>
    <p>Kein Warenkorbinhalt gefunden.</p>
<?php endif; ?>
