<?php
$this->headTitle('Verkäufe');
//echo $this->printrTextarea($this->shopBaskets);
$this->inlineScript()->appendFile($this->basePath('js/app/admin/baskets-admin.js'));
?>
<h2><?php echo $this->translate('Verkäufe', 'bitkornshop') ?></h2>
<div class="w3-row">
    <form method="post" action="<?php echo $this->url('shop_admin_basket_basketadmin_baskets', ['user_uuid' => $this->userUuid]) ?>" class="">
        <div class="w3-col l2 m2">
            <input type="text" name="payment_number" class="w3-input w3-border" placeholder="Payment-ID" value="<?php echo $this->paymentNumber ?>">
        </div>
        <div class="w3-col l2 m2">
            <input type="text" name="shop_document_order_number" class="w3-input w3-border" placeholder="Bestell-Nr." value="<?php echo $this->shopDocumentOrderNumber ?>">
        </div>
        <div class="w3-col l2 m2">
            <input type="text" name="shop_basket_time_create_from" class="datepicker w3-input w3-border" placeholder="von" value="<?php echo $this->shopBasketTimeCreateFrom ?>">
        </div>
        <div class="w3-col l2 m2">
            <input type="text" name="shop_basket_time_create_to" class="datepicker w3-input w3-border" placeholder="bis" value="<?php echo $this->shopBasketTimeCreateTo ?>">
        </div>
        <div class="w3-col l2 m2">
            <?php echo $this->basketStatusSelect('shop_basket_status', $this->shopBasketStatus, 'w3-border') ?>
        </div>
        <div class="w3-col l1 m1">
            &nbsp;
            <input type="submit" class="w3-button bk-grey" value="los">
        </div>
        <div class="w3-col l3 m3 w3-small">
            <?php if (!empty($this->userData)) : ?>
                Ergebnisse für Kunde
                <br>
                <?php echo '<strong>' . $this->userData['user_login'] . '</strong> (<strong>' . $this->userData['shop_user_data_number_varchar'] . '</strong>)' ?>
            <?php endif; ?>
        </div>
    </form>
</div>
<br>
<div class="w3-row">
    <div class="w3-col">
        <?php if (!empty($this->shopBaskets)) : ?>
            <div style="overflow-x:auto;">
                <table class="w3-table w3-table-all">
                    <thead>
                    <tr class="w3-grey">
                        <th><?php echo $this->translate('Zeit bestellt') ?></th>
                        <th><?php echo $this->translate('Bestell-Nr.') ?></th>
                        <th><?php echo $this->translate('Anzahl') ?></th>
                        <th><?php echo $this->translate('Wert') ?></th>
                        <th><?php echo $this->translate('Status') ?></th>
                        <th class="w3-center"><?php echo $this->translate('bezahlt') ?></th>
                        <th class="w3-center"><?php echo $this->translate('versandt') ?></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    $basketUniqueLast = '';
                    foreach ($this->shopBaskets as $shopBasket) :
                        if ($basketUniqueLast == $shopBasket['shop_basket_unique']) {
                            continue;
                        }
                        $basketUniqueLast = $shopBasket['shop_basket_unique'];
                        ?>
                        <tr id="tr_<?php echo $shopBasket['shop_basket_unique'] ?>">
                            <td class="w3-small">
                                <?php echo str_replace(' CEST', '', strftime('%c', $shopBasket['shop_basket_time_order'])) ?>
                            </td>
                            <td title="<?php echo $shopBasket['shop_basket_entity_id'] ?>"><?php echo $shopBasket['shop_document_order_number'] ?></td>
                            <td><?php echo $shopBasket['computed_value_article_amount_sum'] ?></td>
                            <td>
                                <?php
                                echo number_format($shopBasket['computed_value_article_price_total_sum'] +
                                    $shopBasket['computed_value_article_shipping_costs_computed'], 2, ',', '.')
                                ?> &euro;
                            </td>
                            <td><?php echo $shopBasket['shop_basket_status'] ?></td>
                            <td class="w3-center">
                                <?php
                                echo (!empty($shopBasket['shop_basket_time_payed'])) ? '<i class="fas fa-check bk-green-text"></i>' : '<i class="fas fa-times bk-red-text"></i>'
                                ?>
                            </td>
                            <td class="w3-center">
                                <?php
                                echo (!empty($shopBasket['shipping_number'])) ? '<i class="fas fa-check bk-green-text"></i>' : '<i class="fas fa-times bk-red-text"></i>'
                                ?>
                            </td>
                            <td class="w3-right-align">
                                <button id="basket-details-modal-button" class="w3-button w3-small bk-grey-light"
                                        data-basketunique="<?php echo $shopBasket['shop_basket_unique'] ?>"><i class="far fa-eye"></i>
                                </button>
                                &nbsp;
                                <a href="<?php echo $this->url('shop_admin_basket_basketadmin_basket', ['basket_unique' => $shopBasket['shop_basket_unique']]) ?>"
                                   class="w3-button w3-small bk-grey-light">
                                    bearbeiten
                                </a>
                                <?php if ($this->isAdmin) : ?>
                                    &nbsp;
                                    <button class="w3-button w3-small w3-red delete-basket" data-basketunique="<?php echo $shopBasket['shop_basket_unique'] ?>">
                                        <i class="fas fa-times"></i>
                                    </button>
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        <?php else: ?>
            <p>Keine Eink&auml;ufe gefunden.</p>
        <?php endif; ?>

    </div>
</div>

<div id="basket-details-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container" id="basket-details-modal-content">

            <div></div>
        </div>
    </div>
</div>
